
<form [formGroup]="form" (ngSubmit)="save(form.value)" class="form-horizontal" novalidate>
  <fieldset>

    <!--<div class="form-group" [ngClass]="{ 'has-error' : !form.controls.submitDays.valid && submitted }">
      <label class="col-md-2 control-label">Submit days
        <a tooltip="Submit days" tooltipPlacement="right"><span class="fa fa-info-circle"></span></a>
      </label>
      <div class="col-md-6 time-selector">
        <div class="btn-group">
          <button type="button" class="btn btn-default">Monday</button>
          <button type="button" class="btn btn-default">Tuesday</button>
          <button type="button" class="btn btn-default">Wenesday</button>
          <button type="button" class="btn btn-default">Thursday</button>
          <button type="button" class="btn btn-default">Friday</button>
          <button type="button" class="btn btn-default">Saturday</button>
          <button type="button" class="btn btn-default">Sunday</button>
        </div>
        <div *ngIf="!form.controls.submitDays.valid && submitted">
          <span class="help-block">Type a correct submit days</span>
        </div>
      </div>
    </div>-->
    <div class="form-group" [ngClass]="{ 'has-error' : !form.controls.submitTime.valid && submitted }">
      <label class="col-md-2 control-label">Submit time
        <a tooltip="Submit time" tooltipPlacement="right"><span class="fa fa-info-circle"></span></a>
      </label>
      <div class="col-md-3 time-selector">
        <input formControlName="submitTime" type="time" class="form-control" />
      </div>
    </div>
    <div formGroupName="delayTime" class="form-group" [ngClass]="{ 'has-error' : !form.controls.delayTime.controls.time.valid && submitted }">
      <label class="col-md-2 control-label">Delay time
        <a tooltip="Delay time" tooltipPlacement="right"><span class="fa fa-info-circle"></span></a>
      </label>
      <div class="col-md-6 time-selector">
        <input formControlName="time" type="number" class="form-control" />
        <select formControlName="unit" class="form-control">
          <option value="0">Seconds</option>
          <option value="1">Minutes</option>
        </select>
      </div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error' : !form.controls.attempNumber.valid && submitted }">
      <label class="col-md-2 control-label">Attemp number
        <a tooltip="Attemp number" tooltipPlacement="right"><span class="fa fa-info-circle"></span></a>
      </label>
      <div class="col-md-6 time-selector">
        <input formControlName="attempNumber" type="number" class="form-control" />
      </div>
    </div>
    <div formGroupName="lapseTime" class="form-group" [ngClass]="{ 'has-error' : !form.controls.lapseTime.controls.time.valid && submitted }">
      <label class="col-md-2 control-label">Lapse time
        <a tooltip="Lapse time" tooltipPlacement="right"><span class="fa fa-info-circle"></span></a>
      </label>
      <div class="col-md-6 time-selector">
        <input formControlName="time" type="number" class="form-control" />
        <select formControlName="unit" class="form-control">
          <option value="0">Seconds</option>
          <option value="1">Minutes</option>
          <option value="2">Hours</option>
          <option value="3">Days</option>
        </select>
      </div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error' : !form.controls.onErrorAttempNumber.valid && submitted }">
      <label class="col-md-2 control-label">On error attemp number
        <a tooltip="On error attemp number" tooltipPlacement="right"><span class="fa fa-info-circle"></span></a>
      </label>
      <div class="col-md-6 time-selector">
        <input formControlName="onErrorAttempNumber" type="number" class="form-control" />
      </div>
    </div>
    <div formGroupName="onErrorLapseTime" class="form-group" [ngClass]="{ 'has-error' : !form.controls.onErrorLapseTime.controls.time.valid && submitted }">
      <label class="col-md-2 control-label">On error lapse time
        <a tooltip="On error lapse time" tooltipPlacement="right"><span class="fa fa-info-circle"></span></a>
      </label>
      <div class="col-md-6 time-selector">
        <input formControlName="time" type="number" class="form-control" />
        <select formControlName="unit" class="form-control">
          <option value="0">Seconds</option>
          <option value="1">Minutes</option>
          <option value="2">Hours</option>
          <option value="3">Days</option>
        </select>
      </div>
    </div>  

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button-save [form]="form" [working]="working" [alerts]="alerts" (onClick)="setSubmitted($event)"></button-save>
        <button-reset [form]="form" [working]="working" (onClick)="reset($event)"></button-reset>
      </div>
    </div>
  </fieldset>
</form>