<ol class="breadcrumb">
  <li>
    <a href="javascript:void(0);">Configuración</a>
  </li>
  <li class="active">Certificados digitales</li>
</ol>

<ul class="nav nav-tabs nav-tabs-pf">
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
    <a routerLink="./">Activos</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="./_all">Todos</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="./_providers">Proveedores</a>
  </li>
</ul>

<router-outlet></router-outlet>
