<div class="nav-pf-vertical nav-pf-vertical-with-sub-menus hide-nav-pf">
	<ul class="list-group">
		<li class="list-group-item" routerLinkActive="active">
			<a routerLink="dashboard">
				<span class="fa fa-dashboard" title="Dashboard"></span>
				<span class="list-group-item-value">Dashboard</span>
			</a>
		</li>
		<li class="list-group-item" routerLinkActive="active">
			<a routerLink="invoices">
				<span class="fa fa-wpforms" title="Invoices"></span>
				<span class="list-group-item-value">Invoices</span>
			</a>
		</li>
		<li class="list-group-item" routerLinkActive="active">
			<a routerLink="creditnotes">
				<span class="fa fa-credit-card" title="Credit Notes"></span>
				<span class="list-group-item-value">Credit Notes</span>
			</a>
		</li>
		<li class="list-group-item" routerLinkActive="active">
			<a routerLink="debitnotes">
				<span class="fa fa-eraser" title="Debit Notes"></span>
				<span class="list-group-item-value">Debit Notes</span>
			</a>
		</li>
		<li class="list-group-item" routerLinkActive="active">
			<a routerLink="settings">
				<span class="fa fa-gear" title="Settings"></span>
				<span class="list-group-item-value">Settings</span>
			</a>
		</li>
	</ul>
</div>