<form [formGroup]="form" (ngSubmit)="save()" class="form-horizontal" novalidate>
  <fieldset>
    <div class="form-group" [ngClass]="{ 'has-error' : !form.controls.countryIdentificationCode.valid && submitted }">
      <label class="col-md-2 control-label">{{ 'HOME.COUNTRY_IDENTIFICATION_CODE' | translate }}        
        <i class="fa fa-question-circle text-muted" tooltip="Country identification code" tooltipPlacement="right" tooltipTrigger="mouseover mouseout"></i>
      </label>
      <div class="col-md-2">
        <input formControlName="countryIdentificationCode" type="text" class="form-control" />
        <div *ngIf="!form.controls.countryIdentificationCode.valid && submitted">
          <span *ngIf="form.controls.countryIdentificationCode.errors.required" class="help-block">This field is required</span>
          <span *ngIf="form.controls.countryIdentificationCode.errors.maxlength" class="help-block">Max length {{form.controls.countryIdentificationCode.errors.maxlength.requiredLength}}</span>
        </div>
      </div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error' : !form.controls.countrySubentity.valid && submitted }">
      <label class="col-md-2 control-label">{{ 'HOME.COUNTRY_SUBENTITY' | translate }}
        <i class="fa fa-question-circle text-muted" tooltip="Country subentity" tooltipPlacement="right" tooltipTrigger="mouseover mouseout"></i>
      </label>
      <div class="col-md-5">
        <input formControlName="countrySubentity" type="text" class="form-control" />
        <div *ngIf="!form.controls.countrySubentity.valid && submitted">
          <span *ngIf="form.controls.countrySubentity.errors.required" class="help-block">This field is required</span>
          <span *ngIf="form.controls.countrySubentity.errors.maxlength" class="help-block">Max length {{form.controls.countrySubentity.errors.maxlength.requiredLength}}</span>
        </div>
      </div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error' : !form.controls.citySubdivisionName.valid && submitted }">
      <label class="col-md-2 control-label">{{ 'HOME.CITY_SUBDIVISION_NAME' | translate }}
        <i class="fa fa-question-circle text-muted" tooltip="City sub division name" tooltipPlacement="right" tooltipTrigger="mouseover mouseout"></i>
      </label>
      <div class="col-md-3">
        <input formControlName="citySubdivisionName" type="text" class="form-control" />
        <div *ngIf="!form.controls.citySubdivisionName.valid && submitted">
          <span *ngIf="form.controls.citySubdivisionName.errors.required" class="help-block">This field is required</span>
          <span *ngIf="form.controls.citySubdivisionName.errors.maxlength" class="help-block">Max length {{form.controls.citySubdivisionName.errors.maxlength.requiredLength}}</span>
        </div>
      </div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error' : !form.controls.cityName.valid && submitted }">
      <label class="col-md-2 control-label">{{ 'HOME.CITY_NAME' | translate }}
        <i class="fa fa-question-circle text-muted" tooltip="City name" tooltipPlacement="right" tooltipTrigger="mouseover mouseout"></i>
      </label>
      <div class="col-md-2">
        <input formControlName="cityName" type="text" class="form-control" />
        <div *ngIf="!form.controls.cityName.valid && submitted">
          <span *ngIf="form.controls.cityName.errors.required" class="help-block">This field is required</span>
          <span *ngIf="form.controls.cityName.errors.maxlength" class="help-block">Max length {{form.controls.cityName.errors.maxlength.requiredLength}}</span>
        </div>
      </div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error' : !form.controls.district.valid && submitted }">
      <label class="col-md-2 control-label">{{ 'HOME.DISTRIC' | translate }}
        <i class="fa fa-question-circle text-muted" tooltip="District" tooltipPlacement="right" tooltipTrigger="mouseover mouseout"></i>
      </label>
      <div class="col-md-5">
        <input formControlName="district" type="text" class="form-control" />
        <div *ngIf="!form.controls.district.valid && submitted">
          <span *ngIf="form.controls.district.errors.required" class="help-block">This field is required</span>
          <span *ngIf="form.controls.district.errors.maxlength" class="help-block">Max length {{form.controls.district.errors.maxlength.requiredLength}}</span>
        </div>
      </div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error' : !form.controls.streetName.valid && submitted }">
      <label class="col-md-2 control-label">{{ 'HOME.STREET_NAME' | translate }}
        <i class="fa fa-question-circle text-muted" tooltip="Street name" tooltipPlacement="right" tooltipTrigger="mouseover mouseout"></i>
      </label>
      <div class="col-md-3">
        <input formControlName="streetName" type="text" class="form-control" />
        <div *ngIf="!form.controls.streetName.valid && submitted">
          <span *ngIf="form.controls.streetName.errors.required" class="help-block">This field is required</span>
          <span *ngIf="form.controls.streetName.errors.maxlength" class="help-block">Max length {{form.controls.streetName.errors.maxlength.requiredLength}}</span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button-save [form]="form" [working]="working" (onClick)="setSubmitted($event)"></button-save>
        <button-reset [form]="form" [working]="working" (onClick)="reset($event)"></button-reset>
      </div>
    </div>
  </fieldset>
</form>