<span class="k8s-label">
    <span class="label-pair">
        <a href="" class="label-key label truncate" title="All deployment configs with the label 'app' (any value)">app</a>
        <a href="" class="label-value label truncate" title="All deployment configs with the label 'app=jenkins-persistent'">jenkins-persistent</a>
    </span>
</span>
<span class="k8s-label">
    <span class="label-pair">
        <a href="" class="label-key label truncate" title="All deployment configs with the label 'app' (any value)">app</a>
        <a href="" class="label-value label truncate" title="All deployment configs with the label 'app=jenkins-persistent'">jenkins-persistent</a>
    </span>
</span>