<br>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-6">
			<fieldset>
				<legend>
					<h4>Current Keys</h4>
				</legend>
			</fieldset>
			<div class="form-horizontal">
				<div class="form-group">
					<label class="col-md-2 control-label">Public Key
						<i class="fa fa-question-circle text-muted" ngbTooltip="organization of the organization" placement="right"></i>
          			</label>
					<div class="col-md-10">
						<textarea [(ngModel)]="organization.publicKey" type="text" class="form-control" rows="4" readonly></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label">Certificate
						<i class="fa fa-question-circle text-muted" ngbTooltip="organization of the organization" placement="right"></i>
          			</label>
					<div class="col-md-10">
						<textarea [(ngModel)]="organization.certificate" type="text" class="form-control" rows="8" readonly></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-10 col-md-offset-2">
						<button (click)="generateKeys(contentNew)" class="btn btn-default" type="button">Generate new Keys</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<fieldset>
				<legend>
					<h4>Import keys</h4>
				</legend>
			</fieldset>
			<div class="form-horizontal">
				<div class="form-group">
					<label class="col-md-2 control-label">Private Key
					<i class="fa fa-question-circle text-muted" ngbTooltip="organization of the organization" placement="right"></i>
          		</label>
					<div class="col-md-4">
						<button-upload-file (complete)="privateKeyUpload($event)"></button-upload-file>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label">Public Key
					<i class="fa fa-question-circle text-muted" ngbTooltip="organization of the organization" placement="right"></i>
          		</label>
					<div class="col-md-4">
						<button-upload-file (complete)="publicKeyUpload($event)"></button-upload-file>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label">Certificate
					<i class="fa fa-question-circle text-muted" ngbTooltip="organization of the organization" placement="right"></i>
          		</label>
					<div class="col-md-4">
						<button-upload-file (complete)="certificateUpload($event)"></button-upload-file>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-10 col-md-offset-2">
						<button (click)="import(contentImport)" [disabled]="!((privateKeyUploadContent && publicKeyUploadContent) || certificateUploadContent)"
							class="btn btn-primary" type="button">Upload Keys</button>
						<button (click)="clearImport()" [disabled]="!privateKeyUploadContent && !publicKeyUploadContent && !certificateUploadContent"
							class="btn btn-default" type="button">Clear</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<template #contentNew let-c="close" let-d="dismiss">
	<div class="modal-body">
		<h1>Are you sure you want to generate new keys?</h1>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-lg btn-primary" (click)="c('Save')">Save</button>
		<button type="button" class="btn btn-lg btn-default" (click)="d('Cancel')">Cancel</button>
	</div>
</template>

<template #contentImport let-c="close" let-d="dismiss">
	<div class="modal-body">
		<h1>Are you sure you want to upload keys for this organization?</h1>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-lg btn-primary" (click)="c('Save')">Save</button>
		<button type="button" class="btn btn-lg btn-default" (click)="d('Cancel')">Cancel</button>
	</div>
</template>