<div class="modal-header">
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Close')">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">Are you sure to save this transaction?</h4>
</div>

<div class="modal-body">
  <fieldset>
    <legend>Resumen</legend>
    <dl class="dl-horizontal left">
      <dt>
        Total Retencion:
        <span title="The currency of the Retention." class="pficon pficon-help text-muted small"></span>
      </dt>
      <dd *ngIf="totalRetencion">{{totalRetencion | number:'1.2-3'}}</dd>
      <dd *ngIf="!totalRetencion"><em>0.00</em></dd>
      <dt>
        Total Pago:
        <span title="The currency of the Retention." class="pficon pficon-help text-muted small"></span>
      </dt>
      <dd *ngIf="totalPago">{{totalPago | number:'1.2-3'}}</dd>
      <dd *ngIf="!totalPago"><em>0.00</em></dd>
    </dl>
  </fieldset>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="activeModal.dismiss('Cancel')">Cancel</button>
  <button type="button" class="btn btn-primary" (click)="activeModal.close(true)">Save</button>
</div>
