<of-settings-tabset [organization]="organization"></of-settings-tabset>

<form [formGroup]="form" (ngSubmit)="save(form)" class="form-horizontal">
    <of-form-fields-status [ofForm]="form"></of-form-fields-status>
    <div class="form-group" [ofFormFieldValidationState]="form.get('additionalAccountId')">
        <label class="col-md-2 control-label" [ofFormRequiredLabel]="form.get('additionalAccountId')">{{'additional-account-id' | translate}}
            <i class="fa fa-question-circle text-muted" ngbTooltip="{{'additional-account-id' | translate}}." placement="right"></i>
        </label>
        <div class="col-md-3">
            <select formControlName="additionalAccountId" class="form-control">
                <option *ngFor="let documentEntidad of tiposDocumentEntidad" [value]="documentEntidad.codigo">{{documentEntidad.denominacion}}</option>
            </select>
            <of-form-field-validation-messages [ofFormControl]="form.get('additionalAccountId')">
            </of-form-field-validation-messages>
        </div>
    </div>
    <div class="form-group" [ofFormFieldValidationState]="form.get('assignedIdentificationId')">
        <label class="col-md-2 control-label" [ofFormRequiredLabel]="form.get('assignedIdentificationId')">{{'document-id' | translate}}
            <i class="fa fa-question-circle text-muted" ngbTooltip="{{'document-id' | translate}}." placement="right"></i>
        </label>
        <div class="col-md-3">
            <div class="input-group">
                <input formControlName="assignedIdentificationId" type="text" class="form-control" [readonly]="finding" />
                <span class="input-group-btn">
                    <button *ngIf="!finding" (click)="searchOnSunatAndReniec()" type="button" class="btn btn-default" ngbTooltip="Buscar en Sunat o Reniec">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                    <button *ngIf="finding" disabled type="button" class="btn btn-default" ngbTooltip="Buscando...">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                </span>
            </div>
            <of-form-field-validation-messages [ofFormControl]="form.get('assignedIdentificationId')">
            </of-form-field-validation-messages>
        </div>
    </div>
    <div class="form-group" [ofFormFieldValidationState]="form.get('registrationName')">
        <label class="col-md-2 control-label" [ofFormRequiredLabel]="form.get('registrationName')">{{'registration-name' | translate}}
            <i class="fa fa-question-circle text-muted" ngbTooltip="{{'registration-name' | translate}}" placement="right"></i>
        </label>
        <div class="col-md-4">
            <input formControlName="registrationName" type="text" class="form-control" />
            <of-form-field-validation-messages [ofFormControl]="form.get('registrationName')">
            </of-form-field-validation-messages>
        </div>
    </div>
    <div class="form-group" [ofFormFieldValidationState]="form.get('supplierName')">
        <label class="col-md-2 control-label" [ofFormRequiredLabel]="form.get('supplierName')">{{'supplier-name' | translate}}
            <i class="fa fa-question-circle text-muted" ngbTooltip="{{'supplier-name' | translate}}." placement="right"></i>
        </label>
        <div class="col-md-4">
            <input formControlName="supplierName" type="text" class="form-control" />
            <of-form-field-validation-messages [ofFormControl]="form.get('supplierName')">
            </of-form-field-validation-messages>
        </div>
    </div>
    <div formGroupName="postalAddress">
        <div class="form-group" [ofFormFieldValidationState]="form.get('postalAddress').get('countryIdentificationCode')">
            <label class="col-md-2 control-label" [ofFormRequiredLabel]="form.get('postalAddress').get('countryIdentificationCode')">{{'country-identification-code' | translate}}
                <i class="fa fa-question-circle text-muted" ngbTooltip="Codigo Pais." placement="right"></i>
            </label>
            <div class="col-md-2">
                <select formControlName="countryIdentificationCode" class="form-control">
                    <option *ngFor="let identificationCode of countryIdentifications" [value]="identificationCode.codigo">{{identificationCode.denominacion}}</option>
                </select>
                <of-form-field-validation-messages [ofFormControl]="form.get('postalAddress').get('countryIdentificationCode')">
                </of-form-field-validation-messages>
            </div>
        </div>
        <div class="form-group" [ofFormFieldValidationState]="form.get('postalAddress').get('countrySubentity')">
            <label class="col-md-2 control-label" [ofFormRequiredLabel]="form.get('postalAddress').get('countrySubentity')">{{'country-sub-entity' | translate}}
                <i class="fa fa-question-circle text-muted" ngbTooltip="Departamento." placement="right"></i>
            </label>
            <div class="col-md-4">
                <input formControlName="countrySubentity" type="text" class="form-control" />
                <of-form-field-validation-messages [ofFormControl]="form.get('postalAddress').get('countrySubentity')">
                </of-form-field-validation-messages>
            </div>
        </div>
        <div class="form-group" [ofFormFieldValidationState]="form.get('postalAddress').get('cityName')">
            <label class="col-md-2 control-label" [ofFormRequiredLabel]="form.get('postalAddress').get('cityName')">{{'city-name' | translate}}
                <i class="fa fa-question-circle text-muted" ngbTooltip="Provincia." placement="right"></i>
            </label>
            <div class="col-md-4">
                <input formControlName="cityName" type="text" class="form-control" />
                <of-form-field-validation-messages [ofFormControl]="form.get('postalAddress').get('cityName')">
                </of-form-field-validation-messages>
            </div>
        </div>
        <div class="form-group" [ofFormFieldValidationState]="form.get('postalAddress').get('district')">
            <label class="col-md-2 control-label" [ofFormRequiredLabel]="form.get('postalAddress').get('district')">{{'district' | translate}}
                <i class="fa fa-question-circle text-muted" ngbTooltip="Distrito." placement="right"></i>
            </label>
            <div class="col-md-4">
                <input formControlName="district" type="text" class="form-control" />
                <of-form-field-validation-messages [ofFormControl]="form.get('postalAddress').get('district')">
                </of-form-field-validation-messages>
            </div>
        </div>
        <div class="form-group" [ofFormFieldValidationState]="form.get('postalAddress').get('citySubdivisionName')">
            <label class="col-md-2 control-label" [ofFormRequiredLabel]="form.get('postalAddress').get('citySubdivisionName')">{{'city-subdivision-name' | translate}}
                <i class="fa fa-question-circle text-muted" ngbTooltip="Urbanizacion." placement="right"></i>
            </label>
            <div class="col-md-4">
                <input formControlName="citySubdivisionName" type="text" class="form-control" />
                <of-form-field-validation-messages [ofFormControl]="form.get('postalAddress').get('citySubdivisionName')">
                </of-form-field-validation-messages>
            </div>
        </div>
        <div class="form-group" [ofFormFieldValidationState]="form.get('postalAddress').get('streetName')">
            <label class="col-md-2 control-label" [ofFormRequiredLabel]="form.get('postalAddress').get('streetName')">{{'street-name' | translate}}
                <i class="fa fa-question-circle text-muted" ngbTooltip="Calle / Direccion." placement="right"></i>
            </label>
            <div class="col-md-4">
                <input formControlName="streetName" type="text" class="form-control" />
                <of-form-field-validation-messages [ofFormControl]="form.get('postalAddress').get('streetName')">
                </of-form-field-validation-messages>
            </div>
        </div>
        <div class="form-group" [ofFormFieldValidationState]="form.get('postalAddress').get('postalAddressId')">
            <label class="col-md-2 control-label" [ofFormRequiredLabel]="form.get('postalAddress').get('postalAddressId')">{{'postal-address-id' | translate}}
                <i class="fa fa-question-circle text-muted" ngbTooltip="Codigo postal." placement="right"></i>
            </label>
            <div class="col-md-4">
                <div class="input-group">
                    <input formControlName="postalAddressId" type="text" class="form-control" />
                    <div class="input-group-addon" (click)="postalAddress()">
                        <span class="glyphicon glyphicon-map-marker"></span>
                    </div>
                    <of-form-field-validation-messages [ofFormControl]="form.get('postalAddress').get('postalAddressId')">
                    </of-form-field-validation-messages>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-2 col-lg-offset-2">
            <of-button-save [ofForm]="form" [working]="working"></of-button-save>
            <of-button-reset [ofForm]="form" (ofOnReset)="loadData()"></of-button-reset>
        </div>
    </div>
</form>