.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;

  /*Chrome, Safari*/
    -webkit-transition: width 8ms linear 1s;
    /*Firefox*/
    -moz-transition: width 8ms linear 1s;
    /*Opera*/
    -o-transition: width 8ms linear 1s;
    /*Standard*/
    transition: width 8ms linear 1s;
}
.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

