<div class="row row-cards-pf">
  <!-- Important:  if you need to nest additional .row within a .row.row-cards-pf, do *not* use .row-cards-pf on the nested .row  -->
    <div class="col-xs-6 col-sm-6 col-md-6">
      <div class="card-pf" style="height: 62px;">
        <div class="card-pf-body" style="height: 40px;">
          <p>[card contents]</p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
      <div class="card-pf" style="height: 62px;">
        <div class="card-pf-body" style="height: 40px;">
          <p>[card contents]</p>
        </div>
      </div>
    </div>
  </div>
