<div class="container-fluid container-cards-pf">
	<div class="row row-cards-pf">
		<div class="col-md-12">
			<form [formGroup]="form" (ngSubmit)="save(form.value)" class="form-horizontal">
				<p class="fields-status-pf">The fields marked with <span class="required-pf">*</span> are required.</p>				
				<div class="form-group">
					<label class="col-md-2 control-label">Enable Authentication
						<i class="fa fa-question-circle text-muted" ngbTooltip="starttls of the organization" placement="right"></i>
          			</label>
					<div class="col-md-4">
						<div class="checkbox">
							<label>
								<input formControlName="auth" type="checkbox"> Check for enable Authentication
							</label>
						</div>
					</div>
				</div>
				<div class="form-group" [hidden]="!form.get('auth').value">
					<label class="col-md-2 control-label"></label>
					<div class="col-md-4">
						<div class="row" style="margin-left: 0; margin-right: 0;">
							<div class="col-md-12">
								<div class="form-group" class="form-group" [ngClass]="{ 'has-error' : !form.get('ublUsername').valid && form.get('ublUsername').dirty }">
									<label class="control-label required-pf">Username</label>
									<input formControlName="ublUsername" type="text" class="form-control" placeholder="Login Username">
								</div>
								<div class="form-group" class="form-group" [ngClass]="{ 'has-error' : !form.get('ublPassword').valid && form.get('ublPassword').dirty }">
									<label class="control-label required-pf">Password</label>
									<input formControlName="ublPassword" type="password" class="form-control" placeholder="Login Password">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-2 col-lg-offset-2">
						<button-save [form]="form" [working]="working"></button-save>
						<button type="button" (click)="loadData()" class="btn btn-default" [disabled]="!form.dirty">Cancel</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>