<template #content let-c="close" let-d="dismiss">
  <div class="modal-body">
    <div style="padding: 20px 20px 10px 20px">
      <pre>{{ xml }}</pre>
    </div>
  </div>
</template>

<a *ngIf="!buttonOnly" href="javascript:void(0);" (click)="open(content)" [ngClass]="{ 'disabled': disableComponent }">
	<i class="fa fa-file-code-o"> </i> {{label || 'File preview'}}
</a>

<div *ngIf="buttonOnly" class="actions">
  <!-- Avoid whitespace inside the link -->
  <button type="button" (click)="open(content)" class="btn btn-link" [ngClass]="{ 'disabled': disableComponent }">
		<i class="fa fa-file-code-o"></i>
		<span class="sr-only">{{label || 'File preview'}}</span>
	</button>
</div>