<div class="row">
	<div class="col-lg-9">

		<of-document-edit-header [organization]="organization" [document]="document" [breadcrumb]="'summary-documents'" [documentType]="'summary-document'"
			[enableDownloadPdf]="false" [enableDownloadCdr]="false" [enableAssignCreditNote]="false" [enableAssignDebitNote]="false"
			[enableVoid]="false" [enableCheckTicket]="true"></of-document-edit-header>

			<br>
			<div *ngIf="!documentJson">
				<div class="spinner"></div>
			</div>

			<div *ngIf="documentJson">
				<div class="row">
					<div class="col-lg-6">
						<fieldset>
							<legend>
								<h3>{{'general-information' | translate}}</h3>
							</legend>
						</fieldset>
						<dl class="dl-horizontal left">
							<dt>
								{{'issue-date' | translate}}:
								<span ngbTooltip="Issue Date." placement="right" class="pficon pficon-help text-muted small"></span>
							</dt>
							<dd *ngIf="documentJson.IssueDate">{{documentJson.IssueDate}}</dd>
							<dd *ngIf="!documentJson.IssueDate"><em>{{'not-registered' | translate}}</em></dd>
							<dt>
								Fecha Referencia
								<span ngbTooltip="ReferenceDate." placement="right" class="pficon pficon-help text-muted small"></span>
							</dt>
							<dd *ngIf="documentJson.ReferenceDate">%{{documentJson.ReferenceDate}}</dd>
							<dd *ngIf="!documentJson.ReferenceDate"><em>{{'not-registered' | translate}}</em></dd>
						</dl>
					</div>

					<div class="col-lg-6">
						<fieldset>
							<legend>
								<h3>{{'supplier-party' | translate}}</h3>
							</legend>
						</fieldset>
						<dl class="dl-horizontal left">
							<dt>
								{{'assigned-account-id' | translate}}:
								<span ngbTooltip="AccountingSupplierParty / CustomerAssignedAccountID." placement="right" class="pficon pficon-help text-muted small"></span>
							</dt>
							<dd>{{documentJson.AccountingSupplierParty.CustomerAssignedAccountID}}</dd>
							<template ngIf="documentJson.AccountingSupplierParty.Party">
								<dt>
									{{'registration-name' | translate}}:
									<span ngbTooltip="AccountingSupplierParty / Party / Party Legal Entity / Registration Name." placement="right" class="pficon pficon-help text-muted small"></span>
								</dt>
								<dd>
									<ul class="list-unstyled" style="margin-bottom: 0px;">
										<li *ngFor="let partyLegalEntity of (documentJson.AccountingSupplierParty.Party.PartyLegalEntity | toArray)">{{partyLegalEntity.RegistrationName}}</li>
									</ul>
								</dd>
							</template>
						</dl>
					</div>
				</div>
				<!--<div class="row">
					<div class="col-md-12">
						<div>
							<h3>Detalle</h3>
						</div>
						<div>
							<div class="table-responsive">
								<table class="datatable table table-striped table-bordered dataTable no-footer table-mobile">
									<thead>
										<tr>
											<th class="text-right">#</th>
											<th class="text-right">Serie</th>
											<th class="text-right">Numero</th>
											<th class="text-right">Codigo Tipo Documento</th>
											<th class="text-right">Descripcion</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let documentReference of (documentJson.VoidedDocumentsLine | toArray); let i = index;">
											<td class="text-right">{{i+1}}</td>
											<td class="text-right">{{documentReference.DocumentSerialID}}</td>
											<td class="text-right">{{documentReference.DocumentNumberID}}</td>
											<td class="text-right">{{documentReference.DocumentTypeCode}}</td>
											<td class="text-right">{{documentReference.VoidReasonDescription}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>-->
			</div>

	</div>

	<div class="col-lg-3 sidebar-right sidebar-pf sidebar-pf-right">
		<of-document-edit-right-sidebar [document]="document"></of-document-edit-right-sidebar>
	</div>
</div>

<br>