<div class="row">
  <div class="col-md-12">

    <ol class="breadcrumb">
      <li><a routerLink="../">{{'retentions' | translate}}</a></li>
      <li>{{'create-retention' | translate}}</li>
    </ol>

    <h1>{{'create-retention' | translate}}</h1>
    <!--<ul class="nav nav-tabs">
      <li routerLinkActive="active">
        <a href="javascript:void(0);">{{'form' | translate}}</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="../upload">{{'upload' | translate}}</a>
      </li>
    </ul>-->

    <form [formGroup]="form" (ngSubmit)="save(form)">
      <of-form-fields-status [ofForm]="form"></of-form-fields-status>

      <div class="row">
        <div class="col-md-2">
          <div class="form-group" [ofFormFieldValidationState]="form.get('monedaDocumento')">
            <label class="control-label" [ofFormRequiredLabel]="form.get('monedaDocumento')">Moneda
              <i class="fa fa-question-circle text-muted" ngbTooltip="Moneda de emision" placement="right"></i>
            </label>
            <div formControlName="monedaDocumento" ngbRadioGroup class="of-display-block">
              <label *ngFor="let moneda of monedasSoportadas" class="btn btn-default">
                <input type="radio" [value]="moneda.codigo">{{moneda.codigo}}
              </label>
            </div>
            <of-form-field-validation-messages [ofFormControl]="form.get('monedaDocumento')">
            </of-form-field-validation-messages>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group" [ofFormFieldValidationState]="form.get('codigoDocumento')">
            <label class="control-label" [ofFormRequiredLabel]="form.get('codigoDocumento')">Tipo Retencion
              <i class="fa fa-question-circle text-muted" ngbTooltip="Tipo de retencion" placement="right"></i>
            </label>
            <select formControlName="codigoDocumento" class="form-control" autofocus>
              <option *ngFor="let tipoRegimen of tiposRegimenRetencion" [value]="tipoRegimen.codigo">{{tipoRegimen.denominacion}}</option>
            </select>
            <of-form-field-validation-messages [ofFormControl]="form.get('codigoDocumento')">
            </of-form-field-validation-messages>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group" [ofFormFieldValidationState]="form.get('tasaDocumento')">
            <label class="control-label" [ofFormRequiredLabel]="form.get('tasaDocumento')">Porcentaje
              <i class="fa fa-question-circle text-muted" ngbTooltip="Enabled of the organization" placement="right"></i>
            </label>
            <input formControlName="tasaDocumento" type="text" class="form-control" readonly>
            <of-form-field-validation-messages [ofFormControl]="form.get('tasaDocumento')">
            </of-form-field-validation-messages>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group" [ofFormFieldValidationState]="form.get('entidadTipoDeDocumento')">
            <label class="control-label" [ofFormRequiredLabel]="form.get('entidadTipoDeDocumento')">DNI/RUC
              <i class="fa fa-question-circle text-muted" ngbTooltip="Tipo documento del cliente" placement="right"></i>
            </label>
            <select formControlName="entidadTipoDeDocumento" class="form-control">
              <option *ngFor="let documentEntidad of tiposDocumentEntidad" [value]="documentEntidad.codigo">{{documentEntidad.denominacion}}</option>
            </select>
            <of-form-field-validation-messages [ofFormControl]="form.get('entidadTipoDeDocumento')">
            </of-form-field-validation-messages>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group" [ofFormFieldValidationState]="form.get('entidadNumeroDeDocumento')">
            <label class="control-label" [ofFormRequiredLabel]="form.get('entidadNumeroDeDocumento')">Nro.Documento
              <i class="fa fa-question-circle text-muted" ngbTooltip="Numero de documento del cliente" placement="right"></i>
            </label>
            <input formControlName="entidadNumeroDeDocumento" type="text" class="form-control">
            <of-form-field-validation-messages [ofFormControl]="form.get('entidadNumeroDeDocumento')">
            </of-form-field-validation-messages>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group" [ofFormFieldValidationState]="form.get('entidadDenominacion')">
            <label class="control-label" [ofFormRequiredLabel]="form.get('entidadDenominacion')">Nombre/R.Social
            <i class="fa fa-question-circle text-muted" ngbTooltip="Nombre o razon social del cliente" placement="right"></i>
          </label>
            <input formControlName="entidadDenominacion" type="text" class="form-control">
            <of-form-field-validation-messages [ofFormControl]="form.get('entidadDenominacion')">
            </of-form-field-validation-messages>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group" [ofFormFieldValidationState]="form.get('entidadEmail')">
            <label class="control-label" [ofFormRequiredLabel]="form.get('entidadEmail')">Email
              <i class="fa fa-question-circle text-muted" ngbTooltip="Email del cliente" placement="right"></i>
            </label>
            <input formControlName="entidadEmail" type="email" class="form-control" placeholder="email@domain.com" />
            <of-form-field-validation-messages [ofFormControl]="form.get('entidadEmail')">
            </of-form-field-validation-messages>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group" [ofFormFieldValidationState]="form.get('enviarAutomaticamenteASunat')">
            <label class="control-label" [ofFormRequiredLabel]="form.get('enviarAutomaticamenteASunat')">Enviar Sunat
						  <i class="fa fa-question-circle text-muted" ngbTooltip="Tru/false si quiere enviar inmediatamente a la SUNAT" placement="right"></i>
            </label>
            <of-button-switch formControlName="enviarAutomaticamenteASunat" [onText]="'SI'" [offText]="'NO'"></of-button-switch>
            <of-form-field-validation-messages [ofFormControl]="form.get('enviarAutomaticamenteASunat')">
            </of-form-field-validation-messages>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group" [ofFormFieldValidationState]="form.get('enviarAutomaticamenteAlCliente')">
            <label class="control-label" [ofFormRequiredLabel]="form.get('enviarAutomaticamenteAlCliente')">Enviar Cliente
					    <i class="fa fa-question-circle text-muted" ngbTooltip="True/false si quiere enviar inmediatamente al cliente" placement="right"></i>
            </label>
            <of-button-switch formControlName="enviarAutomaticamenteAlCliente" [onText]="'SI'" [offText]="'NO'"></of-button-switch>
            <of-form-field-validation-messages [ofFormControl]="form.get('enviarAutomaticamenteAlCliente')">
            </of-form-field-validation-messages>
          </div>
        </div>
      </div>
      <!--/Entidad-->

      <div class="row">
        <div class="col-md-12">
          <table class="table table-striped table-bordered dataTable no-footer">
            <thead>
              <tr>
                <td rowspan="3" class="text-right">#</td>
                <th colspan="2" class="text-center">Documento Relacionado</th>
                <th colspan="1" class="text-center">Tipo de Cambio</th>
                <th colspan="2" class="text-center">Datos de Pago</th>
                <th colspan="2" class="text-center">Datos de Retencion</th>
                <th rowspan="3" class="text-right">Acciones</th>
              </tr>
              <tr>
                <td>Tipo Documento</td>
                <td><label class="required-pf">Serie/Numero</label></td>

                <td class="text-right">Tipo cambio</td>

                <td class="text-right"><label class="required-pf">Pago sin retencion</label></td>
                <td class="text-right"><label class="required-pf">Numero de cobro</label></td>

                <td class="text-right"><label class="required-pf">Importe percibido</label></td>
                <td class="text-right"><label class="required-pf">Importe cobrado</label></td>
              </tr>
            </thead>
            <tbody formArrayName="detalle">
              <template ngFor let-item [ngForOf]="detalle.controls" let-i="index">
                <tr [formGroupName]="i">
                  <td rowspan="3" class="text-right">{{i+1}}</td>
                  <td [ofFormFieldValidationState]="item.get('tipoDocumentoRelacionado')">
                    <select formControlName="tipoDocumentoRelacionado" class="form-control">
                      <option *ngFor="let documentoRelacionado of documentosRelacionadosRetencion" [value]="documentoRelacionado.codigo">{{documentoRelacionado.denominacion}}</option>
                    </select>
                    <of-form-field-validation-messages [ofFormControl]="item.get('tipoDocumentoRelacionado')">
                    </of-form-field-validation-messages>
                  </td>
                  <td [ofFormFieldValidationState]="item.get('numeroDocumentoRelacionado')">
                    <div class="input-group">
                      <input formControlName="numeroDocumentoRelacionado" [textMask]="{mask: documentMask}" (keyup.enter)="findDocument(item)"
                        type="text" class="form-control" placeholder="[B|F]000-0000000">
                        <span class="input-group-btn"> 
                          <button (click)="findDocument(item)" type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                    <of-form-field-validation-messages [ofFormControl]="item.get('numeroDocumentoRelacionado')">
                    </of-form-field-validation-messages>
                  </td>
                  <td [ofFormFieldValidationState]="item.get('tipoCambio')">
                    <input formControlName="tipoCambio" [ofNumberMask]="quantityMask" type="text" class="form-control text-right">
                    <of-form-field-validation-messages [ofFormControl]="item.get('tipoCambio')">
                    </of-form-field-validation-messages>
                  </td>
                  <td [ofFormFieldValidationState]="item.get('pagoDocumentoSunat')">
                    <input formControlName="pagoDocumentoSunat" [ofNumberMask]="quantityMask" type="text" class="form-control text-right">
                    <of-form-field-validation-messages [ofFormControl]="item.get('pagoDocumentoSunat')">
                    </of-form-field-validation-messages>
                  </td>
                  <td [ofFormFieldValidationState]="item.get('numeroPago')">
                    <input formControlName="numeroPago" [ofNumberMask]="integerMask" type="text" class="form-control text-right">
                    <of-form-field-validation-messages [ofFormControl]="item.get('numeroPago')">
                    </of-form-field-validation-messages>
                  </td>
                  <td [ofFormFieldValidationState]="item.get('importeDocumentoSunat')">
                    <input formControlName="importeDocumentoSunat" [ofNumberMask]="numberMask" type="text" class="form-control text-right" readonly>
                    <of-form-field-validation-messages [ofFormControl]="item.get('importeDocumentoSunat')">
                    </of-form-field-validation-messages>
                  </td>
                  <td [ofFormFieldValidationState]="item.get('importePago')">
                    <input formControlName="importePago" [ofNumberMask]="numberMask" type="text" class="form-control text-right" readonly>
                    <of-form-field-validation-messages [ofFormControl]="item.get('importePago')">
                    </of-form-field-validation-messages>
                  </td>
                  <td rowspan="3" class="table-view-pf-actions">
                    <div class="table-view-pf-btn">
                      <button (click)="removeDetalleFormControl(i)" class="btn btn-default" type="button"><span class="fa fa-trash"></span></button>
                    </div>
                  </td>
                </tr>
                <tr [formGroupName]="i">
                  <td rowspan="2" colspan="2">
                    <ul class="list-inline of-no-bottom-margin">
                      <li>
                        <dl class="of-no-bottom-margin">
                          <dt>Monto Total: </dt>
                          <dd>{{item.get('monedaDocumentoRelacionado').value}} {{item.get('totalDocumentoRelacionado').value}}</dd>
                        </dl>
                      </li>
                      <li>
                        <dl class="of-no-bottom-margin">
                          <dt>Fecha: </dt>
                          <dd>{{item.get('fechaDocumentoRelacionado').value | date: 'dd/MM/yyyy'}}</dd>
                        </dl>
                      </li>
                    </ul>
                  </td>
                  <td class="text-right">
                    Fecha de T/C
                  </td>
                  <td colspan="2" class="text-right"></td>
                  <td colspan="2" class="text-right"><label class="required-pf">Fecha importe percibido</label></td>
                </tr>
                <tr [formGroupName]="i">
                  <td [ofFormFieldValidationState]="item.get('fechaCambio')">
                    <div class="input-group of-float-right">
                      <input formControlName="fechaCambio" class="form-control" placeholder="yyyy-mm-dd" ngbDatepicker #d1="ngbDatepicker">
                      <div class="input-group-addon" (click)="d1.toggle()">
                        <span class="glyphicon glyphicon-calendar"></span>
                      </div>
                    </div>
                    <of-form-field-validation-messages [ofFormControl]="item.get('fechaCambio')" class="text-right">
                    </of-form-field-validation-messages>
                  </td>
                  <td colspan="2">
                    <!--<div class="input-group of-float-right">
                      <input class="form-control" placeholder="yyyy-mm-dd" readonly>
                      <div class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                      </div>
                    </div>                    -->
                  </td>
                  <td colspan="2" [ofFormFieldValidationState]="item.get('fechaDocumentoSunat')">
                    <div class="input-group of-float-right">
                      <input formControlName="fechaDocumentoSunat" class="form-control" placeholder="yyyy-mm-dd" ngbDatepicker #d2="ngbDatepicker">
                      <div class="input-group-addon" (click)="d2.toggle()">
                        <span class="glyphicon glyphicon-calendar"></span>
                      </div>
                    </div>
                    <of-form-field-validation-messages [ofFormControl]="item.get('fechaDocumentoSunat')" class="text-right">
                    </of-form-field-validation-messages>
                  </td>
                </tr>
              </template>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="10" class="text-right">
                  <button (click)="addDetalleFormControl()" type="button" class="btn btn-lg btn-default">Agregar Item
                  <span class="fa fa-plus"></span>
                </button>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <!--/Detalle-->

      <br>

      <div class="row">
        <div class="col-md-8">
          <div class="form-group" [ofFormFieldValidationState]="form.get('observaciones')">
            <label class="control-label" [ofFormRequiredLabel]="form.get('observaciones')">Observaciones
              <i class="fa fa-question-circle text-muted" ngbTooltip="Enabled of the organization" placement="right"></i>      
            </label>
            <textarea formControlName="observaciones" rows="5" class="form-control"></textarea>
            <of-form-field-validation-messages [ofFormControl]="form.get('observaciones')">
            </of-form-field-validation-messages>
          </div>
        </div>
        <div class="col-md-4">
          <table class="table table-bordered table-striped">
            <tbody>
              <tr>
                <td>Total Pagado</td>
                <td>{{form.get('totalDocumentoSunat').value | number : '1.2-2'}}</td>
              </tr>
              <tr>
                <td>Total Retenido</td>
                <td>{{form.get('totalPago').value | number : '1.2-2'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!--/ Totales-->

      <of-button-save [ofForm]="form" [working]="working"></of-button-save>
      <of-button-cancel (ofOnCancel)="cancel()"></of-button-cancel>

    </form>
  </div>
</div>