<br>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <td class="text-right">#</td>
      <td class="text-right">{{'date' | translate}}</td>
      <td>{{'result' | translate}}</td>
      <td>{{'description' | translate}}</td>
      <td>{{'destity' | translate}}</td>
      <td>{{'response' | translate}}</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of events; let i = index;">
      <td>{{i+1}}</td>
      <td>{{item.createdTimestamp | date}}</td>
      <td>{{item.result | yesNo: ('success-error' | translate)}}</td>
      <td>{{item.description}}</td>
      <td>
        <em *ngIf="!item.destiny || (item.destiny | keys).length == 0">No registered</em>
        <table *ngIf="item.destiny && (item.destiny | keys).length > 0" class="table table-bordered table-striped">
          <thead>
            <tr>
              <td>{{'key' | translate}}</td>
              <td>{{'value' | translate}}</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let key of item.destiny | keys">
              <td>{{key}}</td>
              <td>{{item.destiny[key]}}</td>
            </tr>
          </tbody>
        </table>
        
        <table *ngIf="item.filesAttatchment && item.filesAttatchment.length > 0">
          <thead>
            <tr>{{'attatchments' | translate}}</tr>
          </thead>
          <tbody>
            <tr *ngFor="let file of item.filesAttatchment">
              <td><a (click)="downloadFile(file)" href="javascript:void();">{{file.fileName}}</a></td>
            </tr>
          </tbody>
        </table>
      </td>
      <td>
        <em *ngIf="!item.response || (item.response | keys).length == 0">No registered</em>
        <table *ngIf="item.response && (item.response | keys).length > 0" class="table table-bordered table-striped">
          <thead>
            <tr>
              <td>{{'key' | translate}}</td>
              <td>{{'value' | translate}}</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let key of item.response | keys">
              <td>{{key}}</td>
              <td>{{item.response[key]}}</td>
            </tr>
          </tbody>
        </table>
        
        <table *ngIf="item.responseFilesAttatchment && item.responseFilesAttatchment.length > 0">
          <thead>
            <tr>{{'attatchments' | translate}}</tr>
          </thead>
          <tbody>
            <tr *ngFor="let file of item.responseFilesAttatchment">
              <td><a (click)="downloadFile(file)" href="javascript:void();">{{file.fileName}}</a></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>