<project-header></project-header>
<project-page>
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Registro de Factura</div>
    <div class="panel-body">
      <!--<form class="form-horizontal">-->
        <div class="form-group">
          <label class="col-sm-2 control-label" for="exampleInput">Serie</label>
          <div class="col-sm-2">
            <input type="text" *ngIf="selectInvoice" [(ngModel)]="selectInvoice.invoiceSet" [ngModelOptions]="{standalone: true}" id="exampleInput"
              class="form-control" placeholder="Serie">
          </div>
          <label class="col-sm-2 control-label" for="exampleInput">Numero</label>
          <div class="col-sm-2">
            <input type="text" *ngIf="selectInvoice" [(ngModel)]="selectInvoice.invoiceNumber" [ngModelOptions]="{standalone: true}"
              id="exampleInput" class="form-control" placeholder="Numero">
          </div>
          <label class="col-sm-2 control-label" for="exampleInput">Fecha Emision</label>
          <div class="col-sm-2">
            <input type="date" *ngIf="selectInvoice" [(ngModel)]="selectInvoice.issueDate" [ngModelOptions]="{standalone: true}" id="exampleInput"
              class="form-control" placeholder="Fecha Emision">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="exampleInput">Ruc</label>
          <div class="col-sm-2">
            <input type="text" *ngIf="selectInvoice" [(ngModel)]="selectInvoice.customer.assignedIdentificationId" [ngModelOptions]="{standalone: true}"
              id="exampleInput" class="form-control" placeholder="RUC">
          </div>
          <label class="col-sm-2 control-label" for="exampleInput">Razon Social</label>
          <div class="col-sm-6">
            <input type="text" *ngIf="selectInvoice" [(ngModel)]="selectInvoice.customer.registrationName" [ngModelOptions]="{standalone: true}"
              id="exampleInput" class="form-control" placeholder="Razon Social">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="exampleInput">Moneda</label>
          <div class="col-sm-2">
            <select class="combobox form-control" *ngIf="selectInvoice" [(ngModel)]="selectInvoice.currencyCode" [ngModelOptions]="{standalone: true}">
              <option *ngFor="let moneda of listMoneda" value="moneda.codigo" >{{moneda.denominacion}}</option>
          
          </select>
          </div>
          <label class="col-sm-2 control-label" for="exampleInput">Afecto</label>
          <div class="col-sm-1">
            <input type="checkbox" *ngIf="selectInvoice" [(ngModel)]="selectInvoice.afectAmount" [ngModelOptions]="{standalone: true}"
            />
          </div>
          <label class="col-sm-2 control-label" for="exampleInput">Email</label>
          <div class="col-sm-3">
            <div class="input-group">
              <span class="input-group-addon">@</span>
              <input type="email" *ngIf="selectInvoice" [(ngModel)]="selectInvoice.customer.email" id="exampleInput" [ngModelOptions]="{standalone: true}"
                class="form-control" placeholder="jane.doe@example.com">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-6">
            <!--<button type="button" class="btn btn-primary btn-xs">Nuevo</button>-->
            <button class="btn btn-primary" (click)="showChildModal()">Nuevo</button>
          </div>
          <div class="col-sm-6"></div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Cantidad</th>
                    <th>U.Medida</th>
                    <th>Producto</th>
                    <th>P.Unitario</th>
                    <th>P. Parcial</th>
                    <th>OP</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let detalleFactura of selectInvoice.lines">
                    <th scope="row">1</th>
                    <td>{{ detalleFactura.quantity }}</td>
                    <td>{{ detalleFactura.unitCode }}</td>
                    <td>{{ detalleFactura.description }}</td>
                    <td class="classAlignRigth">{{ detalleFactura.priceAmount| number:'.2' }}</td>
                    <td class="classAlignRigth">{{ detalleFactura.pricePartial| number:'.2' }}</td>
                    <td>
                      <button type="button" (click)="deleteModel(detalleFactura)" class="close" aria-label="Close"><span aria-hidden="true">&#x02717;</span></button>
                      <button type="button" (click)="Editar(detalleFactura)" class="close" aria-label="Close"><span aria-hidden="true">&#x021D9;</span></button>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th scope="row">&nbsp;</th>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td><label class="control-label" for="exampleInput">SUBTOTAL</label></td>
                    <td class="classAlignRigth">
                      <p>{{subTotal| number:'.2'}}</p>
                    </td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <th scope="row">&nbsp;</th>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td><label class="control-label" for="exampleInput">IGV({{igv|percent:'.0'}})</label></td>
                    <td class="classAlignRigth">
                      <p>{{totalIgv | number:'.2'}}</p>
                    </td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <th scope="row">&nbsp;</th>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td><label class="control-label" for="exampleInput">TOTAL</label></td>
                    <td class="classAlignRigth">
                      <p>{{total| number:'.2'}}</p>
                    </td>
                    <td>&nbsp;</td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">

          </div>
        </div>
      <!--</form>-->
    </div>

    <div class="panel-fotter">
      <button type="submit" class="btn btn-primary">Grabar y Enviar</button>
      <button type="submit" (click)="save()" class="btn btn-primary">Grabar</button>
      <button type="submit" class="btn btn-default">Cancelar</button>
    </div>
  </div>


  <form #form1="NgForm" (ngSubmit)="addDetails(form1.value)" class="form-horizontal" novalidate>
    <div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" (click)="hideChildModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            <h4 class="modal-title">DETALLE DE FACTURA</h4>
          </div>
          <div class="modal-body">
            <div class="form-group" style="display:none">
              <!--<input type="hidden" value="{{idInvoiceDetail}}">-->
            </div>
            <div class="form-group has-success has-feedback">
              <label for="quantity">Cantidad</label>
              <input type="number" class="form-control" name="quantity" placeholder="Cantidad">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Unidad Medida</label>
              <select class="combobox form-control" value="{{selectLines.unitCode}}">
                   <option value="Unidades">Unidades</option>
                   <option value="Galones">Galones</option>            
                   <option value="Pares">Pares</option>
                 </select>
            </div>
            <div class="form-group">
              <label for="description">Producto/Servicio</label>
              <input type="text" class="form-control" value="{{selectLines.description}}" id="description" placeholder="Producto o Servicio"
              />
            </div>
            <div class="form-group">
              <label for="priceAmount">Precio Unitario</label>
              <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="number" class="form-control" value="{{selectLines.priceAmount}}" id="priceAmount" placeholder="Precio Unitario">
                <div class="input-group-addon">.00</div>
              </div>
            </div>
            <!--<div class="form-group">
            <div>quantityControl: {{quantityControl.valid}}</div>
            <div>descryptionControl: {{descryptionControl.valid}}</div>
            <div>priceAmountControl: {{priceAmountControl.valid}}</div>
          </div>-->
          </div>
          <div class="modal-footer">
            <button type="submit" data-dismiss="modal" class="btn btn-primary">Agregar</button>
            <!--<button type="button" class="btn btn-default" (click)="hideChildModal()" data-dismiss="modal">Close</button>-->
          </div>
        </div>
      </div>
    </div>
  </form>
</project-page>