<div class="container-fluid container-cards-pf">
	<div class="row row-cards-pf">
		<div class="col-md-12">
			<form [formGroup]="form" (ngSubmit)="save()" class="form-horizontal">
				<p class="fields-status-pf">The fields marked with <span class="required-pf">*</span> are required.</p>
				<div class="form-group" [ngClass]="{ 'has-error' : !form.get('assignedIdentificationId').valid && form.get('assignedIdentificationId').dirty }">
					<label class="col-md-2 control-label required-pf">Assigned Identification Id
						<i class="fa fa-question-circle text-muted" ngbTooltip="organization of the assignedIdentificationId" placement="right"></i>
          			</label>
					<div class="col-md-3">
						<input formControlName="assignedIdentificationId" type="text" class="form-control" />
						<div *ngIf="!form.get('assignedIdentificationId').valid && form.get('assignedIdentificationId').dirty">
							<span *ngIf="form.get('assignedIdentificationId').hasError('required')" class="help-block">This field is required</span>
							<span *ngIf="form.get('assignedIdentificationId').hasError('maxlength')" class="help-block">Max length allowed: {{form.get('assignedIdentificationId').errors.maxlength.requiredLength}}</span>
						</div>
					</div>
				</div>
				<div class="form-group" [ngClass]="{ 'has-error' : !form.get('additionalAccountId').valid && form.get('additionalAccountId').dirty }">
					<label class="col-md-2 control-label required-pf">Additional Account Id
						<i class="fa fa-question-circle text-muted" ngbTooltip="additionalAccountId of the organization" placement="right"></i>
          			</label>
					<div class="col-md-3">
						<input formControlName="additionalAccountId" type="text" class="form-control" />
						<div *ngIf="!form.get('additionalAccountId').valid && form.get('additionalAccountId').dirty">
							<span *ngIf="form.get('additionalAccountId').hasError('required')" class="help-block">This field is required</span>
							<span *ngIf="form.get('additionalAccountId').hasError('maxlength')" class="help-block">Max length allowed: {{form.get('additionalAccountId').errors.maxlength.requiredLength}}</span>
						</div>
					</div>
				</div>
				<div class="form-group" [ngClass]="{ 'has-error' : !form.get('supplierName').valid && form.get('supplierName').dirty }">
					<label class="col-md-2 control-label required-pf">Supplier Name
						<i class="fa fa-question-circle text-muted" ngbTooltip="supplierName of the organization" placement="right"></i>
          			</label>
					<div class="col-md-4">
						<input formControlName="supplierName" type="text" class="form-control" />
						<div *ngIf="!form.get('supplierName').valid && form.get('supplierName').dirty">
							<span *ngIf="form.get('supplierName').hasError('required')" class="help-block">This field is required</span>
							<span *ngIf="form.get('supplierName').hasError('maxlength')" class="help-block">Max length allowed: {{form.get('supplierName').errors.maxlength.requiredLength}}</span>
						</div>
					</div>
				</div>
				<div class="form-group" [ngClass]="{ 'has-error' : !form.get('registrationName').valid && form.get('registrationName').dirty }">
					<label class="col-md-2 control-label required-pf">Registration Name
						<i class="fa fa-question-circle text-muted" ngbTooltip="registrationName of the organization" placement="right"></i>
          			</label>
					<div class="col-md-4">
						<input formControlName="registrationName" type="text" class="form-control" />
						<div *ngIf="!form.get('registrationName').valid && form.get('registrationName').dirty">
							<span *ngIf="form.get('registrationName').hasError('required')" class="help-block">This field is required</span>
							<span *ngIf="form.get('registrationName').hasError('maxlength')" class="help-block">Max length allowed: {{form.get('registrationName').errors.maxlength.requiredLength}}</span>
						</div>
					</div>
				</div>

				<div formGroupName="postalAddress">
					<div class="form-group" [ngClass]="{ 'has-error' : !form.get('postalAddress').get('cityName').valid && form.get('postalAddress').get('cityName').dirty }">
						<label class="col-md-2 control-label">City Name
						<i class="fa fa-question-circle text-muted" ngbTooltip="registrationName of the organization" placement="right"></i>
          			</label>
						<div class="col-md-4">
							<input formControlName="cityName" type="text" class="form-control" />
							<div *ngIf="!form.get('postalAddress').get('cityName').valid && form.get('postalAddress').get('cityName').dirty">
								<span *ngIf="form.get('postalAddress').get('cityName').hasError('maxlength')" class="help-block">Max length allowed: {{form.get('postalAddress').get('cityName').errors.maxlength.requiredLength}}</span>
							</div>
						</div>
					</div>
					<div class="form-group" [ngClass]="{ 'has-error' : !form.get('postalAddress').get('citySubdivisionName').valid && form.get('postalAddress').get('citySubdivisionName').dirty }">
						<label class="col-md-2 control-label">City Subdivision Name
						<i class="fa fa-question-circle text-muted" ngbTooltip="registrationName of the organization" placement="right"></i>
          			</label>
						<div class="col-md-4">
							<input formControlName="citySubdivisionName" type="text" class="form-control" />
							<div *ngIf="!form.get('postalAddress').get('citySubdivisionName').valid && form.get('postalAddress').get('citySubdivisionName').dirty">
								<span *ngIf="form.get('postalAddress').get('citySubdivisionName').hasError('maxlength')" class="help-block">Max length allowed: {{form.get('postalAddress').get('citySubdivisionName').errors.maxlength.requiredLength}}</span>
							</div>
						</div>
					</div>
					<div class="form-group" [ngClass]="{ 'has-error' : !form.get('postalAddress').get('countryIdentificationCode').valid && form.get('postalAddress').get('countryIdentificationCode').dirty }">
						<label class="col-md-2 control-label">Country Identification Code
						<i class="fa fa-question-circle text-muted" ngbTooltip="registrationName of the organization" placement="right"></i>
          			</label>
						<div class="col-md-2">
							<input formControlName="countryIdentificationCode" type="text" class="form-control" />
							<div *ngIf="!form.get('postalAddress').get('countryIdentificationCode').valid && form.get('postalAddress').get('countryIdentificationCode').dirty">
								<span *ngIf="form.get('postalAddress').get('countryIdentificationCode').hasError('maxlength')" class="help-block">Max length allowed: {{form.get('postalAddress').get('countryIdentificationCode').errors.maxlength.requiredLength}}</span>
							</div>
						</div>
					</div>
					<div class="form-group" [ngClass]="{ 'has-error' : !form.get('postalAddress').get('countrySubentity').valid && form.get('postalAddress').get('countrySubentity').dirty }">
						<label class="col-md-2 control-label">Country Sub Entity
						<i class="fa fa-question-circle text-muted" ngbTooltip="registrationName of the organization" placement="right"></i>
          			</label>
						<div class="col-md-4">
							<input formControlName="countrySubentity" type="text" class="form-control" />
							<div *ngIf="!form.get('postalAddress').get('countrySubentity').valid && form.get('postalAddress').get('countrySubentity').dirty">
								<span *ngIf="form.get('postalAddress').get('countrySubentity').hasError('maxlength')" class="help-block">Max length allowed: {{form.get('postalAddress').get('countrySubentity').errors.maxlength.requiredLength}}</span>
							</div>
						</div>
					</div>
					<div class="form-group" [ngClass]="{ 'has-error' : !form.get('postalAddress').get('district').valid && form.get('postalAddress').get('district').dirty }">
						<label class="col-md-2 control-label">District
						<i class="fa fa-question-circle text-muted" ngbTooltip="registrationName of the organization" placement="right"></i>
          			</label>
						<div class="col-md-4">
							<input formControlName="district" type="text" class="form-control" />
							<div *ngIf="!form.get('postalAddress').get('district').valid && form.get('postalAddress').get('district').dirty">
								<span *ngIf="form.get('postalAddress').get('district').hasError('maxlength')" class="help-block">Max length allowed: {{form.get('postalAddress').get('district').errors.maxlength.requiredLength}}</span>
							</div>
						</div>
					</div>
					<div class="form-group" [ngClass]="{ 'has-error' : !form.get('postalAddress').get('streetName').valid && form.get('postalAddress').get('streetName').dirty }">
						<label class="col-md-2 control-label">Street Name
						<i class="fa fa-question-circle text-muted" ngbTooltip="registrationName of the organization" placement="right"></i>
          			</label>
						<div class="col-md-4">
							<input formControlName="streetName" type="text" class="form-control" />
							<div *ngIf="!form.get('postalAddress').get('streetName').valid && form.get('postalAddress').get('streetName').dirty">
								<span *ngIf="form.get('postalAddress').get('streetName').hasError('maxlength')" class="help-block">Max length allowed: {{form.get('postalAddress').get('streetName').errors.maxlength.requiredLength}}</span>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-2 col-lg-offset-2">
						<button-save [form]="form" [working]="working"></button-save>
						<button type="button" (click)="loadData()" class="btn btn-default" [disabled]="!form.dirty">Cancel</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>