<br>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <td>Time</td>
      <td>Operation Type</td>
      <td>Resource Type</td>
      <td>Resource Path</td>
      <td>Details</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of adminEvents">
      <td>{{item.time | ofToDate | date: 'yyyy/MM/dd HH:mm:ss'}}</td>
      <td>{{item.operationType}}</td>
      <td>{{item.resourceType}}</td>
      <td>{{item.resourcePath}}</td>
      <td>       
        <of-view-object [object]="item" [label]="'view-details' | translate"></of-view-object>
      </td>
    </tr>
  </tbody>
</table>