<br>
<form [formGroup]="form" (ngSubmit)="save(form.value)">
  <p class="fields-status-pf">The fields marked with <span class="required-pf">*</span> are required.</p>

  <div>
    <div class="row">
      <div class="col-md-2">
        <div class="form-group" [ngClass]="{ 'has-error' : !form.get('documentoQueSeModifica').valid && form.get('documentoQueSeModifica').dirty }">
          <label class="control-label required-pf">Boleta/Factura
            <i class="fa fa-question-circle text-muted" ngbTooltip="organization of the organization" placement="right"></i>
          </label>
          <div class="input-group">
            <input type="text" formControlName="documentoQueSeModifica" [textMask]="{mask: documentMask}" (keyup.enter)="findInvoice()" class="form-control" placeholder="[B|F]000-0000000"
              autofocus>
            <span class="input-group-btn"><button (click)="findInvoice()" class="btn btn-default" type="button"><span class="fa fa-search"></span></button>
            </span>
          </div>
          <div *ngIf="!form.get('documentoQueSeModifica').valid && form.get('documentoQueSeModifica').dirty">
            <span *ngIf="form.get('documentoQueSeModifica').hasError('required')" class="help-block">This field is required</span>
            <span *ngIf="!form.get('documentoQueSeModifica').hasError('required') && !form.get('documentoQueSeModifica').valid" class="help-block">Value field is invalid</span>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group" [ngClass]="{ 'has-error' : !form.get('tipoDeNotaDeCredito').valid && form.get('tipoDeNotaDeCredito').dirty }">
          <label class="control-label required-pf">Tipo
            <i class="fa fa-question-circle text-muted" ngbTooltip="organization of the organization" placement="right"></i>
          </label>
          <select formControlName="tipoDeNotaDeCredito" class="form-control" autofocus>
            <option value="" disabled> Seleccione </option>
            <option *ngFor="let tipo of tipoDeNotaDeCredito" [value]="tipo.valor">{{tipo.denominacion}}</option>
          </select>
          <div *ngIf="!form.get('tipoDeNotaDeCredito').valid && form.get('tipoDeNotaDeCredito').dirty">
            <span *ngIf="form.get('tipoDeNotaDeCredito').hasError('required')" class="help-block">This field is required</span>
            <span *ngIf="!form.get('tipoDeNotaDeCredito').hasError('required') && !form.get('tipoDeNotaDeCredito').valid" class="help-block">Value field is invalid</span>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group" [ngClass]="{ 'has-error' : !form.get('operacionGratuita').valid && form.get('operacionGratuita').dirty }">
          <label class="control-label">Op.Gratuita
            <i class="fa fa-question-circle text-muted" ngbTooltip="Enabled of the organization" placement="right"></i>
          </label>
          <of-button-switch formControlName="operacionGratuita" [onText]="'SI'" [offText]="'NO'"></of-button-switch>
          <div *ngIf="!form.get('operacionGratuita').valid && form.get('operacionGratuita').dirty">
            <span *ngIf="form.get('operacionGratuita').errors.required" class="help-block">This field is required</span>
            <span *ngIf="!form.get('operacionGratuita').hasError('required') && !form.get('operacionGratuita').valid" class="help-block">Value field is invalid</span>
          </div>
        </div>
      </div>
    </div>
    <!--/documentoQueSeModifica-->

    <div class="row">
      <div class="col-md-2">
        <div class="form-group" [ngClass]="{ 'has-error' : !form.get('entidadTipoDeDocumento').valid && form.get('entidadTipoDeDocumento').dirty }">
          <label class="control-label required-pf">DNI/RUC
            <i class="fa fa-question-circle text-muted" ngbTooltip="organization of the organization" placement="right"></i>
          </label>
          <select formControlName="entidadTipoDeDocumento" class="form-control">            
            <option *ngFor="let documento of tipoDocumentoEntidad" [value]="documento.valor">{{documento.denominacion}}</option>
          </select>
          <div *ngIf="!form.get('entidadTipoDeDocumento').valid && form.get('entidadTipoDeDocumento').dirty">
            <span *ngIf="form.get('entidadTipoDeDocumento').hasError('required')" class="help-block">This field is required</span>
            <span *ngIf="!form.get('entidadTipoDeDocumento').hasError('required') && !form.get('entidadTipoDeDocumento').valid" class="help-block">Value field is invalid</span>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group" [ngClass]="{ 'has-error' : !form.get('entidadNumeroDeDocumento').valid && form.get('entidadNumeroDeDocumento').dirty }">
          <label class="control-label required-pf">Nro.Documento
            <i class="fa fa-question-circle text-muted" ngbTooltip="organization of the organization" placement="right"></i>
          </label>
          <input formControlName="entidadNumeroDeDocumento" type="text" class="form-control">
          <div *ngIf="!form.get('entidadNumeroDeDocumento').valid && form.get('entidadNumeroDeDocumento').dirty">
            <span *ngIf="form.get('entidadNumeroDeDocumento').hasError('required')" class="help-block">This field is required</span>
            <span *ngIf="form.get('entidadNumeroDeDocumento').hasError('maxlength')" class="help-block">Max length allowed: {{form.get('entidadNumeroDeDocumento').errors.maxlength.requiredLength}}</span>
            <span *ngIf="!form.get('entidadNumeroDeDocumento').hasError('required') && !form.get('entidadNumeroDeDocumento').hasError('maxlength') && !form.get('entidadNumeroDeDocumento').valid"
              class="help-block">Value field is invalid</span>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group" [ngClass]="{ 'has-error' : !form.get('entidadDenominacion').valid && form.get('entidadDenominacion').dirty }">
          <label class="control-label required-pf">Nombre/R.Social
            <i class="fa fa-question-circle text-muted" ngbTooltip="organization of the organization" placement="right"></i>
          </label>
          <input formControlName="entidadDenominacion" type="text" class="form-control">
          <div *ngIf="!form.get('entidadDenominacion').valid && form.get('entidadDenominacion').dirty">
            <span *ngIf="form.get('entidadDenominacion').hasError('required')" class="help-block">This field is required</span>
            <span *ngIf="form.get('entidadDenominacion').hasError('maxlength')" class="help-block">Max length allowed: {{form.get('entidadDenominacion').errors.maxlength.requiredLength}}</span>
            <span *ngIf="!form.get('entidadDenominacion').hasError('required') && !form.get('entidadDenominacion').hasError('maxlength') && !form.get('entidadDenominacion').valid"
              class="help-block">Value field is invalid</span>
          </div>
        </div>
      </div>      
      <div class="col-md-2">
        <div class="form-group" [ngClass]="{ 'has-error' : !form.get('enviarAutomaticamenteASunat').valid && form.get('enviarAutomaticamenteASunat').dirty }">
          <label class="control-label">Enviar Sunat
						<i class="fa fa-question-circle text-muted" ngbTooltip="Enabled of the organization" placement="right"></i>
          </label>
          <of-button-switch formControlName="enviarAutomaticamenteASunat" [onText]="'SI'" [offText]="'NO'"></of-button-switch>
          <div *ngIf="!form.get('enviarAutomaticamenteASunat').valid && form.get('enviarAutomaticamenteASunat').dirty">
            <span *ngIf="form.get('enviarAutomaticamenteASunat').errors.required" class="help-block">This field is required</span>
            <span *ngIf="!form.get('enviarAutomaticamenteASunat').hasError('required') && !form.get('enviarAutomaticamenteASunat').valid"
              class="help-block">Value field is invalid</span>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group" [ngClass]="{ 'has-error' : !form.get('enviarAutomaticamenteAlCliente').valid && form.get('enviarAutomaticamenteAlCliente').dirty }">
          <label class="control-label">Enviar Cliente
					<i class="fa fa-question-circle text-muted" ngbTooltip="Enabled of the organization" placement="right"></i>
        </label>
          <of-button-switch formControlName="enviarAutomaticamenteAlCliente" [onText]="'SI'" [offText]="'NO'"></of-button-switch>
          <div *ngIf="!form.get('enviarAutomaticamenteAlCliente').valid && form.get('enviarAutomaticamenteAlCliente').dirty">
            <span *ngIf="form.get('enviarAutomaticamenteAlCliente').errors.required" class="help-block">This field is required</span>
            <span *ngIf="!form.get('enviarAutomaticamenteAlCliente').hasError('required') && !form.get('enviarAutomaticamenteAlCliente').valid"
              class="help-block">Value field is invalid</span>
          </div>
        </div>
      </div>
    </div>

    <div>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <td class="text-right">#</td>
            <td class="text-right">Producto/Servicio</td>
            <td class="text-right">Cantidad</td>
            <td class="text-right">Tipo IGV</td>
            <td class="text-right">Valor Unitario</td>
            <td class="text-right">Subtotal</td>
            <td class="text-right">Total</td>
            <td class="text-center">Acciones</td>
          </tr>
        </thead>
        <tbody formArrayName="detalle">
          <tr *ngFor="let lineFormGroup of detalle.controls; let i = index;" [formGroupName]="i">
            <td class="text-right">{{i+1}}</td>
            <td [ngClass]="{ 'has-error' : !lineFormGroup.get('descripcion').valid && lineFormGroup.get('descripcion').dirty }">
              <input formControlName="descripcion" type="text" class="form-control" placeholder="Descripcion" />
              <div *ngIf="!lineFormGroup.get('descripcion').valid && lineFormGroup.get('descripcion').dirty">
                <span *ngIf="lineFormGroup.get('descripcion').hasError('required')" class="help-block">This field is required</span>
                <span *ngIf="lineFormGroup.get('descripcion').hasError('maxlength')" class="help-block">Max length allowed: {{lineFormGroup.get('descripcion').errors.maxlength.requiredLength}}</span>
                <span *ngIf="!lineFormGroup.get('descripcion').hasError('required') && !lineFormGroup.get('descripcion').hasError('maxlength') && !lineFormGroup.get('descripcion').valid"
                  class="help-block">Value field is invalid</span>
              </div>
            </td>
            <td [ngClass]="{ 'has-error' : !lineFormGroup.get('cantidad').valid && lineFormGroup.get('cantidad').dirty }">
              <input formControlName="cantidad" [ofNumberMask]="numberMask" type="text" class="form-control text-right" placeholder="0.00">
              <div *ngIf="!lineFormGroup.get('cantidad').valid && lineFormGroup.get('cantidad').dirty">
                <span *ngIf="lineFormGroup.get('cantidad').hasError('required')" class="help-block">This field is required</span>
                <span *ngIf="!lineFormGroup.get('cantidad').hasError('required') && !lineFormGroup.get('cantidad').valid" class="help-block">Value field is invalid</span>
              </div>
            </td>
            <td [ngClass]="{ 'has-error' : !lineFormGroup.get('tipoDeIgv').valid && lineFormGroup.get('tipoDeIgv').dirty }">
              <select formControlName="tipoDeIgv" class="form-control">
              <option *ngFor="let igv of tipoDeIgv" [value]="igv.valor">{{igv.denominacion}}</option>
            </select>
              <div *ngIf="!lineFormGroup.get('tipoDeIgv').valid && lineFormGroup.get('tipoDeIgv').dirty">
                <span *ngIf="lineFormGroup.get('tipoDeIgv').hasError('required')" class="help-block">This field is required</span>
                <span *ngIf="!lineFormGroup.get('tipoDeIgv').hasError('required') && !lineFormGroup.get('tipoDeIgv').valid" class="help-block">Value field is invalid</span>
              </div>
            </td>
            <!--/tipo igv-->

            <td [ngClass]="{ 'has-error' : !lineFormGroup.get('valorUnitario').valid && lineFormGroup.get('valorUnitario').dirty }">
              <input formControlName="valorUnitario" [ofNumberMask]="numberMask" type="text" class="form-control text-right" placeholder="0.00">
              <div *ngIf="!lineFormGroup.get('valorUnitario').valid && lineFormGroup.get('valorUnitario').dirty">
                <span *ngIf="lineFormGroup.get('valorUnitario').hasError('required')" class="help-block">This field is required</span>
                <span *ngIf="!lineFormGroup.get('valorUnitario').hasError('required') && !lineFormGroup.get('valorUnitario').valid" class="help-block">Value field is invalid</span>
              </div>
            </td>
            <!--/valor unitario-->

            <td class="text-right">
              <span *ngIf="lineFormGroup.get('subtotal').valid">{{lineFormGroup.get('subtotal').value | number : '1.2-2'}}</span>
              <span *ngIf="!lineFormGroup.get('subtotal').valid"><em>0.00</em></span>
            </td>
            <!--/subtotal-->

            <td [ngClass]="{ 'has-error' : !lineFormGroup.get('total').valid && lineFormGroup.get('total').dirty }">
              <input formControlName="total" [ofNumberMask]="numberMask" type="text" class="form-control text-right" placeholder="0.00"
                readonly>
              <div *ngIf="!lineFormGroup.get('total').valid && lineFormGroup.get('total').dirty">
                <span *ngIf="lineFormGroup.get('total').hasError('required')" class="help-block">This field is required</span>
                <span *ngIf="!lineFormGroup.get('total').hasError('required') && !lineFormGroup.get('total').valid" class="help-block">Value field is invalid</span>
              </div>
            </td>
            <!--/total-->

            <td class="kc-action-cell" (click)="removeDetalle(i)">
              <span class="fa fa-trash"></span>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="8" class="text-right">
              <button (click)="addDetalle()" type="button" class="btn btn-lg btn-default">Agregar Item
            <span class="fa fa-plus"></span>
          </button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    <!--/Detalle-->


    <div>
      <div class="row">
        <div class="col-md-8">
          <div class="form-group" [ngClass]="{ 'has-error' : !form.get('observaciones').valid && form.get('observaciones').dirty }">
            <label>Observaciones
          <i class="fa fa-question-circle text-muted" ngbTooltip="Enabled of the organization" placement="right"></i>      
        </label>
            <textarea formControlName="observaciones" rows="5" class="form-control"></textarea>
            <div *ngIf="!form.get('observaciones').valid && form.get('observaciones').dirty">
              <span *ngIf="form.get('observaciones').hasError('required')" class="help-block">This field is required</span>
              <span *ngIf="!form.get('observaciones').hasError('required') && !form.get('observaciones').valid" class="help-block">Value field is invalid</span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <table class="table table-bordered table-striped">
            <tbody>
              <tr>
                <td>% Porcentaje Descuento</td>
                <td [ngClass]="{ 'has-error' : !form.get('porcentajeDescuento').valid && form.get('porcentajeDescuento').dirty }">
                  <input formControlName="porcentajeDescuento" [ofNumberMask]="numberMask" *ngIf="!form.get('operacionGratuita').value" type="text"
                    class="form-control text-right">
                  <input *ngIf="form.get('operacionGratuita').value" type="text" class="form-control text-right" value="0.00" disabled>
                  <div *ngIf="!form.get('porcentajeDescuento').valid && form.get('porcentajeDescuento').dirty">
                    <span *ngIf="form.get('porcentajeDescuento').hasError('required')" class="help-block">This field is required</span>
                    <span *ngIf="!form.get('porcentajeDescuento').hasError('required') && !form.get('porcentajeDescuento').valid" class="help-block">Value field is invalid</span>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Exonerada</td>
                <td>{{form.get('totalExonerada').value | number : '1.2-2'}}</td>
              </tr>
              <tr>
                <td>Inafecta</td>
                <td>{{form.get('totalInafecta').value | number : '1.2-2'}}</td>
              </tr>
              <tr>
                <td>Gravada</td>
                <td>{{form.get('totalGravada').value | number : '1.2-2'}}</td>
              </tr>
              <tr>
                <td>IGV</td>
                <td>{{form.get('totalIgv').value | number : '1.2-2'}}</td>
              </tr>
              <tr>
                <td>Gratuita</td>
                <td>{{form.get('totalGratuita').value | number : '1.2-2'}}</td>
              </tr>
              <tr>
                <td>Otros Cargos</td>
                <td [ngClass]="{ 'has-error' : !form.get('totalOtrosCargos').valid && form.get('totalOtrosCargos').dirty }">
                  <input formControlName="totalOtrosCargos" [ofNumberMask]="numberMask" *ngIf="!form.get('operacionGratuita').value" type="text"
                    class="form-control text-right">
                  <input *ngIf="form.get('operacionGratuita').value" type="text" class="form-control text-right" value="0.00" disabled>
                  <div *ngIf="!form.get('totalOtrosCargos').valid && form.get('totalOtrosCargos').dirty">
                    <span *ngIf="form.get('totalOtrosCargos').hasError('required')" class="help-block">This field is required</span>
                    <span *ngIf="!form.get('totalOtrosCargos').hasError('required') && !form.get('totalOtrosCargos').valid" class="help-block">Value field is invalid</span>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Total Descuento Global</td>
                <td>{{form.get('descuentoGlobal').value | number : '1.2-2'}}</td>
              </tr>
              <tr>
                <td>Total</td>
                <td>
                  {{form.get('total').value | number : '1.2-2'}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/resumen-->

    <of-button-save [form]="form" [working]="working"></of-button-save>
    <button type="button" (click)="cancel()" class="btn btn-default">Cancel</button>

  </div>
</form>