<div>
	<ol class="breadcrumb">
		<li><a href="javascript:void(0);" routerLink="../">{{breadcrumb | translate}}</a></li>
		<li class="active"> {{document.documentId}}</li>
	</ol>
	<div>
		<h3>{{documentType | translate}} {{document.documentId}}
			<small>{{'created' | translate}} 
				<span>{{document.createdTimestamp | amTimeAgo}}</span>
			</small> &nbsp;

			<div class="pull-right">
				<div *ngIf="enableDelete" class="btn-group">
					<button class="btn btn-default" (click)="delete()">
						<span class="pficon pficon-delete"></span> {{'delete' | translate}}
					</button>
				</div>
				<div class="btn-group">
					<div class="btn-group" ngbDropdown>
						<button type="button" class="btn btn-default"><span class="fa fa-download"></span> {{'download' | translate}}</button>
						<button class="btn btn-default" ngbDropdownToggle><span class="caret"></span><span class="sr-only">{{'download' | translate}}</span></button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu2" style="right: 0; left: auto;">
							<li *ngIf="enableDownloadXml">
								<a href="javascript:void(0);" (click)="downloadXml()"><span class="fa fa-file-code-o"></span> Xml</a>
							</li>
							<li *ngIf="enableDownloadCdr">
								<a href="javascript:void(0);" (click)="downloadCdr()"> <span class="fa fa-file-code-o"></span> Cdr</a>
							</li>
							<li *ngIf="enableCheckTicket">
								<a href="javascript:void(0);" (click)="checkTicket()"> <span class="fa fa-file-code-o"></span> Cdr/Consultar Ticket</a>
							</li>
							<li class="divider"></li>
							<li *ngIf="enableDownloadPdf">
								<a href="javascript:void(0);" (click)="downloadPdf()"><span class="fa fa-file-pdf-o"></span> Pdf</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="btn-group">
					<div class="btn-group" ngbDropdown>
						<button type="button" class="btn btn-default">{{'actions' | translate}}</button>
						<button class="btn btn-default" ngbDropdownToggle><span class="caret"></span><span class="sr-only">{{'actions' | translate}}</span></button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu2" style="right: 0; left: auto;">
							<li *ngIf="enableAssignCreditNote">
								<a href="javascript:void(0);" (click)="attachCreditNote()"><span class="fa fa-credit-card"></span> {{'attach-credit-note' | translate}}</a>
							</li>
							<li *ngIf="enableAssignDebitNote">
								<a href="javascript:void(0);" (click)="attachDebitNote()"><span class="fa fa-credit-card-alt"></span> {{'attach-debit-note' | translate}}</a>
							</li>
							<li class="divider"></li>
							<li *ngIf="enableSendToCustomer">
								<a href="javascript:void(0);" (click)="sendToCustomer()"><span class="fa fa-child"></span> {{'send-to-customer' | translate}}</a>
							</li>
							<li *ngIf="enableSendToThirdParty">
								<a href="javascript:void(0);" (click)="sendToThirdParty()"><span class="fa fa-server"></span> {{'send-to-third-party' | translate}}</a>
							</li>
							<li *ngIf="enableSendToCustomThirdParty">
								<a href="javascript:void(0);" (click)="sendToCustomThridPartyByEmail(sendToThirdPartyTemplateContent)">
									<span class="fa fa-share"></span> {{'send-to-custom-third-party-by-email' | translate}}
								</a>
							</li>
							<li class="divider"></li>
							<li *ngIf="enableVoid">
								<a href="javascript:void(0);" (click)="maskAsVoided()"><span class="fa fa-thumbs-down"></span> {{'voided' | translate}}</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</h3>
		<span *ngIf="!document.enabled" class="label label-danger">{{'voided' | translate}}</span>&nbsp;
		<template ngFor let-item let-i="index" [ngForOf]="document.requiredActions">
			<span class="label label-warning">
  				<span>{{item | translate}}</span>
			<a href="javascript:void(0)" (click)="removeRequiredAction(index, item)"><i class="pficon pficon-close"></i></a>
			</span>&nbsp;
		</template>
		<button (click)="addRequiredAction(addRequiredActionTemplateContent)" class="btn btn-default" type="button">
			<span class="fa fa-plus"></span>
        </button>

	</div>
</div>

<br>
<div>
	<div class="tab-container">
		<ul class="nav nav-tabs">
			<li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/organizations', organization.organization, breadcrumb, document.id]">{{'overview' | translate}}</a></li>
			<li routerLinkActive="active"><a [routerLink]="['/organizations', organization.organization, 'documents', document.id, 'send-events']">{{'send-events' | translate}}</a></li>
			<li routerLinkActive="active"><a [routerLink]="['/organizations', organization.organization, 'documents', document.id, 'attached-documents']">{{'attatched-documents' | translate}}</a></li>
		</ul>
	</div>
</div>

<template #sendToThirdPartyTemplateContent let-c="close" let-d="dismiss">
	<form #f="ngForm" (ngSubmit)="c(f)" novalidate>
		<div class="modal-body" ngModelGroup="thirdPartyByEmail">
			<h3>Email</h3>
			<input id="email" name="email" type="email" #email="ngModel" [(ngModel)]="thirdPartyByEmail.email" class="form-control" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
				required>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-primary" [disabled]="!f.valid">{{'send' | translate}}</button>
			<button type="button" class="btn btn-default" (click)="d('Cancel')">{{'cancel' | translate}}</button>
		</div>
	</form>
</template>

<template #addRequiredActionTemplateContent let-c="close" let-d="dismiss">
	<form novalidate>
		<div class="modal-body">
			<h3>Required action</h3>
			<input type="text" #requiredAction class="form-control">
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-primary" (click)="c(requiredAction.value)">{{'save' | translate}}</button>
			<button type="button" class="btn btn-default" (click)="d('Cancel')">{{'cancel' | translate}}</button>
		</div>
	</form>
</template>