<br>
<div *ngIf="!invoiceJson">
	<div class="spinner"></div>
</div>

<div *ngIf="invoiceJson">
	<div class="row">
		<div class="col-lg-6">
			<fieldset>
				<legend>
					<h3>{{'general-information' | translate}}</h3>
				</legend>
			</fieldset>
			<dl class="dl-horizontal left">
				<dt>
					{{'currency-code' | translate}}:
					<span ngbTooltip="Currency Code." placement="right" class="pficon pficon-help text-muted small"></span>
				</dt>
				<dd *ngIf="invoiceJson.DocumentCurrencyCode">{{invoiceJson.DocumentCurrencyCode}}</dd>
				<dd *ngIf="!invoiceJson.DocumentCurrencyCode"><em>{{'not-registered' | translate}}</em></dd>
				<dt>
					{{'invoice-type-code' | translate}}:
					<span ngbTooltip="Invoice Type Code Value." placement="right" class="pficon pficon-help text-muted small"></span>
				</dt>
				<dd *ngIf="invoiceJson.InvoiceTypeCode">{{invoiceJson.InvoiceTypeCode}}</dd>
				<dd *ngIf="!invoiceJson.InvoiceTypeCode"><em>{{'not-registered' | translate}}</em></dd>
				<dt>
					{{'issue-date' | translate}}:
					<span ngbTooltip="Issue Date." placement="right" class="pficon pficon-help text-muted small"></span>
				</dt>
				<dd *ngIf="invoiceJson.IssueDate">{{invoiceJson.IssueDate | date: 'shortDate'}}</dd>
				<dd *ngIf="!invoiceJson.IssueDate"><em>{{'not-registered' | translate}}</em></dd>			
				<dt>
					{{'issue-time' | translate}}:
					<span ngbTooltip="Issue Time." placement="right" class="pficon pficon-help text-muted small"></span>
				</dt>
				<dd *ngIf="invoiceJson.IssueTime">{{invoiceJson.IssueTime | date: 'shortTime'}}</dd>
				<dd *ngIf="!invoiceJson.IssueTime"><em>{{'not-registered' | translate}}</em></dd>
			</dl>
		</div>
		<div class="col-lg-6">
			<fieldset>
				<legend>
					<h3>{{'legal-monetary-total' | translate}}</h3>
				</legend>
			</fieldset>
			<dl class="dl-horizontal left">
				<dt>
					{{'payable-amount' | translate}}:
					<span ngbTooltip="Legal Monetary Total / Payable Amount." placement="right" class="pficon pficon-help text-muted small"></span>
				</dt>
				<dd *ngIf="invoiceJson.LegalMonetaryTotal.PayableAmount.content">{{invoiceJson.LegalMonetaryTotal.PayableAmount.content | number:'1.2-3'}}</dd>
				<dd *ngIf="!invoiceJson.LegalMonetaryTotal.PayableAmount.content"><em>{{'not-registered' | translate}}</em></dd>
				<dt>
					{{'charge-total-amount' | translate}}:
					<span ngbTooltip="Legal Monetary Total / Charge Total Amount." placement="right" class="pficon pficon-help text-muted small"></span>
				</dt>
				<dd *ngIf="invoiceJson.LegalMonetaryTotal.ChargeTotalAmount">{{invoiceJson.LegalMonetaryTotal.ChargeTotalAmount.content | number:'1.2-3'}}</dd>
				<dd *ngIf="!invoiceJson.LegalMonetaryTotal.ChargeTotalAmount"><em>{{'not-registered' | translate}}</em></dd>
				<dt>
					{{'allowance-total-amount' | translate}}:
					<span ngbTooltip="Legal Monetary Total / Allowance Total Amount." placement="right" class="pficon pficon-help text-muted small"></span>
				</dt>
				<dd *ngIf="invoiceJson.LegalMonetaryTotal.AllowanceTotalAmount">{{invoiceJson.LegalMonetaryTotal.AllowanceTotalAmount.content | number:'1.2-3'}}</dd>
				<dd *ngIf="!invoiceJson.LegalMonetaryTotal.AllowanceTotalAmount"><em>{{'not-registered' | translate}}</em></dd>
			</dl>
		</div>
		<div class="col-lg-6">
			<fieldset>
				<legend>
					<h3>{{'tax-total' | translate}}</h3>
				</legend>
			</fieldset>
			<dl class="dl-horizontal left">
				<dt>
					{{'tax-amount' | translate}}:
					<span ngbTooltip="Tax Total / Tax Amount." placement="right" class="pficon pficon-help text-muted small"></span>
				</dt>
				<dd>
					<ul class="list-inline" style="margin-bottom: 0px;">
						<li *ngFor="let taxTotal of (invoiceJson.TaxTotal | ofArray)">
							{{taxTotal.TaxAmount.content | number:'1.2-3'}}
						</li>
					</ul>
				</dd>
			</dl>
		</div>
		<div class="col-lg-6">
			<fieldset>
				<legend>
					<h3>{{'supplier-party' | translate}}</h3>
				</legend>
			</fieldset>
			<dl class="dl-horizontal left">
				<dt>
					{{'assigned-account-id' | translate}}:
					<span ngbTooltip="Accounting Supplier Party / Customer AssignedAccount ID." placement="right" class="pficon pficon-help text-muted small"></span>
				</dt>
				<dd>{{invoiceJson.AccountingSupplierParty.CustomerAssignedAccountID}}</dd>
				<template ngIf="invoiceJson.AccountingSupplierParty.AdditionalAccountID">
					<dt>
						{{'additional-account-id' | translate}}:
						<span ngbTooltip="Accounting Supplier Party / Additional Account ID." placement="right" class="pficon pficon-help text-muted small"></span>
					</dt>
					<dd>
						<ul class="list-inline" style="margin-bottom: 0px;">
							<li *ngFor="let additiontalAccountId of (invoiceJson.AccountingSupplierParty.AdditionalAccountID | ofArray)">{{additiontalAccountId}}</li>
						</ul>
					</dd>
				</template>
				<template ngIf="invoiceJson.AccountingSupplierParty.Party">
					<dt>
						{{'registration-name' | translate}}:
						<span ngbTooltip="Accounting Supplier Party / Party / Party Legal Entity / Registration Name." placement="right" class="pficon pficon-help text-muted small"></span>
					</dt>
					<dd>
						<ul class="list-unstyled" style="margin-bottom: 0px;">
							<li *ngFor="let partyLegalEntity of (invoiceJson.AccountingSupplierParty.Party.PartyLegalEntity | ofArray)">{{partyLegalEntity.RegistrationName}}</li>
						</ul>
					</dd>
				</template>
			</dl>
		</div>
		<div class="col-lg-6">
			<fieldset>
				<legend>
					<h3>{{'customer-party' | translate}}</h3>
				</legend>
			</fieldset>
			<dl class="dl-horizontal left">
				<dt>
					{{'assigned-account-id' | translate}}:
					<span ngbTooltip="Accounting Customer Party/Customer Assigned Account ID." placement="right" class="pficon pficon-help text-muted small"></span>
				</dt>
				<dd *ngIf="invoiceJson.AccountingCustomerParty.CustomerAssignedAccountID">{{invoiceJson.AccountingCustomerParty.CustomerAssignedAccountID}}</dd>
				<dd *ngIf="!invoiceJson.AccountingCustomerParty.CustomerAssignedAccountID"><em>{{'not-registered' | translate}}</em></dd>
				<dt>
					{{'additional-account-id' | translate}}:
					<span ngbTooltip="Accounting Customer Party/Additional Account ID." placement="right" class="pficon pficon-help text-muted small"></span>
				</dt>
				<dd *ngIf="invoiceJson.AccountingCustomerParty.AdditionalAccountID">
					<ul class="list-inline" style="margin-bottom: 0px;">
						<li *ngFor="let additionalAccountId of (invoiceJson.AccountingCustomerParty.AdditionalAccountID | ofArray)">{{additionalAccountId}}</li>
					</ul>
				</dd>
				<dd *ngIf="!invoiceJson.AccountingCustomerParty.AdditionalAccountID"><em>{{'not-registered' | translate}}</em></dd>
				<dt>
					{{'registration-name' | translate}}:
					<span ngbTooltip="Accounting Customer Party/Party/Party Legal Entity." placement="right" class="pficon pficon-help text-muted small"></span>
				</dt>
				<dd *ngIf="invoiceJson.AccountingCustomerParty.Party.PartyLegalEntity">
					<ul class="list-unstyled" style="margin-bottom: 0px;">
						<li *ngFor="let partyLegalEntity of (invoiceJson.AccountingCustomerParty.Party.PartyLegalEntity | ofArray)">{{partyLegalEntity.RegistrationName}}</li>
					</ul>
				</dd>
				<dd *ngIf="!invoiceJson.AccountingCustomerParty.Party.PartyLegalEntity"><em>{{'not-registered' | translate}}</em></dd>
			</dl>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div>
				<h3>{{'invoice-lines' | translate}}</h3>
			</div>
			<div>
				<div class="table-responsive">
					<table class="datatable table table-striped table-bordered dataTable no-footer table-mobile">
						<thead>
							<tr>
								<th class="text-right">#</th>
								<th class="text-right">{{'quantity' | translate}}</th>
								<th>{{'item-description' | translate}}</th>
								<th class="text-right">{{'price' | translate}}</th>
								<th class="text-right">{{'tax-amount' | translate}}</th>
								<th class="text-right">{{'line-extension-amount' | translate}}</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let invoiceLine of (invoiceJson.InvoiceLine | ofArray); let i = index;">
								<td class="text-right">{{i+1}}</td>
								<td class="text-right">{{invoiceLine.InvoicedQuantity.content | number:'1.2-3'}}</td>
								<td>{{invoiceLine.Item.Description}}</td>
								<td class="text-right">{{invoiceLine.Price.PriceAmount.content | number:'1.2-3'}}</td>
								<td class="text-right">
									<span *ngFor="let invoiceLineTaxTotal of (invoiceLine.TaxTotal | ofArray)">
										&nbsp;{{invoiceLineTaxTotal.TaxAmount.content | number:'1.2-3'}}									
									</span>
								</td>
								<td class="text-right">{{invoiceLine.LineExtensionAmount.content | number:'1.2-3'}}</td>							
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<br>