<br>
<div class="row">
	<div class="col-lg-6">
		<fieldset>
			<legend>
				<h3>General Information</h3>
			</legend>
		</fieldset>
		<dl class="dl-horizontal left">
			<dt>
				Currency Code:
				<span title="The currency of the invoice." class="pficon pficon-help text-muted small"></span>
			</dt>
			<dd>{{invoice.documentCurrencyCodeValue}}</dd>
			<dt>
				Invoice Type Code:
				<span title="The type of the invoice." class="pficon pficon-help text-muted small"></span>
			</dt>
			<dd>{{invoice.invoiceTypeCodeValue}}</dd>
			<dt>
				Issue Date:
				<span title="Issue Date of the invoice." class="pficon pficon-help text-muted small"></span>
			</dt>
			<dd>{{invoice.issueDateValue | date: 'short'}}</dd>
			<dt>
				Issue Time:
				<span title="The time of the issue invoice." class="pficon pficon-help text-muted small"></span>
			</dt>
			<dd>{{invoice.issueTimeValue | date: 'mediumTime'}}</dd>
			<dt>
				<span class="pficon pficon-image" aria-hidden="true"></span> Xml:
				<span title="The time of the issue invoice." class="pficon pficon-help text-muted small"></span>
			</dt>
			<dd>
				<of-modal-text-preview [text]="invoice.xml" [label]="'Xml preview'"></of-modal-text-preview>
			</dd>
			<dd>
				<a href="">
					<span><i class="fa fa-file-pdf-o"> </i> Pdf preview</span>
				</a>
			</dd>
		</dl>
	</div>
	<div class="col-lg-6">
		<fieldset>
			<legend>
				<h3>Legal Monetary Total</h3>
			</legend>
		</fieldset>
		<dl class="dl-horizontal left">
			<dt>
				Payable Amount:
				<span title="The currency of the invoice." class="pficon pficon-help text-muted small"></span>
			</dt>
			<dd *ngIf="invoice.legalMonetaryTotal.payableAmountValue">{{invoice.legalMonetaryTotal.payableAmountValue | number:'1.2-3'}}</dd>
			<dd *ngIf="!invoice.legalMonetaryTotal.payableAmountValue"><em>0.00</em></dd>
			<dt>
				Charge Total Amount:
				<span title="The currency of the invoice." class="pficon pficon-help text-muted small"></span>
			</dt>
			<dd *ngIf="invoice.legalMonetaryTotal.chargeTotalAmountValue">{{invoice.legalMonetaryTotal.chargeTotalAmountValue | number:'1.2-3'}}</dd>
			<dd *ngIf="!invoice.legalMonetaryTotal.chargeTotalAmountValue"><em>0.00</em></dd>
			<dt>
				Allowance Total Amount:
				<span title="The currency of the invoice." class="pficon pficon-help text-muted small"></span>
			</dt>
			<dd *ngIf="invoice.legalMonetaryTotal.allowanceTotalAmountValue">{{invoice.legalMonetaryTotal.allowanceTotalAmountValue | number:'1.2-3'}}</dd>
			<dd *ngIf="!invoice.legalMonetaryTotal.allowanceTotalAmountValue"><em>0.00</em></dd>
		</dl>
	</div>
	<div class="col-lg-6">
		<fieldset>
			<legend>
				<h3>Total Tax</h3>
			</legend>
		</fieldset>
		<dl class="dl-horizontal left">
			<dt>
				Tax Amount:
				<span title="The currency of the invoice." class="pficon pficon-help text-muted small"></span>
			</dt>
			<template ngIf="invoice.taxTotal && invoice.taxTotal.length">
				<dd>
					<ul class="list-inline" style="margin-bottom: 0px;">
						<li *ngFor="let item of invoice.taxTotal">
							{{item.taxAmount.value | number:'1.2-3'}}
						</li>
					</ul>
				</dd>
			</template>
		</dl>
	</div>
	<div class="col-lg-6">
		<fieldset>
			<legend>
				<h3>Supplier Party</h3>
			</legend>
		</fieldset>
		<dl class="dl-horizontal left">
			<dt>
				Assigned Account ID:
				<span title="The currency of the invoice." class="pficon pficon-help text-muted small"></span>
			</dt>
			<dd>{{invoice.accountingSupplierParty.customerAssignedAccountIDValue}}</dd>
			<template ngIf="invoice.accountingSupplierParty.additionalAccountID && invoice.accountingSupplierParty.additionalAccountID.length">
				<dt>
					Additional Account IDs:
					<span title="The currency of the invoice." class="pficon pficon-help text-muted small"></span>
				</dt>
				<dd>
					<ul class="list-inline" style="margin-bottom: 0px;">
						<li *ngFor="let item of invoice.accountingSupplierParty.additionalAccountID">{{item.value}}</li>
					</ul>
				</dd>
			</template>
			<template ngIf="invoice.accountingSupplierParty.party">
				<dt>
					Legal Entity:
					<span title="The currency of the invoice." class="pficon pficon-help text-muted small"></span>
				</dt>
				<dd>
					<ul class="list-unstyled" style="margin-bottom: 0px;">
						<li *ngFor="let item of invoice.accountingSupplierParty.party.partyLegalEntity">{{item.registrationNameValue}}</li>
					</ul>
				</dd>
			</template>
		</dl>
	</div>
	<div class="col-lg-6">
		<fieldset>
			<legend>
				<h3>Customer Party</h3>
			</legend>
		</fieldset>
		<dl class="dl-horizontal left">
			<dt>
				Assigned Account ID:
				<span title="The currency of the invoice." class="pficon pficon-help text-muted small"></span>
			</dt>
			<dd *ngIf="invoice.accountingCustomerParty.customerAssignedAccountID">{{invoice.accountingCustomerParty.customerAssignedAccountIDValue}}</dd>
			<dd *ngIf="!invoice.accountingCustomerParty.customerAssignedAccountID"><em>Not registered</em></dd>
			<dt>
				Additional Account IDs:
				<span title="The currency of the invoice." class="pficon pficon-help text-muted small"></span>
			</dt>
			<dd *ngIf="invoice.accountingCustomerParty.additionalAccountID.length > 0">
				<ul class="list-inline" style="margin-bottom: 0px;">
					<li *ngFor="let item of invoice.accountingCustomerParty.additionalAccountID">{{item.value}}</li>
				</ul>
			</dd>
			<dd *ngIf="invoice.accountingCustomerParty.additionalAccountID.length === 0"><em>Not registered</em></dd>
			<dt>
				Legal Entity:
				<span title="The currency of the invoice." class="pficon pficon-help text-muted small"></span>
			</dt>
			<dd *ngIf="invoice.accountingCustomerParty.party.partyLegalEntity.length > 0">
				<ul class="list-unstyled" style="margin-bottom: 0px;">
					<li *ngFor="let item of invoice.accountingCustomerParty.party.partyLegalEntity">{{item.registrationNameValue}}</li>
				</ul>
			</dd>
			<dd *ngIf="invoice.accountingCustomerParty.party.partyLegalEntity.length === 0"><em>Not registered</em></dd>
		</dl>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div>
			<h3>Invoice Lines</h3>
		</div>
		<div>
			<div class="table-responsive">
				<table class="datatable table table-striped table-bordered dataTable no-footer table-mobile">
					<thead>
						<tr>
							<th>#</th>
							<th class="text-right">Quantity</th>
							<th>Item Description</th>
							<th class="text-right">Price</th>
							<th class="text-right">Tax Amount</th>
							<th class="text-right">Line Extension Ammount</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let item of invoice.invoiceLine; let i = index;">
							<td>{{i+1}}</td>
							<td class="text-right">{{item.invoicedQuantity.value | number:'1.2-3'}}</td>
							<td>{{item.item.description}}</td>
							<td class="text-right">{{item.price.priceAmountValue | number:'1.2-3'}}</td>
							<td class="text-right">{{item.taxTotal.taxAmountValue | number:'1.2-3'}}</td>
							<td class="text-right">{{item.lineExtensionAmount.value | number:'1.2-3'}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>