<br>
<div class="row">
	<div class="col-lg-6">
		<fieldset>
			<legend>
				<h3>{{'general-information' | translate}}</h3>
			</legend>
		</fieldset>
		<dl class="dl-horizontal left">
			<dt>
				{{'currency-code' | translate}}:
				<span title="The currency of the invoiceJson." class="pficon pficon-help text-muted small"></span>
			</dt>
			<dd>{{invoiceJson.documentCurrencyCodeValue}}</dd>
			<dt>
				{{'invoice-type-code' | translate}}:
				<span title="The type of the invoiceJson." class="pficon pficon-help text-muted small"></span>
			</dt>
			<dd>{{invoiceJson.invoiceTypeCodeValue}}</dd>
			<dt>
				{{'issue-date' | translate}}:
				<span title="Issue Date of the invoiceJson." class="pficon pficon-help text-muted small"></span>
			</dt>
			<dd>{{invoiceJson.issueDateValue | date: 'shortDate'}}</dd>
			<dt>
				{{'issue-time' | translate}}:
				<span title="The time of the issue invoiceJson." class="pficon pficon-help text-muted small"></span>
			</dt>
			<dd *ngIf="invoiceJson.issueTimeValue">{{invoiceJson.issueTimeValue | date: 'shortTime'}}</dd>
			<dd *ngIf="!invoiceJson.issueTimeValue"><em>{{'not-registered' | translate}}</em></dd>
		</dl>
	</div>
	<div class="col-lg-6">
		<fieldset>
			<legend>
				<h3>{{'legal-monetary-total' | translate}}</h3>
			</legend>
		</fieldset>
		<dl class="dl-horizontal left">
			<dt>
				{{'payable-amount' | translate}}:
				<span title="The currency of the invoiceJson." class="pficon pficon-help text-muted small"></span>
			</dt>
			<dd *ngIf="invoiceJson.legalMonetaryTotal.payableAmountValue">{{invoiceJson.legalMonetaryTotal.payableAmountValue | number:'1.2-3'}}</dd>
			<dd *ngIf="!invoiceJson.legalMonetaryTotal.payableAmountValue"><em>{{'not-registered' | translate}}</em></dd>
			<dt>
				{{'charge-total-amount' | translate}}:
				<span title="The currency of the invoiceJson." class="pficon pficon-help text-muted small"></span>
			</dt>
			<dd *ngIf="invoiceJson.legalMonetaryTotal.chargeTotalAmountValue">{{invoiceJson.legalMonetaryTotal.chargeTotalAmountValue | number:'1.2-3'}}</dd>
			<dd *ngIf="!invoiceJson.legalMonetaryTotal.chargeTotalAmountValue"><em>{{'not-registered' | translate}}</em></dd>
			<dt>
				{{'allowance-total-amount' | translate}}:
				<span title="The currency of the invoiceJson." class="pficon pficon-help text-muted small"></span>
			</dt>
			<dd *ngIf="invoiceJson.legalMonetaryTotal.allowanceTotalAmountValue">{{invoiceJson.legalMonetaryTotal.allowanceTotalAmountValue | number:'1.2-3'}}</dd>
			<dd *ngIf="!invoiceJson.legalMonetaryTotal.allowanceTotalAmountValue"><em>{{'not-registered' | translate}}</em></dd>
		</dl>
	</div>
	<div class="col-lg-6">
		<fieldset>
			<legend>
				<h3>{{'tax-total' | translate}}</h3>
			</legend>
		</fieldset>
		<dl class="dl-horizontal left">
			<dt>
				{{'tax-amount' | translate}}:
				<span title="The currency of the invoiceJson." class="pficon pficon-help text-muted small"></span>
			</dt>
			<template ngIf="invoiceJson.taxTotal && invoiceJson.taxTotal.length">
				<dd>
					<ul class="list-inline" style="margin-bottom: 0px;">
						<li *ngFor="let item of invoiceJson.taxTotal">
							{{item.taxAmount.value | number:'1.2-3'}}
						</li>
					</ul>
				</dd>
			</template>
		</dl>
	</div>
	<div class="col-lg-6">
		<fieldset>
			<legend>
				<h3>{{'supplier-party' | translate}}</h3>
			</legend>
		</fieldset>
		<dl class="dl-horizontal left">
			<dt>
				{{'assigned-account-id' | translate}}:
				<span title="The currency of the invoiceJson." class="pficon pficon-help text-muted small"></span>
			</dt>
			<dd>{{invoiceJson.accountingSupplierParty.customerAssignedAccountIDValue}}</dd>
			<template ngIf="invoiceJson.accountingSupplierParty.additionalAccountID && invoiceJson.accountingSupplierParty.additionalAccountID.length">
				<dt>
					{{'additional-account-id' | translate}}:
					<span title="The currency of the invoiceJson." class="pficon pficon-help text-muted small"></span>
				</dt>
				<dd>
					<ul class="list-inline" style="margin-bottom: 0px;">
						<li *ngFor="let item of invoiceJson.accountingSupplierParty.additionalAccountID">{{item.value}}</li>
					</ul>
				</dd>
			</template>
			<template ngIf="invoiceJson.accountingSupplierParty.party">
				<dt>
					{{'registration-name' | translate}}:
					<span title="The currency of the invoiceJson." class="pficon pficon-help text-muted small"></span>
				</dt>
				<dd>
					<ul class="list-unstyled" style="margin-bottom: 0px;">
						<li *ngFor="let item of invoiceJson.accountingSupplierParty.party.partyLegalEntity">{{item.registrationNameValue}}</li>
					</ul>
				</dd>
			</template>
		</dl>
	</div>
	<div class="col-lg-6">
		<fieldset>
			<legend>
				<h3>{{'customer-party' | translate}}</h3>
			</legend>
		</fieldset>
		<dl class="dl-horizontal left">
			<dt>
				{{'assigned-account-id' | translate}}:
				<span title="The currency of the invoiceJson." class="pficon pficon-help text-muted small"></span>
			</dt>
			<dd *ngIf="invoiceJson.accountingCustomerParty.customerAssignedAccountID">{{invoiceJson.accountingCustomerParty.customerAssignedAccountIDValue}}</dd>
			<dd *ngIf="!invoiceJson.accountingCustomerParty.customerAssignedAccountID"><em>{{'not-registered' | translate}}</em></dd>
			<dt>
				{{'additional-account-id' | translate}}:
				<span title="The currency of the invoiceJson." class="pficon pficon-help text-muted small"></span>
			</dt>
			<dd *ngIf="invoiceJson.accountingCustomerParty.additionalAccountID.length > 0">
				<ul class="list-inline" style="margin-bottom: 0px;">
					<li *ngFor="let item of invoiceJson.accountingCustomerParty.additionalAccountID">{{item.value}}</li>
				</ul>
			</dd>
			<dd *ngIf="invoiceJson.accountingCustomerParty.additionalAccountID.length === 0"><em>{{'not-registered' | translate}}</em></dd>
			<dt>
				{{'registration-name' | translate}}:
				<span title="The currency of the invoiceJson." class="pficon pficon-help text-muted small"></span>
			</dt>
			<dd *ngIf="invoiceJson.accountingCustomerParty.party.partyLegalEntity.length > 0">
				<ul class="list-unstyled" style="margin-bottom: 0px;">
					<li *ngFor="let item of invoiceJson.accountingCustomerParty.party.partyLegalEntity">{{item.registrationNameValue}}</li>
				</ul>
			</dd>
			<dd *ngIf="invoiceJson.accountingCustomerParty.party.partyLegalEntity.length === 0"><em>{{'not-registered' | translate}}</em></dd>
		</dl>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div>
			<h3>{{'invoice-lines' | translate}}</h3>
		</div>
		<div>
			<div class="table-responsive">
				<table class="datatable table table-striped table-bordered dataTable no-footer table-mobile">
					<thead>
						<tr>
							<th class="text-right">#</th>
							<th class="text-right">{{'quantity' | translate}}</th>
							<th>{{'item-description' | translate}}</th>
							<th class="text-right">{{'price' | translate}}</th>
							<th class="text-right">{{'tax-amount' | translate}}</th>
							<th class="text-right">{{'line-extension-amount' | translate}}</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let item of invoiceJson.invoiceLine; let i = index;">
							<td class="text-right">{{i+1}}</td>
							<td class="text-right">{{item.invoicedQuantity.value | number:'1.2-3'}}</td>
							<td>
								<span *ngFor="let itemDescription of item.item.description">
									&nbsp;{{itemDescription.value}}.
								</span>
							</td>
							<td class="text-right">{{item.price.priceAmountValue | number:'1.2-3'}}</td>
							<td class="text-right">
								<span *ngFor="let itemTaxTotal of item.taxTotal">
									&nbsp;{{itemTaxTotal.taxAmountValue | number:'1.2-3'}}
								</span>
							</td>
							<td class="text-right">{{item.lineExtensionAmount.value | number:'1.2-3'}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>