<div class="container-fluid container-cards-pf">
	<div class="row row-cards-pf">
		<div class="col-md-12">
			<form [formGroup]="form" (ngSubmit)="save(form.value)" class="form-horizontal">
				<p class="fields-status-pf">{{'fields-marked-with' | translate}} <span class="required-pf">*</span> {{'are-required' | translate}}.</p>
				
				<div class="form-group" [ngClass]="{ 'has-error' : !form.get('assignedIdentificationId').valid && form.get('assignedIdentificationId').dirty }">
					<label class="col-md-2 control-label required-pf">{{'assigned-identification-id' | translate}}
						<i class="fa fa-question-circle text-muted" ngbTooltip="AssignedIdentificationId of the organization." placement="right"></i>
          			</label>
					<div class="col-md-3">
						<input formControlName="assignedIdentificationId" type="text" class="form-control" />
						<div *ngIf="!form.get('assignedIdentificationId').valid && form.get('assignedIdentificationId').dirty">
							<span *ngIf="form.get('assignedIdentificationId').hasError('required')" class="help-block">This field is required</span>
							<span *ngIf="form.get('assignedIdentificationId').hasError('maxlength')" class="help-block">Max length allowed: {{form.get('assignedIdentificationId').errors.maxlength.requiredLength}}</span>
						</div>
					</div>
				</div>
				<div class="form-group" [ngClass]="{ 'has-error' : !form.get('additionalAccountId').valid && form.get('additionalAccountId').dirty }">
					<label class="col-md-2 control-label required-pf">{{'additional-account-id' | translate}}
						<i class="fa fa-question-circle text-muted" ngbTooltip="AdditionalAccountId of the organization." placement="right"></i>
          			</label>
					<div class="col-md-3">
						<input formControlName="additionalAccountId" type="text" class="form-control" />
						<div *ngIf="!form.get('additionalAccountId').valid && form.get('additionalAccountId').dirty">
							<span *ngIf="form.get('additionalAccountId').hasError('required')" class="help-block">This field is required</span>
							<span *ngIf="form.get('additionalAccountId').hasError('maxlength')" class="help-block">Max length allowed: {{form.get('additionalAccountId').errors.maxlength.requiredLength}}</span>
						</div>
					</div>
				</div>
				<div class="form-group" [ngClass]="{ 'has-error' : !form.get('supplierName').valid && form.get('supplierName').dirty }">
					<label class="col-md-2 control-label required-pf">{{'supplier-name' | translate}}
						<i class="fa fa-question-circle text-muted" ngbTooltip="Supplier name of the organization." placement="right"></i>
          			</label>
					<div class="col-md-4">
						<input formControlName="supplierName" type="text" class="form-control" />
						<div *ngIf="!form.get('supplierName').valid && form.get('supplierName').dirty">
							<span *ngIf="form.get('supplierName').hasError('required')" class="help-block">This field is required</span>
							<span *ngIf="form.get('supplierName').hasError('maxlength')" class="help-block">Max length allowed: {{form.get('supplierName').errors.maxlength.requiredLength}}</span>
						</div>
					</div>
				</div>
				<div class="form-group" [ngClass]="{ 'has-error' : !form.get('registrationName').valid && form.get('registrationName').dirty }">
					<label class="col-md-2 control-label required-pf">{{'registration-name' | translate}}
						<i class="fa fa-question-circle text-muted" ngbTooltip="Registration name of the organization" placement="right"></i>
          			</label>
					<div class="col-md-4">
						<input formControlName="registrationName" type="text" class="form-control" />
						<div *ngIf="!form.get('registrationName').valid && form.get('registrationName').dirty">
							<span *ngIf="form.get('registrationName').hasError('required')" class="help-block">This field is required</span>
							<span *ngIf="form.get('registrationName').hasError('maxlength')" class="help-block">Max length allowed: {{form.get('registrationName').errors.maxlength.requiredLength}}</span>
						</div>
					</div>
				</div>

				<div formGroupName="postalAddress">
					<div class="form-group" [ngClass]="{ 'has-error' : !form.get('postalAddress').get('cityName').valid && form.get('postalAddress').get('cityName').dirty }">
						<label class="col-md-2 control-label">{{'city-name' | translate}}
						<i class="fa fa-question-circle text-muted" ngbTooltip="City name where the organization is located." placement="right"></i>
          			</label>
						<div class="col-md-4">
							<input formControlName="cityName" type="text" class="form-control" />
							<div *ngIf="!form.get('postalAddress').get('cityName').valid && form.get('postalAddress').get('cityName').dirty">
								<span *ngIf="form.get('postalAddress').get('cityName').hasError('maxlength')" class="help-block">Max length allowed: {{form.get('postalAddress').get('cityName').errors.maxlength.requiredLength}}</span>
							</div>
						</div>
					</div>
					<div class="form-group" [ngClass]="{ 'has-error' : !form.get('postalAddress').get('citySubdivisionName').valid && form.get('postalAddress').get('citySubdivisionName').dirty }">
						<label class="col-md-2 control-label">{{'city-subdivision-name' | translate}}
						<i class="fa fa-question-circle text-muted" ngbTooltip="City Subdivision name where the organization is located." placement="right"></i>
          			</label>
						<div class="col-md-4">
							<input formControlName="citySubdivisionName" type="text" class="form-control" />
							<div *ngIf="!form.get('postalAddress').get('citySubdivisionName').valid && form.get('postalAddress').get('citySubdivisionName').dirty">
								<span *ngIf="form.get('postalAddress').get('citySubdivisionName').hasError('maxlength')" class="help-block">Max length allowed: {{form.get('postalAddress').get('citySubdivisionName').errors.maxlength.requiredLength}}</span>
							</div>
						</div>
					</div>
					<div class="form-group" [ngClass]="{ 'has-error' : !form.get('postalAddress').get('countryIdentificationCode').valid && form.get('postalAddress').get('countryIdentificationCode').dirty }">
						<label class="col-md-2 control-label">{{'country-identification-code' | translate}}
						<i class="fa fa-question-circle text-muted" ngbTooltip="Country identification code where the organization is located." placement="right"></i>
          			</label>
						<div class="col-md-2">
							<input formControlName="countryIdentificationCode" type="text" class="form-control" />
							<div *ngIf="!form.get('postalAddress').get('countryIdentificationCode').valid && form.get('postalAddress').get('countryIdentificationCode').dirty">
								<span *ngIf="form.get('postalAddress').get('countryIdentificationCode').hasError('maxlength')" class="help-block">Max length allowed: {{form.get('postalAddress').get('countryIdentificationCode').errors.maxlength.requiredLength}}</span>
							</div>
						</div>
					</div>
					<div class="form-group" [ngClass]="{ 'has-error' : !form.get('postalAddress').get('countrySubentity').valid && form.get('postalAddress').get('countrySubentity').dirty }">
						<label class="col-md-2 control-label">{{'country-sub-entity' | translate}}
						<i class="fa fa-question-circle text-muted" ngbTooltip="Country sub entity where the organization is located." placement="right"></i>
          			</label>
						<div class="col-md-4">
							<input formControlName="countrySubentity" type="text" class="form-control" />
							<div *ngIf="!form.get('postalAddress').get('countrySubentity').valid && form.get('postalAddress').get('countrySubentity').dirty">
								<span *ngIf="form.get('postalAddress').get('countrySubentity').hasError('maxlength')" class="help-block">Max length allowed: {{form.get('postalAddress').get('countrySubentity').errors.maxlength.requiredLength}}</span>
							</div>
						</div>
					</div>
					<div class="form-group" [ngClass]="{ 'has-error' : !form.get('postalAddress').get('district').valid && form.get('postalAddress').get('district').dirty }">
						<label class="col-md-2 control-label">{{'district' | translate}}
						<i class="fa fa-question-circle text-muted" ngbTooltip="District where the organization is located." placement="right"></i>
          			</label>
						<div class="col-md-4">
							<input formControlName="district" type="text" class="form-control" />
							<div *ngIf="!form.get('postalAddress').get('district').valid && form.get('postalAddress').get('district').dirty">
								<span *ngIf="form.get('postalAddress').get('district').hasError('maxlength')" class="help-block">Max length allowed: {{form.get('postalAddress').get('district').errors.maxlength.requiredLength}}</span>
							</div>
						</div>
					</div>
					<div class="form-group" [ngClass]="{ 'has-error' : !form.get('postalAddress').get('streetName').valid && form.get('postalAddress').get('streetName').dirty }">
						<label class="col-md-2 control-label">{{'street-name' | translate}}
						<i class="fa fa-question-circle text-muted" ngbTooltip="Street name where the organization is located." placement="right"></i>
          			</label>
						<div class="col-md-4">
							<input formControlName="streetName" type="text" class="form-control" />
							<div *ngIf="!form.get('postalAddress').get('streetName').valid && form.get('postalAddress').get('streetName').dirty">
								<span *ngIf="form.get('postalAddress').get('streetName').hasError('maxlength')" class="help-block">Max length allowed: {{form.get('postalAddress').get('streetName').errors.maxlength.requiredLength}}</span>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-2 col-lg-offset-2">
						<of-button-save [form]="form" [working]="working"></of-button-save>
						<button type="button" (click)="loadData()" class="btn btn-default" [disabled]="!form.dirty">{{'cancel' | translate}}</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>