<div class="row">
  <div class="col-md-12">

    <ol class="breadcrumb">
      <li><a routerLink="../">{{'voided-documents' | translate}}</a></li>
      <li>{{'create-voided-document' | translate}}</li>
    </ol>

    <h1>{{'create-voided-document' | translate}}</h1>
    <ul class="nav nav-tabs">
      <li routerLinkActive="active">
        <a routerLink="./">{{'form' | translate}}</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="../upload">{{'upload' | translate}}</a>
      </li>
    </ul>


  </div>
</div>