<div class="row">
  <div class="col-md-12">

    <ol class="breadcrumb">
      <li><a routerLink="../">{{'voided-documents' | translate}}</a></li>
      <li>{{'create-voided-document' | translate}}</li>
    </ol>

    <h1>{{'create-voided-document' | translate}}</h1>
    <!--<ul class="nav nav-tabs">
      <li routerLinkActive="active">
        <a href="javascript:void(0);">{{'form' | translate}}</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="../upload">{{'upload' | translate}}</a>
      </li>
    </ul>-->

    <form [formGroup]="form" (ngSubmit)="save(form)">
      <of-form-fields-status [ofForm]="form"></of-form-fields-status>

      <div class="row">
        <div class="col-md-2">
          <div class="form-group" [ofFormFieldValidationState]="form.get('enviarAutomaticamenteASunat')">
            <label class="control-label" [ofFormRequiredLabel]="form.get('enviarAutomaticamenteASunat')">Enviar Sunat
						  <i class="fa fa-question-circle text-muted" ngbTooltip="Tru/false si quiere enviar inmediatamente a la SUNAT" placement="right"></i>
                        </label>
            <of-button-switch formControlName="enviarAutomaticamenteASunat" [onText]="'SI'" [offText]="'NO'"></of-button-switch>
            <of-form-field-validation-messages [ofFormControl]="form.get('enviarAutomaticamenteASunat')">
            </of-form-field-validation-messages>
          </div>
        </div>
      </div>
      <!--/Entidad-->

      <div class="row">
        <div class="col-md-12">
          <table class="table table-striped table-bordered table-hover dataTable no-footer">
            <thead>
              <tr>
                <td class="text-right">#</td>
                <td class="text-right"><label class="required-pf">Tipo documento</label></td>
                <td class="text-right"><label class="required-pf">Numero documento</label></td>
                <td class="text-right"><label class="required-pf">Codigo</label></td>
                <td class="text-right"><label class="required-pf">Cliente</label></td>
                <td class="text-right"><label class="required-pf">Moneda</label></td>                
                <td class="text-right"><label class="required-pf">Motivo</label></td>
                <td class="text-center">Acciones</td>
              </tr>
            </thead>
            <tbody formArrayName="detalle">
              <template ngFor let-item [ngForOf]="detalle.controls" let-i="index">
                <tr [formGroupName]="i">
                  <td class="text-right">{{i+1}}</td>
                  <td [ofFormFieldValidationState]="item.get('tipoDocumentoRelacionado')">
                    <select formControlName="tipoDocumentoRelacionado" class="form-control">
                      <option *ngFor="let document of documentosRelacionadosVoid" [value]="document.codigo">{{document.denominacion}}</option>
                    </select>
                    <of-form-field-validation-messages [ofFormControl]="item.get('tipoDocumentoRelacionado')">
                    </of-form-field-validation-messages>
                  </td>
                  <td [ofFormFieldValidationState]="item.get('numeroDocumentoRelacionado')">
                    <div class="input-group">
                      <input formControlName="numeroDocumentoRelacionado" (keyup.enter)="findFormDocument(item)"
                        type="text" class="form-control" placeholder="[B|F]000-0000000">
                        <span class="input-group-btn"> 
                          <button (click)="findFormDocument(item)" type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                    <of-form-field-validation-messages [ofFormControl]="item.get('numeroDocumentoRelacionado')">
                    </of-form-field-validation-messages>
                  </td>
                  <td>
                    <span>{{item.get('tipoDocumentoRelacionado').value}}</span>
                  </td>
                  <td [ofFormFieldValidationState]="item.get('entidadDenominacionDocumentoRelacionado')">
                    <input formControlName="entidadDenominacionDocumentoRelacionado" type="text" class="form-control text-right" readonly>
                    <of-form-field-validation-messages [ofFormControl]="item.get('entidadDenominacionDocumentoRelacionado')">
                    </of-form-field-validation-messages>
                  </td>
                  <td [ofFormFieldValidationState]="item.get('monedaDocumentoRelacionado')">
                    <input formControlName="monedaDocumentoRelacionado" type="text" class="form-control text-right" readonly>
                    <of-form-field-validation-messages [ofFormControl]="item.get('monedaDocumentoRelacionado')">
                    </of-form-field-validation-messages>
                  </td>                  
                  <td [ofFormFieldValidationState]="item.get('descripcionDocumentoRelacionado')">
                    <input formControlName="descripcionDocumentoRelacionado" type="text" class="form-control text-right">
                    <of-form-field-validation-messages [ofFormControl]="item.get('descripcionDocumentoRelacionado')">
                    </of-form-field-validation-messages>
                  </td>
                  <td class=" table-view-pf-actions">
                    <div class="table-view-pf-btn">
                      <button (click)="removeDetalleFormControl(i)" class="btn btn-default" type="button"><span class="fa fa-trash"></span></button>
                    </div>
                  </td>
                </tr>
              </template>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="10" class="text-right">
                  <button (click)="addDetalleFormControl()" type="button" class="btn btn-lg btn-default">Agregar Item
                      <span class="fa fa-plus"></span>
                  </button>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <!--/Detalle-->

      <br>

      <div class="row">
        <div class="col-md-8">
          <div class="form-group" [ofFormFieldValidationState]="form.get('observaciones')">
            <label class="control-label" [ofFormRequiredLabel]="form.get('observaciones')">Observaciones
                <i class="fa fa-question-circle text-muted" ngbTooltip="Enabled of the organization" placement="right"></i>      
            </label>
            <textarea formControlName="observaciones" rows="5" class="form-control"></textarea>
            <of-form-field-validation-messages [ofFormControl]="form.get('observaciones')">
            </of-form-field-validation-messages>
          </div>
        </div>
      </div>
      <!--/ Totales-->

      <of-button-save [ofForm]="form" [working]="working"></of-button-save>
      <of-button-cancel (ofOnCancel)="cancel()"></of-button-cancel>

    </form>

  </div>
</div>