<div>
  <div class="modal-header">
    <button type="button" class="close wizard-pf-dismiss" (click)="onCancelEvent()" *ngIf="!embedInPage">
      <span>&times;</span>
    </button>
    <dt class="modal-title">{{title}}</dt>
  </div>
  <div class="modal-body wizard-pf-body clearfix">
    <!-- step area -->
    <div class="wizard-pf-steps" [ngClass]="{'invisible': !wizardReady}">
      <ul class="wizard-pf-steps-indicator" *ngIf="!hideIndicators" [ngClass]="{'invisible': !wizardReady}">
        <li class="wizard-pf-step" [ngClass]="{active: step.selected}" *ngFor="let step of getEnabledSteps(); let $index = index;" [attr.data-tabgroup]="$index">
          <a href="javascript:void();" (click)="stepClick(step)"><span class="wizard-pf-step-number">{{$index + 1}}</span><span class="wizard-pf-step-title">{{step.stepTitle}}</span></a>
        </li>
      </ul>
    </div>

    <!-- loading wizard placeholder -->
    <div *ngIf="!wizardReady" class="wizard-pf-main" style="margin-left: 0px">
      <div class="wizard-pf-loading blank-slate-pf">
        <div class="spinner spinner-lg blank-slate-pf-icon"></div>
        <h3 class="blank-slate-pf-main-action">{{loadingWizardTitle}}</h3>
        <p class="blank-slate-pf-secondary-action">{{loadingSecondaryInformation}}</p>
      </div>
    </div>
    <div class="wizard-pf-position-override">
      <ng-content></ng-content>
    </div>
  </div>
  <div class="modal-footer wizard-pf-footer wizard-pf-position-override" [ngClass]="{'wizard-pf-footer-inline': embedInPage}">
    <button pfWizCancel class="btn btn-default btn-cancel wizard-pf-cancel" [disabled]="wizardDone" (click)="onCancelEvent()" *ngIf="!embedInPage">{{cancelTitle || 'Cancel'}}</button>
    <div class="tooltip-wrapper" ngbTooltip="prevTooltip" placement="left">
      <button id="backButton" pfWizPrevious class="btn btn-default" [disabled]="!wizardReady || wizardDone || !prevEnabled || firstStep" (click)="backCallbackEvent()">
        <span class="i fa fa-angular-left"></span>
        {{backTitle || 'Back'}}
      </button>
    </div>
    <div class="tooltip-wrapper" ngbTooltip="nextTooltip" placement="left">
      <button id="nextButton" pfWizNext class="btn btn-primary wizard-pf-next" [disabled]="!wizardReady || !nextEnabled" (click)="nextCallbackEvent()">
        {{nextTitle || 'Next'}}
        <span class="i fa fa-angular-right"></span>
      </button>
    </div>
    <button pfWizCancel class="btn btn-default btn-cancel wizard-pf-cancel wizard-pf-cancel-inline" [disabled]="wizardDone" (click)="onCancelEvent()" *ngIf="embedInPage">{{cancelTitle || 'Cancel'}}</button>
  </div>
</div>