<section [hidden]="!selected" [ngClass]="{current: selected, done: completed}">
  <div class="wizard-pf-sidebar" [ngStyle]="contentStyle" *ngIf="substeps === true">
    <ul class="list-group">
      <li class="list-group-item" [ngClass]="{active: step.selected}" *ngFor="let step of getEnabledSteps()">
        <a href="javascript:void();" (click)="stepClick(step)">
          <span class="wizard-pf-substep-number">{{getStepDisplayNumber(step)}}</span>
          <span class="wizard-pf-substep-title">{{step.title}}</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="wizard-pf-main" [ngClass]="{'wizard-pf-singlestep': !substeps}" [ngStyle]="contentStyle">
    <div class="wizard-pf-contents">
      <ng-content></ng-content>
    </div>
  </div>
</section>