<div class="container-fluid">
	<ol class="breadcrumb">
		<li><a href="javascript:void(0);" routerLink="../../invoices">Invoices</a></li>
		<li class="active"> {{invoice.documentId}}</li>
	</ol>
	<div>
		<h3>Invoice {{invoice.documentId}}
			<small>created 
				<of-relative-timestamp [timestamp]="invoice.issueDateTime">			
				</of-relative-timestamp>
			</small>
			<div class="pull-right">
				<div class="btn-group">
					<button type="button" (click)="downloadXml()" class="btn btn-default">
						<span class="fa fa-file-code-o"></span> Xml
					</button>
					<button type="button" (click)="downloadPdf()" class="btn btn-default">
						<span class="fa fa-file-pdf-o"></span> Pdf
					</button>
				</div>
				<div class="btn-group">
					<button type="button" (click)="sendToCustomer()" class="btn btn-default">
						<span class="fa fa-paper-plane"></span> To Customer
					</button>
					<button type="button" (click)="sendToThirdParty()" class="btn btn-default">
						<span class="fa fa-paper-plane"></span> To Third Party
					</button>
				</div>
				<!--<div class="btn-group">
					<div class="btn-group" ngbDropdown>
						<button type="button" class="btn btn-default">Actions</button>
						<button class="btn btn-default" ngbDropdownToggle>
						<span class="caret"></span>
						<span class="sr-only">Split button!</span>
					</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu2" style="right: 0; left: auto;">
							<li role="menuitem"><a href="#">Action</a></li>
							<li role="menuitem"><a href="#">Another action</a></li>
							<li class="divider"></li>
							<li role="menuitem"><a href="#">Separated link</a></li>
						</ul>
					</div>
				</div>-->
			</div>
		</h3>
	</div>
</div>

<br>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="tab-container">
				<ul class="nav nav-tabs">
					<li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="./">Overview</a></li>
					<li routerLinkActive="active"><a routerLink="./events">Events</a></li>
				</ul>
				<div class="tab-pane">
					<div>
						<router-outlet></router-outlet>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>