<br>
<div class="blank-slate-pf">
  <div class="blank-slate-pf-icon">
    <span class="pficon pficon pficon-add-circle-o"></span>
  </div>
  <h1>
    {{'welcome-to' | translate}} Openfact
  </h1>
  <p>
    {{'welcome-message' | translate}}
  </p>
  <p>
    Learn more about this <a href="https://github.com/openfact/openfact">on the documentation</a>.
  </p>
  <div class="blank-slate-pf-main-action">
    <a routerLink="./settings" class="btn btn-primary btn-lg"> {{'settings' | translate}} </a>
  </div>
</div>