<ol class="breadcrumb">
  <li>
    <a href="javascript:void(0);">Configuración</a>
  </li>
  <li class="active">Información general</li>
</ol>


<div>
  <h3>Actualizar Organización</h3>
  <form [formGroup]="companyForm" (ngSubmit)="save()" class="form-horizontal">
    <p class="fields-status-pf">Los campos marcados con
      <span class="required-pf">*</span> son requeridos.
    </p>

    <div class="form-group" ngxFormControlError="name">
      <label class="col-md-2 control-label required-pf">Nombre</label>
      <div class="col-md-3">
        <input formControlName="name" type="text" class="form-control" autofocus/>
        <ngx-form-help-block formControlHelp="name"></ngx-form-help-block>
      </div>
    </div>
    <div class="form-group" ngxFormControlError="description">
      <label class="col-md-2 control-label">Descripción </label>
      <div class="col-md-3">
        <textarea formControlName="description" type="text" class="form-control"></textarea>
        <ngx-form-help-block formControlHelp="description"></ngx-form-help-block>
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-2 col-lg-offset-2">
        <of-working-button [type]="'submit'" [active]="companyForm.valid" [working]="working"></of-working-button>
        <button type="button" class="btn btn-default">Cancelar</button>
      </div>
    </div>

  </form>
</div>
