<td class="text-right">
  {{index}}
</td>
<td *ngIf="formularioDetallado">
  <input type="text" [(ngModel)]="documentLine.unidadMedida" class="form-control" placeholder="NIO" />
</td>
<td>
  <input type="text" [(ngModel)]="documentLine.descripcion" class="form-control" placeholder="Descripcion" />
</td>
<td>
  <input type="text" [(ngModel)]="documentLine.cantidad" (ngModelChange)="recalcularALaDerecha()" class="form-control text-right"
    placeholder="0.000">
</td>
<td>
  <select class="form-control" [(ngModel)]="documentLine.tipoIGV" (ngModelChange)="recalcularALaDerecha()">
    <option *ngFor="let item of tiposDeAfectacionIGV" [ngValue]="item">
      {{item.denominacion}}
    </option>
  </select>
</td>
<td>
  <input type="text" [(ngModel)]="documentLine.valorUnitario" (ngModelChange)="recalcularALaDerecha()" class="form-control text-right"
    placeholder="0.00">
</td>
<td *ngIf="formularioDetallado">
  <input type="text" [(ngModel)]="documentLine.precioUnitario" class="form-control text-right" readonly>
</td>
<td *ngIf="formularioDetallado">
  <input type="text" [(ngModel)]="documentLine.subtotal" class="form-control text-right" readonly>
</td>
<td>
  <input type="text" [(ngModel)]="documentLine.total" class="form-control text-right" readonly>
</td>
<td *ngIf="formularioDetallado">
  <input type="text" [(ngModel)]="documentLine.totalIGV" class="form-control text-right" placeholder="0.00" readonly>
</td>
<td class="table-view-pf-actions">
  <span class="table-view-pf-btn">
    <button (click)="remove()" class="btn btn-default" type="button">
      <span class="fa fa-trash"></span>
    </button>
  </span>
</td>
