
<br>
<div class="row">
  <div class="col-lg-6">
    <fieldset>
      <legend>
        <h3>General Information</h3>
      </legend>
    </fieldset>
    <dl class="dl-horizontal left">
      <dt>
        Document ID:
        <span title="The currency of the retentionJson." class="pficon pficon-help text-muted small"></span>
      </dt>
      <dd>{{retentionJson.id.value}}</dd>
      <dt>
        Currency Code:
        <span title="The currency of the retentionJson." class="pficon pficon-help text-muted small"></span>
      </dt>
      <dd>{{retentionJson.documentCurrencyCode.value}}</dd>
      <dt>
        Issue Date:
        <span title="Issue Date of the retentionJson." class="pficon pficon-help text-muted small"></span>
      </dt>
      <dd>{{retentionJson.issueDate.value | date: 'shortDate'}}</dd>
      <dt>
        Retention Percent:
        <span title="Issue Date of the retentionJson." class="pficon pficon-help text-muted small"></span>
      </dt>
      <dd>{{retentionJson.sunatRetentionPercent.value | number:'1.2-3'}}</dd>
      <dt>
        Total Retention:
        <span title="Issue Date of the retentionJson." class="pficon pficon-help text-muted small"></span>
      </dt>
      <dd>{{retentionJson.totalInvoiceAmount.value | number:'1.2-3'}}</dd>
      <dt>
        Total Paid:
        <span title="Issue Date of the retentionJson." class="pficon pficon-help text-muted small"></span>
      </dt>
      <dd>{{retentionJson.sunatTotalPaid.value | number:'1.2-3'}}</dd>
      <dt>
        <span class="pficon pficon-image" aria-hidden="true"></span> Xml:
        <span title="The time of the issue retentionJson." class="pficon pficon-help text-muted small"></span>
      </dt>
      <dd>
        <of-view-xml [xml]="retentionText" [label]="'Xml preview'" [buttonOnly]="false"></of-view-xml>
      </dd>
      <dd>
        <a href="">
          <span><i class="fa fa-file-pdf-o"> </i> Pdf preview</span>
        </a>
      </dd>
    </dl>
  </div>
  <div class="col-lg-6">
    <fieldset>
      <legend>
        <h3>Receiver Party</h3>
      </legend>
    </fieldset>
    <dl class="dl-horizontal left">
      <dt>
        Party Identification:
        <span title="The currency of the retentionJson." class="pficon pficon-help text-muted small"></span>
      </dt>
      <dd>{{retentionJson.receiverParty.partyIdentification[0].idvalue}}</dd>
      <dt>
        Party Name:
        <span title="The currency of the retentionJson." class="pficon pficon-help text-muted small"></span>
      </dt>
      <dd>{{retentionJson.receiverParty.partyName[0].nameValue}}</dd>
      <dt>
        Street Name:
        <span title="Issue Date of the retentionJson." class="pficon pficon-help text-muted small"></span>
      </dt>
      <dd>{{retentionJson.receiverParty.postalAddress.streetName.value}}</dd>
    </dl>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div>
      <h3>Retention Document Reference</h3>
    </div>
    <div>
      <div class="table-responsive">
        <table class="datatable table table-striped table-bordered dataTable no-footer table-mobile">
          <thead>
          <tr>
            <th class="text-right">#</th>
            <th class="text-right">Document Reference</th>
            <th>Reference Date</th>
            <th class="text-right">Reference Currency</th>
            <th class="text-right">Reference Amount</th>

            <th class="text-right">Payment Amount</th>
            <th class="text-right">Payment Currency</th>
            <th class="text-right">Payment Date</th>

            <th class="text-right">Retention Date</th>
            <th class="text-right">Retention Currency</th>
            <th class="text-right">Total Retention</th>

            <th class="text-right">Total Paid</th>

          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of retentionJson.sunatRetentionDocumentReference; let i = index;">
            <td class="text-right">{{i+1}}</td>
            <td class="text-right">{{item.id.value }}</td>
            <td class="text-right">{{item.issueDate.value | date: 'shortDate'}}</td>
            <td class="text-right">{{item.totalInvoiceAmount.currencyID }}</td>
            <td class="text-right">{{item.totalInvoiceAmount.value | number:'1.2-3'}}</td>

            <td class="text-right">{{item.payment.paidAmount.value | number:'1.2-3'}}</td>
            <td class="text-right">{{item.payment.paidAmount.currencyID }}</td>
            <td class="text-right">{{item.payment.paidDate.value | date: 'shortDate'}}</td>

            <td class="text-right">{{item.sunatretentionInformation.sunatretentionDate.value | date: 'shortDate'}}</td>
            <td class="text-right">{{item.sunatretentionInformation.sunatretentionAmount.currencyID }}</td>
            <td class="text-right">{{item.sunatretentionInformation.sunatretentionAmount.value | number:'1.2-3'}}</td>
            <td class="text-right">{{item.sunatretentionInformation.sunatnetTotalPaid.value | number:'1.2-3'}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
