
<br>
<div class="row">
  <div class="col-lg-6">
    <fieldset>
      <legend>
        <h3>General Information</h3>
      </legend>
    </fieldset>
    <dl class="dl-horizontal left">
      <dt>
        Document ID:
        <span title="The currency of the retentionJson." class="pficon pficon-help text-muted small"></span>
      </dt>
      <dd *ngIf="retentionJson.ID">{{retentionJson.ID }}</dd>
      <dd *ngIf="!retentionJson.ID"><em>Not registered</em></dd>
      <dt>
        Currency Code:
        <span title="The currency of the retentionJson." class="pficon pficon-help text-muted small"></span>
      </dt>
      <dd *ngIf="retentionJson.DocumentCurrencyCode">{{retentionJson.DocumentCurrencyCode }}</dd>
      <dd *ngIf="!retentionJson.DocumentCurrencyCode"><em>Not registered</em></dd>
      <dt>
        Issue Date:
        <span title="Issue Date of the retentionJson." class="pficon pficon-help text-muted small"></span>
      </dt>
      <dd *ngIf="retentionJson.IssueDate">{{retentionJson.IssueDate }}</dd>
      <dd *ngIf="!retentionJson.IssueDate"><em>Not registered</em></dd>
      <dt>
        Retention Percent:
        <span title="Issue Date of the retentionJson." class="pficon pficon-help text-muted small"></span>
      </dt>
      <dd *ngIf="retentionJson.SUNATRetentionPercent">{{retentionJson.SUNATRetentionPercent | number:'1.2-3'}}</dd>
      <dd *ngIf="!retentionJson.SUNATRetentionPercent"><em>Not registered</em></dd>
      <dt>
        Total Retention:
        <span title="Issue Date of the retentionJson." class="pficon pficon-help text-muted small"></span>
      </dt>
      <dd *ngIf="retentionJson.TotalInvoiceAmount">{{retentionJson.TotalInvoiceAmount.content | number:'1.2-3'}}</dd>
      <dd *ngIf="!retentionJson.TotalInvoiceAmount"><em>Not registered</em></dd>
      <dt>
        Total Paid:
        <span title="Issue Date of the retentionJson." class="pficon pficon-help text-muted small"></span>
      </dt>
      <dd *ngIf="retentionJson.SUNATTotalPaid">{{retentionJson.SUNATTotalPaid.content | number:'1.2-3'}}</dd>
      <dd *ngIf="!retentionJson.SUNATTotalPaid"><em>Not registered</em></dd>     
    </dl>
  </div>
  <div class="col-lg-6">
    <fieldset>
      <legend>
        <h3>Receiver Party</h3>
      </legend>
    </fieldset>
    <dl class="dl-horizontal left">
      <dt>
        Party Identification:
        <span title="The currency of the retentionJson." class="pficon pficon-help text-muted small"></span>
      </dt>
      <dd *ngIf="retentionJson.ReceiverParty.PartyIdentification">        
        <span *ngFor="let partyIdentification of retentionJson.ReceiverParty.PartyIdentification | ofArray">
          {{partyIdentification.ID.content}}
        </span>
      </dd>
      <dd *ngIf="!retentionJson.ReceiverParty.PartyIdentification"><em>Not registered</em></dd>
      <dt>
        Party Name:
        <span title="The currency of the retentionJson." class="pficon pficon-help text-muted small"></span>
      </dt>
      <dd *ngIf="retentionJson.ReceiverParty.PartyName">
        <span *ngFor="let partyName of retentionJson.ReceiverParty.PartyName | ofArray">
          {{partyName.Name}}
        </span>        
      </dd>
      <dd *ngIf="!retentionJson.ReceiverParty.PartyName"><em>Not registered</em></dd>
      <dt>
        Street Name:
        <span title="Issue Date of the retentionJson." class="pficon pficon-help text-muted small"></span>
      </dt>
      <dd *ngIf="retentionJson.ReceiverParty.PostalAddress">{{retentionJson.ReceiverParty.PostalAddress.StreetName}}</dd>
      <dd *ngIf="!retentionJson.ReceiverParty.PostalAddress"><em>Not registered</em></dd>
    </dl>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div>
      <h3>Retention Document Reference</h3>
    </div>
    <div>
      <div class="table-responsive">
        <table class="datatable table table-striped table-bordered dataTable no-footer table-mobile">
          <thead>
          <tr>
            <th class="text-right">#</th>
            <th class="text-right">Document Reference</th>
            <th>Reference Date</th>
            <th class="text-right">Reference Currency</th>
            <th class="text-right">Reference Amount</th>

            <th class="text-right">Payment Amount</th>
            <th class="text-right">Payment Currency</th>
            <th class="text-right">Payment Date</th>

            <th class="text-right">Retention Date</th>
            <th class="text-right">Retention Currency</th>
            <th class="text-right">Total Retention</th>

            <th class="text-right">Total Paid</th>

          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of (retentionJson.SunatRetentionDocumentReference | ofArray); let i = index;">
            <td class="text-right">{{i+1}}</td>
            <td class="text-right">{{item.ID }}</td>
            <td class="text-right">{{item.IssueDate}}</td>
            <td class="text-right">{{item.TotalInvoiceAmount.currencyID }}</td>
            <td class="text-right">{{item.TotalInvoiceAmount.content | number:'1.2-3'}}</td>

            <td class="text-right">{{item.Payment.PaidAmount.content | number:'1.2-3'}}</td>
            <td class="text-right">{{item.Payment.PaidAmount.currencyID }}</td>
            <td class="text-right">{{item.Payment.PaidDate}}</td>

            <td class="text-right">{{item.SUNATRetentionInformation.SUNATRetentionDate}}</td>
            <td class="text-right">{{item.SUNATRetentionInformation.SUNATRetentionAmount.currencyID }}</td>
            <td class="text-right">{{item.SUNATRetentionInformation.sunatretentionAmount.value | number:'1.2-3'}}</td>
            <td class="text-right">{{item.SUNATRetentionInformation.SUNATNetTotalPaid.content | number:'1.2-3'}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
