<nav class="navbar navbar-default navbar-pf navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">
      <img src="/assets/img/brand.svg" alt="PatternFly Enterprise Application" />
    </a>
  </div>
  <div class="collapse navbar-collapse navbar-collapse-1">
    <ul class="nav navbar-nav navbar-primary">
      <li>
        <a href="#">Documentation</a>
      </li>
      <li>
        <a href="#">Frecuent Questions</a>
      </li>
      <li>
        <a href="#">Create an Issue</a>
      </li>
      <li>
        <a href="#">Contact us</a>
      </li>
    </ul>
  </div>
</nav>

<br><br>

<div class="container-fluid">
  <div class="clearfix row">
    <div class="col-md-12 clearfix">

      <div class="container">
        <h1>Not found</h1>
        <p>Sorry, but the page you were trying to view does not exist.</p>
        <p>It looks like this was the result of either:</p>
        <ul>
          <li>a mistyped address</li>
          <li>an out-of-date link</li>
        </ul>
      </div>

    </div>
  </div>
</div>

<footer class="footer-pf-alt footer-pf" style="padding: 15px 0;">
  <div class="container">
    <a href="https://www.openfact.com/">
      <img alt="Sistcoop" src="/assets/img/logo-alt.svg">
    </a>
    <div class="pull-right" style="margin-top: 14px; font-size: 12px;">Copyright © 2016 Red Hat, Inc.</div>
  </div>
</footer>