<div class="nav-pf-vertical nav-pf-vertical-with-secondary-nav ">
    <ul class="list-group">
        <li class="list-group-item active">
            <a href="#">
                <span class="fa fa-dashboard"></span>
                <span class="list-group-item-value">Dashboard</span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="#">
                <span class="pficon pficon-cluster"></span>
                <span class="list-group-item-value">Factura</span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="#">
                <span class="pficon pficon-screen"></span>
                <span class="list-group-item-value">Boleta</span>
            </a>
        </li>
        <li class="list-group-item persistent-secondary" data-target="#storage-secondary">
            <a href="#">
                <span class="pficon pficon-container-node"></span>
                <span class="list-group-item-value">Configuracion</span>
            </a>
            <div id="storage-secondary" class="nav-pf-persistent-secondary">
                <div class="persistent-secondary-header">
                    <a class="secondary-collapse-toggle-pf" href="#" data-toggle="collapse-secondary-nav"></a>
                    <span>Configuracion</span>
                </div>
                <h5>Usuarios</h5>
                <ul class="list-group">
                    <li class="list-group-item active">
                        <a href="#">
                            <span class="list-group-item-value">Registrar</span>
                            <div class="badge-container-pf">
                                <div class="badge">
                                    <span class="pficon pficon-error-circle-o"></span>
                                    <span>1</span>
                                </div>
                                <div class="badge">
                                    <span class="pficon pficon-warning-triangle-o"></span>
                                    <span>3</span>
                                </div>
                            </div>
                        </a>
                    </li>
                  
                </ul>
                         
            </div>

        </li>
    
    </ul>
</div>