<br>
<br>
<div class="container-fluid container-cards-pf">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h2>
				{{'providers' | translate}}
				<a href="javascript:void(0);" (click)="loadData()"><i class="pficon pficon-restart"></i></a>
			</h2>
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th width="20%">SPI</th>
						<th>{{'providers' | translate}}</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let spi of spis.keys()">
						<td width="20%">{{spi}}</td>
						<td>
							<ul class="list-unstyled" style="margin-bottom: 0px;">
								<li *ngFor="let provider of spis.getValue(spi).providers | keys">
									<span>{{provider}}</span>
									<table *ngIf="(spis.getValue(spi).providers[provider].operationalInfo | keys).lenght > 0" class="table table-striped table-bordered">
										<tbody>
											<tr *ngFor="let operationalInfo of spis.getValue(spi).providers[provider].operationalInfo | keys">
												<td width="20%">{{operationalInfo}}</td>
												<td>{{spis.getValue(spi).providers[provider].operationalInfo[operationalInfo]}}</td>
											</tr>
										</tbody>
									</table>
								</li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>