<div class="nav-pf-vertical nav-pf-vertical-with-sub-menus nav-pf-persistent-secondary">
  <ul class="list-group">
    <li class="list-group-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <a routerLink="./">
        <span class="fa fa-dashboard" title="{{'overview' | translate}}"></span>
        <span class="list-group-item-value">{{'overview' | translate}}</span>
      </a>
    </li>
    <li class="list-group-item" routerLinkActive="active">
      <a routerLink="invoices">
        <span class="fa fa-wpforms" title="{{'invoices' | translate}}"></span>
        <span class="list-group-item-value">{{'invoices' | translate}}</span>
      </a>
    </li>
    <li class="list-group-item" routerLinkActive="active">
      <a routerLink="credit-notes">
        <span class="fa fa-credit-card" title="{{'credit-notes' | translate}}"></span>
        <span class="list-group-item-value">{{'credit-notes' | translate}}</span>
      </a>
    </li>
    <li class="list-group-item" routerLinkActive="active">
      <a routerLink="debit-notes">
        <span class="fa fa-eraser" title="{{'debit-notes' | translate}}"></span>
        <span class="list-group-item-value">{{'debit-notes' | translate}}</span>
      </a>
    </li>
    <li class="list-group-item" routerLinkActive="active">
      <a routerLink="perceptions">
        <span class="fa fa-graduation-cap" title="{{'perceptions' | translate}}"></span>
        <span class="list-group-item-value">{{'perceptions' | translate}}</span>
      </a>
    </li>
    <li class="list-group-item" routerLinkActive="active">
      <a routerLink="retentions">
        <span class="fa fa-shield" title="{{'retentions' | translate}}"></span>
        <span class="list-group-item-value">{{'retentions' | translate}}</span>
      </a>
    </li>
    <li class="list-group-item" routerLinkActive="active">
      <a routerLink="voided-documents">
        <span class="fa fa-thumbs-down" title="{{'voided-documents' | translate}}"></span>
        <span class="list-group-item-value">{{'voided-documents' | translate}}</span>
      </a>
    </li>
    <li class="list-group-item" routerLinkActive="active">
      <a routerLink="summary-documents">
        <span class="fa fa-list-alt" title="{{'summary-documents' | translate}}"></span>
        <span class="list-group-item-value">{{'summary-documents' | translate}}</span>
      </a>
    </li>
    <li class="list-group-item" routerLinkActive="active">
      <a routerLink="events">
        <span class="fa fa-calendar" title="{{'events' | translate}}"></span>
        <span class="list-group-item-value">{{'events' | translate}}</span>
      </a>
    </li>
    <li class="list-group-item" routerLinkActive="active">
      <a [routerLink]="['settings', 'general-information']">
        <span class="fa fa-gear" title="{{'settings' | translate}}"></span>
        <span class="list-group-item-value">{{'settings' | translate}}</span>
      </a>
    </li>
  </ul>
</div>