<div class="row">
	<div class="col-lg-12">

		<of-document-edit-header [organization]="organization" [document]="document" [breadcrumb]="'perceptions'" [documentType]="'perception'"
		 [enableAssignCreditNote]="false" [enableAssignDebitNote]="false" [enableVoid]="true"></of-document-edit-header>

		<br>
		<div *ngIf="!documentJson">
			<div class="spinner"></div>
		</div>

		<div *ngIf="documentJson">
			<div class="row">
				<div class="col-lg-9">
					<div class="row">
						<div class="col-lg-6">
							<fieldset>
								<legend>
									<h3>{{'general-information' | translate}}</h3>
								</legend>
							</fieldset>
							<dl class="dl-horizontal left">
								<dt>
									{{'id' | translate}}
									<span ngbTooltip="{{'id' | translate}}" placement="right" class="pficon pficon-help text-muted small"></span>
								</dt>
								<dd *ngIf="documentJson.ID">{{documentJson.ID}}</dd>
								<dd *ngIf="!documentJson.ID">
									<em>{{'not-registered' | translate}}</em>
								</dd>
								<dt>
									{{'issue-date' | translate}}
									<span ngbTooltip="{{'issue-date' | translate}}" placement="right" class="pficon pficon-help text-muted small"></span>
								</dt>
								<dd *ngIf="documentJson.IssueDate">{{documentJson.IssueDate}}</dd>
								<dd *ngIf="!documentJson.IssueDate">
									<em>{{'not-registered' | translate}}</em>
								</dd>
								<dt>
									{{'note' | translate}}
									<span ngbTooltip="{{'note' | translate}}." placement="right" class="pficon pficon-help text-muted small"></span>
								</dt>
								<dd *ngIf="documentJson.Note">{{documentJson.Note}}</dd>
								<dd *ngIf="!documentJson.Note">
									<em>{{'not-registered' | translate}}</em>
								</dd>
							</dl>
						</div>
						<div class="col-lg-6">
							<fieldset>
								<legend>
									<h3>{{'perception-info' | translate}}</h3>
								</legend>
							</fieldset>
							<dl class="dl-horizontal left">
								<dt>
									{{'perception-percent' | translate}}
									<span ngbTooltip="{{'perception-percent' | translate}}." placement="right" class="pficon pficon-help text-muted small"></span>
								</dt>
								<dd *ngIf="documentJson.SUNATPerceptionPercent">{{documentJson.SUNATPerceptionPercent}}%</dd>
								<dd *ngIf="!documentJson.SUNATPerceptionPercent">
									<em>{{'not-registered' | translate}}</em>
								</dd>

								<dt>
									{{'total-cashed' | translate}}
									<span ngbTooltip="{{'total-cashed' | translate}}" placement="right" class="pficon pficon-help text-muted small"></span>
								</dt>
								<dd>{{documentJson.SUNATTotalCashed.currencyID}} {{documentJson.SUNATTotalCashed.content | number:'1.2-3'}}</dd>
								<dt>
									{{'total-perception-amount' | translate}}
									<span ngbTooltip="	{{'total-perception-amount' | translate}}" placement="right" class="pficon pficon-help text-muted small"></span>
								</dt>
								<dd>{{documentJson.TotalInvoiceAmount.currencyID}} {{documentJson.TotalInvoiceAmount.content | number:'1.2-3'}}</dd>
							</dl>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6">
							<fieldset>
								<legend>
									<h3>{{'supplier-party' | translate}}</h3>
								</legend>
							</fieldset>
							<dl class="dl-horizontal left">
								<dt>
									{{'assigned-account-id' | translate}}
									<span ngbTooltip="{{'assigned-account-id' | translate}}." placement="right" class="pficon pficon-help text-muted small"></span>
								</dt>
								<dd>{{documentJson.AgentParty.PartyIdentification.ID.content}}</dd>
								<dt>
									{{'registration-name' | translate}}
									<span ngbTooltip="{{'registration-name' | translate}}." placement="right" class="pficon pficon-help text-muted small"></span>
								</dt>
								<dd>{{documentJson.AgentParty.PartyLegalEntity.RegistrationName}}</dd>
								<dt>
									{{'street-name' | translate}}
									<span ngbTooltip="{{'street-name' | translate}}." placement="right" class="pficon pficon-help text-muted small"></span>
								</dt>
								<dd>{{documentJson.AgentParty.PostalAddress.StreetName}}</dd>
							</dl>
						</div>
						<div class="col-lg-6">
							<fieldset>
								<legend>
									<h3>{{'customer-party' | translate}}</h3>
								</legend>
							</fieldset>
							<dl class="dl-horizontal left">
								<dt>
									{{'assigned-account-id' | translate}}
									<span ngbTooltip="{{'assigned-account-id' | translate}}." placement="right" class="pficon pficon-help text-muted small"></span>
								</dt>
								<dd>{{documentJson.ReceiverParty.PartyIdentification.ID.content}}</dd>
								<dt>
									{{'additional-account-id' | translate}}:
									<span ngbTooltip="{{'assigned-account-id' | translate}}" placement="right" class="pficon pficon-help text-muted small"></span>
								</dt>
								<dd>{{documentJson.ReceiverParty.PartyIdentification.ID.schemeID}}</dd>

								<dt>
									{{'registration-name' | translate}}
									<span ngbTooltip="	{{'registration-name' | translate}}." placement="right" class="pficon pficon-help text-muted small"></span>
								</dt>
								<dd>{{documentJson.ReceiverParty.PartyLegalEntity.RegistrationName}}</dd>
							</dl>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="col-lg-12 sidebar-right sidebar-pf sidebar-pf-right">
						<of-document-edit-right-sidebar [document]="document"></of-document-edit-right-sidebar>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div>
						<h3> {{'details' | translate}}</h3>
					</div>
					<div>
						<div class="table-responsive">
							<table class="datatable table table-striped table-bordered dataTable no-footer table-mobile">
								<thead>
									<tr>
										<td rowspan="2" class="text-right">#</td>
										<th colspan="4" class="text-center">{{'related-document' | translate}}</th>
										<th colspan="3" class="text-center">{{'cashed-information' | translate}}</th>
										<th colspan="3" class="text-center">{{'exchange-rate' | translate}}</th>
										<th colspan="2" class="text-center">{{'perception-data' | translate}}</th>
									</tr>
									<tr>
										<td class="col-md-1">{{'ID' | translate}}</td>
										<td class="col-md-1">{{'document-date' | translate}} </td>
										<td class="col-md-1">{{'currency' | translate}}</td>
										<td class="col-md-1 text-right">{{'amount' | translate}}</td>

										<td class="col-md-1 text-right">{{'cashed' | translate}}</td>
										<td class="col-md-1 text-right">{{'amount-cashed' | translate}}</td>
										<td class="col-md-1">{{'cashed-date' | translate}}</td>

										<td class="col-md-1 text-right">{{'change-type' | translate}}</td>
										<td class="col-md-1">{{'source-target' | translate}}</td>
										<td class="col-md-1">{{'date-type-change' | translate}}</td>

										<td class="col-md-1 text-right">{{'perceived-amount' | translate}}</td>
										<td class="col-md-1 text-right">{{'amount-net-cashed' | translate}}</td>
									</tr>
								</thead>							
								<tbody>
									<tr *ngFor="let documentReference of (documentJson.SUNATPerceptionDocumentReference | toArray); let i = index;">
											<td class="text-right">{{i+1}}</td>
											<td>{{documentReference.ID.content}}</td>
											<td>{{documentReference.IssueDate}}</td>
											<td>{{documentReference.TotalInvoiceAmount.currencyID}}</td>
											<td class="text-right">{{documentReference.TotalInvoiceAmount.content | number:'1.2-3'}}</td>
	
											<td class="text-right">{{documentReference.Payment.ID}}</td>
											<td class="text-right">{{documentReference.Payment.PaidAmount.content | number:'1.2-3'}}</td>
											<td>{{documentReference.Payment.PaidDate}}</td>
	
											<td class="text-right">{{documentReference.SUNATPerceptionInformation.ExchangeRate.CalculationRate | number:'1.2-3'}}</td>
											<td>{{documentReference.SUNATPerceptionInformation.ExchangeRate.SourceCurrencyCode}}/{{documentReference.SUNATPerceptionInformation.ExchangeRate.TargetCurrencyCode}}</td>
											<td>{{documentReference.SUNATPerceptionInformation.ExchangeRate.Date}}</td>
	
	
											<td class="text-right">{{documentReference.SUNATPerceptionInformation.SUNATPerceptionAmount.content | number:'1.2-3'}}</td>
											<td class="text-right">{{documentReference.SUNATPerceptionInformation.SUNATNetTotalCashed.content | number:'1.2-3'}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br>