<app-error-header></app-error-header>
<br><br>

<div class="container-fluid">
  <div class="clearfix row">
    <div class="col-md-12 clearfix">

      <div class="container">
        <h1>404 - unauthorized</h1>
        <p>Sorry, but the page you were trying to view is not authorized for you.</p>
        <p>Posible solutions:</p>
        <ul>
          <li><a href="javascript:void(0);" (click)="logout()">Logout</a> and enter valid credentials</li>
          <li>Cotact to support area</li>
        </ul>
      </div>

    </div>
  </div>
</div>

<app-error-footer></app-error-footer>