<nav class="navbar navbar-pf-vertical navbar-pf-alt">
  <div row flex class="navbar-header hidden-xs navbar-header-openfact">
    <a class="navbar-home">
      <button type="button" class="navbar-toggle" [routerLink]="['/organizations']">
      <span class="fa-3x pficon pficon-home" aria-hidden="true"></span>
   
      <span class="visible-xlg-inline-block"> OpenFactV1</span>
   </button>
    </a>
  </div>
  <div class="nav navbar-project-menu">
    <!--<div row>-->
    <div row flex class="navbar-flex-btn toggle-menu">
      <button (click)="changeCollapsed()" type="button" class="navbar-toggle project-action-btn ng-isolate-scope" data-toggle="collapse"
        data-target=".navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

    </div>
    <div row flex class="form-group">
      <div class="btn-group bootstrap-select form-control" ngbDropdown keyboardNav="true">
        <button id="simple-btn-keyboard-nav" type="button" class="btn btn-primary" ngbDropdownToggle>
       {{ 'HOME.DEFAULT' | translate }}  <span class="caret"></span>
    </button>
        <ul class="dropdown-menu" dropdownMenu role="menu" aria-labelledby="simple-btn-keyboard-nav">
          <li *ngFor="let organization of organizations" class="selected" (click)="changeOrganization(organization)" role="menuitem"><a class="dropdown-item">{{organization.name}}</a></li>
        </ul>
      </div>
    </div>
   
    <!--<div row flex class="navbar-flex-btn project-action">
        <a row class="project-action-btn" href="#"
          title="Add to project">
          <i class="fa fa-plus visible-xs-inline-block"></i>
        </a>
      </div>-->


    <!--<div row extension-point extension-name="nav-system-status-mobile" extension-types="dom" class="navbar-flex-btn hide-if-empty"></div>
    </div>-->

  </div>

  <!--<div row extension-point extension-name="nav-system-status-mobile" extension-types="dom" class="navbar-flex-btn hide-if-empty"></div>-->
  <!--<div class="visible-xs-block">-->
  <navbar-utility></navbar-utility>

  <!--</div>-->

</nav>