<nav class="navbar navbar-pf-vertical">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" [routerLink]="['/organizations']" style="margin: 0px; color: #A8A9AA;">
      <span class="fa-3x pficon pficon-home"></span> 
      <span class="visible-xlg-inline-block" style="font-size: 15px;vertical-align: super;font-weight: 600; margin-right: 39px;"> Organizations</span>
    </button>
  </div>
  <div class="navbar-header">
    <div class="form-group styled" style="margin: 0;margin-top:10px;" >
      <select class="form-control"  [ngModel]="selectOrganization" (ngModelChange)="changeOrganization($event)" >
         <option *ngFor="let organization of organizations" [ngValue]="organization">{{organization.name}}</option>
      </select>
    </div>
  </div>
  <!--<div class="col-md-2"> <select class="form-control">style="height: 58px; width: 300px; font-size: 16px;"
         <option *ngFor="let o of refData" [value]="o.value">{{o.name}}</option>$event.target.value  [(ngModel)]="selectOrganization" 
      [ngModel]="selectOrganization" </select></div>
      change)="onChange($event.target.value)"
      -->  
  <navbar-utility></navbar-utility>
</nav>  