<div class="container-fluid container-cards-pf container-pf-nav-pf-vertical container-pf-nav-pf-vertical-with-secondary ">

  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-1 control-label" for="exampleInputDisabled">EMPRESA</label>
      <div class="col-sm-11">
        <input type="text" id="exampleInputDisabled" value="AHREN CONTRATISTAS GENERALES SAC" class="form-control" disabled></div>
    </div>

    <div class="form-group">
      <label class="col-sm-1 control-label" for="exampleInput">Nombre Receptor</label>
      <div class="col-sm-3">
        <input type="text" id="nombre-receptor" class="form-control">
      </div>

      <label class="col-sm-1 control-label" for="exampleInput">Desde</label>
      <div class="col-sm-3">
        <input type="text" id="desde" class="form-control">
      </div>
      <label class="col-sm-1 control-label" for="exampleInput">Hasta</label>
      <div class="col-sm-3">
        <input type="text" id="hasta" class="form-control">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-1 control-label" for="exampleInput">Serie</label>
      <div class="col-sm-3">
        <input type="text" id="nombre-receptor" class="form-control">
      </div>
      <label class="col-sm-1 control-label" for="exampleInput">Folio</label>
      <div class="col-sm-3">
        <input type="text" id="desde" class="form-control">
      </div>
      <label class="col-sm-1 control-label" for="exampleInput">Estado</label>
      <div class="col-sm-3">
        <input type="text" id="hasta" class="form-control">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-1 col-sm-10">
        <button type="submit" class="btn btn-primary">Buscar</button>
        <button type="submit" class="btn btn-default">Cancelar</button>
      </div>
    </div>
  </form>
</div>