<div class="layout-pf layout-pf-fixed">
    ...
    <script src="components/c3/c3.min.js"></script>
    <script src="components/d3/d3.min.js"></script>
    <script src="components/matchHeight/jquery.matchHeight-min.js"></script>
    <nav class="navbar navbar-pf-vertical">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
            <a href="/" class="navbar-brand">
                <img class="navbar-brand-icon" src="/assets/img/logo-alt.svg" alt="" /><img class="navbar-brand-name" src="/assets/img/brand-alt.svg"
                    alt="PatternFly Enterprise Application" />
            </a>
        </div>
        <nav class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#" target="_blank" class="nav-item-iconic nav-item-iconic-new-window"><span title="Launch" class="fa fa-external-link"></span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right navbar-iconic">
                <li class="dropdown">
                    <a class="dropdown-toggle nav-item-iconic" id="notifications" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span title="Notifications" class="fa pficon-flag"></span>
                        <span class="badge">2</span>
                    </a>
                    <div class="dropdown-menu infotip bottom-right">
                        <div class="arrow"></div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="i pficon pficon-info"></span> Modified Datasources ExampleDS
                            </li>
                            <li class="list-group-item">
                                <span class="i pficon pficon-info"></span> Error: System Failure
                            </li>
                        </ul>
                        <div class="footer">
                            <a>Clear Messages</a>
                        </div>
                    </div>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle nav-item-iconic" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span title="Help" class="fa pficon-help"></span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">Help</a></li>
                        <li><a href="#">About</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle nav-item-iconic" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span title="Username" class="fa pficon-user"></span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li><a href="#">Preferences</a></li>
                        <li><a href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </nav>
    <!--/.navbar-->

    <div class="nav-pf-vertical nav-pf-vertical-with-secondary-nav ">
        <ul class="list-group">
            <li class="list-group-item active">
                <a href="#">
                    <span class="fa fa-dashboard"></span>
                    <span class="list-group-item-value">Dashboard</span>
                </a>
            </li>
            <li class="list-group-item">
                <a href="#">
                    <span class="pficon pficon-cluster"></span>
                    <span class="list-group-item-value">Clusters</span>
                </a>
            </li>
            <li class="list-group-item">
                <a href="#">
                    <span class="pficon pficon-screen"></span>
                    <span class="list-group-item-value">Hosts</span>
                </a>
            </li>
            <li class="list-group-item persistent-secondary" data-target="#storage-secondary">
                <a href="#">
                    <span class="pficon pficon-container-node"></span>
                    <span class="list-group-item-value">Storage</span>
                </a>
                <div id="storage-secondary" class="nav-pf-persistent-secondary">
                    <div class="persistent-secondary-header">
                        <a class="secondary-collapse-toggle-pf" href="#" data-toggle="collapse-secondary-nav"></a>
                        <span>Storage</span>
                    </div>
                    <h5>File</h5>
                    <ul class="list-group">
                        <li class="list-group-item active">
                            <a href="#">
                                <span class="list-group-item-value">Volumes</span>
                                <div class="badge-container-pf">
                                    <div class="badge">
                                        <span class="pficon pficon-error-circle-o"></span>
                                        <span>1</span>
                                    </div>
                                    <div class="badge">
                                        <span class="pficon pficon-warning-triangle-o"></span>
                                        <span>3</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <span class="list-group-item-value">Bricks</span>
                                <div class="badge-container-pf">
                                    <div class="badge">
                                        <span class="pficon pficon-warning-triangle-o"></span>
                                        <span>3</span>
                                    </div>
                                    <span class="badge">12</span>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <span class="list-group-item-value">Quotas</span>
                                <div class="badge-container-pf">
                                    <span class="badge">3</span>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <span class="list-group-item-value">Logical Volumes</span>
                                <div class="badge-container-pf">
                                    <div class="badge">
                                        <span class="pficon pficon-error-circle-o"></span>
                                        <span>1</span>
                                    </div>
                                    <span class="badge">10</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <h5>Object</h5>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="#">
                                <span class="list-group-item-value">Pools</span>
                                <div class="badge-container-pf">
                                    <span class="badge">10</span>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <span class="list-group-item-value">OSDs</span>
                                <div class="badge-container-pf">
                                    <div class="badge">
                                        <span class="pficon pficon-error-circle-o"></span>
                                        <span>1</span>
                                    </div>
                                    <div class="badge">
                                        <span class="pficon pficon-warning-triangle-o"></span>
                                        <span>3</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <h5>Block</h5>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="#">
                                <span class="list-group-item-value">RBDs</span>
                                <div class="badge-container-pf">
                                    <div class="badge">
                                        <span class="pficon pficon-warning-triangle-o"></span>
                                        <span>2</span>
                                    </div>
                                    <span class="badge">14</span>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <span class="list-group-item-value">Quotas</span>
                                <div class="badge-container-pf">
                                    <span class="badge">0</span>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <span class="list-group-item-value">Snapshots</span>
                                <div class="badge-container-pf">
                                    <div class="badge">
                                        <span class="pficon pficon-warning-triangle-o"></span>
                                        <span>3</span>
                                    </div>
                                    <span class="badge">9</span>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <span class="list-group-item-value">Storage Profiles</span>
                                <div class="badge-container-pf">
                                    <span class="badge">7</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

            </li>
            <li class="list-group-item persistent-secondary" data-target="#admin-secondary">
                <a href="#">
                    <span class="fa fa-cog"></span>
                    <span class="list-group-item-value">Admin</span>
                </a>
                <div id="admin-secondary" class="nav-pf-persistent-secondary">
                    <div class="persistent-secondary-header">
                        <a class="secondary-collapse-toggle-pf" href="#" data-toggle="collapse-secondary-nav"></a>
                        <span>Admin</span>
                    </div>
                    <h5>User Administration</h5>
                    <ul class="list-group">
                        <li class="list-group-item active">
                            <a href="#">
                                <span class="list-group-item-value">Users</span>
                                <div class="badge-container-pf">
                                    <span class="badge">10</span>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <span class="list-group-item-value">Groups</span>
                                <div class="badge-container-pf">
                                    <span class="badge">3</span>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <span class="list-group-item-value">Roles</span>
                                <div class="badge-container-pf">
                                    <span class="badge">5</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <h5>Storage</h5>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="#">
                                <span class="list-group-item-value">Local Storage</span>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <span class="list-group-item-value">History</span>
                                <div class="badge-container-pf">
                                    <span class="badge">0</span>
                                </div>
                            </a>
                        </li>
                    </ul>

                    <h5>Preferences</h5>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="#">
                                <span class="list-group-item-value">Appearance</span>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <span class="list-group-item-value">Notifications</span>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <span class="list-group-item-value">Sound</span>
                            </a>
                        </li>
                    </ul>
                </div>

            </li>
        </ul>
    </div>
    <div class="container-fluid container-cards-pf container-pf-nav-pf-vertical container-pf-nav-pf-vertical-with-secondary ">

        <!-- /row -->

        
        <!-- /row -->


        <!-- /row -->

    </div>
    <script>
  $(document).ready(function() {
    // matchHeight the contents of each .card-pf and then the .card-pf itself
    $(".row-cards-pf > [class*='col'] > .card-pf .card-pf-title").matchHeight();
    $(".row-cards-pf > [class*='col'] > .card-pf > .card-pf-body").matchHeight();
    $(".row-cards-pf > [class*='col'] > .card-pf > .card-pf-footer").matchHeight();
    $(".row-cards-pf > [class*='col'] > .card-pf").matchHeight();

    // initialize tooltips
    $('[data-toggle="tooltip"]').tooltip();

    // Initialize the vertical navigation
    $().setupVerticalNavigation(true);
  });
</script>

</div>