<div class="layout-pf layout-pf-fixed">
  
  <script src="components/c3/c3.min.js"></script>
  <script src="components/d3/d3.min.js"></script>
  <script src="components/matchHeight/jquery.matchHeight-min.js"></script>
  <app-top-area>
  </app-top-area>
  <app-center-area>
    
  </app-center-area>
  
 <router-outlet></router-outlet>
  
  <script>
  $(document).ready(function() {
    // matchHeight the contents of each .card-pf and then the .card-pf itself
    $(".row-cards-pf > [class*='col'] > .card-pf .card-pf-title").matchHeight();
    $(".row-cards-pf > [class*='col'] > .card-pf > .card-pf-body").matchHeight();
    $(".row-cards-pf > [class*='col'] > .card-pf > .card-pf-footer").matchHeight();
    $(".row-cards-pf > [class*='col'] > .card-pf").matchHeight();

    // initialize tooltips
    $('[data-toggle="tooltip"]').tooltip();

    // Initialize the vertical navigation
    $().setupVerticalNavigation(true);
  });
</script>

</div>