<div class="container-fluid container-cards-pf">
	<div class="row row-cards-pf">
		<div class="col-md-12">
			<form class="form-horizontal">
				<p class="fields-status-pf">The fields marked with <span class="required-pf">*</span> are required.</p>

				<div class="row">
					<div class="col-lg-6">
						<fieldset>
							<legend>Customer</legend>
							<div class="form-group">
								<label class="col-md-2 control-label required-pf">DNI/RUC
						  <i class="fa fa-question-circle text-muted" ngbTooltip="organization of the organization" placement="right"></i>
            </label>
								<div class="col-md-3">
									<input type="text" class="form-control" readonly/>
								</div>
							</div>
						</fieldset>
					</div>
          <div class="col-lg-6">
						<fieldset>
							<legend>Customer</legend>
							<div class="form-group">
								<label class="col-md-2 control-label required-pf">DNI/RUC
						      <i class="fa fa-question-circle text-muted" ngbTooltip="organization of the organization" placement="right"></i>
                </label>
								<div class="col-md-3">
									<input type="text" class="form-control" readonly/>
								</div>
							</div>
						</fieldset>
					</div>
				</div>


				<div class="form-group">
					<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-2 col-lg-offset-2">
						<button type="button" class="btn btn-primary">Save</button>
						<button type="button" class="btn btn-default">Cancel</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>