
<div class="visible-xs-block">
    <navbar-utility-mobile></navbar-utility-mobile>
</div>

<div class="container">
    <alerts></alerts>
</div>

<project-header></project-header>
<project-page>
<h1>lista de facturas</h1>
  <div class="container-fluid container-cards-pf">

    <div class="row row-cards-pf">
      <div class="col-md-10 col-md-offset-1">

       
        <h1 style="margin: 10px 0px 20px; display: inline-block;">Invoices</h1>
        <a style="margin-top: 10px;" href="" [routerLink]="['./create-invoice.component']" class="btn btn-lg btn-primary pull-right">Create Invoice</a>
        
        <div *ngFor="let item of invoices" class="card-pf">
          <div class="card-pf-heading">
            <a href="javascript:void(0)" class="card-pf-heading-details" (click)="deleteOrganization(item)">
              <i class="fa fa-trash-o"></i>
              <span class="sr-only">Delete Project {{item.issueDate}}</span>
            </a>
            <h2 class="card-pf-title">
              <a href="javascript:void(0)" (click)="editOrganization(item)">{{item.issueDate}}</a>
            </h2>
            <div style="margin-bottom: 10px;">
              <span>{{item.issueDate}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</project-page>