<!--<div class="container-fluid container-cards-pf container-pf-nav-pf-vertical container-pf-nav-pf-vertical-with-secondary ">-->

<accordion [closeOthers]="oneAtATime">
  <accordion-group heading="Registro de factura" [isOpen]="status.isFirstOpen" [isDisabled]="status.isFirstDisabled">
    <!--<p>The body of the accordion group grows to fit the contents</p>
    <button type="button" class="btn btn-primary btn-sm" (click)="addItem()">Add Item</button>
    <div *ngFor="let item of items">{{item}}</div>-->
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-2 control-label" for="exampleInput">Serie</label>
        <div class="col-sm-2">
          <input type="text" id="exampleInput" class="form-control" placeholder="Serie">
        </div>
        <label class="col-sm-2 control-label" for="exampleInput">Numero</label>
        <div class="col-sm-2">
          <input type="text" id="exampleInput" class="form-control" placeholder="Numero">
        </div>
        <label class="col-sm-2 control-label" for="exampleInput">Fecha Emision</label>
        <div class="col-sm-2">
          <input type="text" id="exampleInput" class="form-control" placeholder="Fecha Emision">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="exampleInput">Ruc</label>
        <div class="col-sm-2">
          <input type="text" id="exampleInput" class="form-control" placeholder="RUC">
        </div>
        <label class="col-sm-2 control-label" for="exampleInput">Razon Social</label>
        <div class="col-sm-6">
          <input type="text" id="exampleInput" class="form-control" placeholder="Razon Social">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="exampleInput">Moneda</label>
        <div class="col-sm-2">
          <select class="combobox form-control">
          <option>Soles</option>
          <option>Dolares</option>            
          <option disabled>Euros</option>
        </select>
        </div>
        <label class="col-sm-2 control-label" for="exampleInput">Afecto</label>
        <div class="col-sm-2">
          <label class="switch">
                <input type="checkbox"/>
                <div class="slider"></div>
                </label>
        </div>
        <label class="col-sm-2 control-label" for="exampleInput">Email</label>
        <div class="col-sm-2">
          <input type="email" id="exampleInput" class="form-control" placeholder="jane.doe@example.com">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-6">
          <!--<button type="button" class="btn btn-primary btn-xs">Nuevo</button>-->
          <button class="btn btn-primary" (click)="lgModal.show()">Nuevo</button>
          <button type="button" class="btn btn-default btn-xs">Editar</button>
          <button type="button" class="btn btn-default btn-xs">Eliminar</button>
        </div>
        <div class="col-sm-6"></div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>#</th>
                <th>Cantidad</th>
                <th>U.Medida</th>
                <th>Producto</th>
                <th>P.Unitario</th>
                <th>P. Parcial</th>
                <th>Operaciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let detalleFactura of listDetalleFactura">
                <th scope="row">1</th>
                <td>{{ detalleFactura.Cantidad }}</td>
                <td>{{ detalleFactura.UnidadMedida }}</td>
                <td>{{ detalleFactura.Producto }}</td>
                <td>{{ detalleFactura.PrecioUnitario }}</td>
                <td>{{ detalleFactura.precioParcial }}</td>
                <td>Editar</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-primary">Grabar y Enviar</button>
          <button type="submit" class="btn btn-primary">Grabar</button>
          <button type="submit" class="btn btn-default">Cancelar</button>
        </div>
      </div>
    </form>

  </accordion-group>
</accordion>





<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Large modal</h4>
      </div>
      <div class="modal-body">

        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Cantidad</label>
            <input type="number" class="form-control" id="exampleInputEmail1" placeholder="Cantidad">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Unidad Medida</label>
                <select class="combobox form-control">
                  <option>Unidades</option>
                  <option>Galones</option>            
                  <option>Pares</option>
                </select>
          </div>       
          <div class="form-group">
            <label for="exampleInputPassword1">Producto/Servicio</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Producto o Servicio">
          </div>    
          <div class="form-group">
            <label for="exampleInputPassword1">Precio Unitario</label>
            <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Precio Unitario">
          </div>     
          <div class="checkbox">
            <label>
              <input type="checkbox"> Afecto
            </label>
          </div>
          <button type="submit" class="btn btn-default">Agregar</button>
        </form>

      </div>
    </div>
  </div>
</div>



<!--<div>
  <pre class="card card-block card-header">Selected date is: <em *ngIf="dt">{{ getDate() | date:'fullDate'}}</em></pre>
  <h4>Inline</h4>
  <div style="display:inline-block; min-height:290px;">
    <datepicker [(ngModel)]="dt" [minDate]="minDate" [showWeeks]="true"></datepicker>
  </div>

  <hr />
  <button type="button" class="btn btn-sm btn-info" (click)="today()">Today</button>
  <button type="button" class="btn btn-sm btn-default btn-secondary" (click)="d20090824();">2009-08-24</button>
  <button type="button" class="btn btn-sm btn-danger" (click)="clear()">Clear</button>
  <button type="button" class="btn btn-sm btn-default btn-secondary" (click)="toggleMin()" tooltip="After today restriction">Min date</button>
</div>-->