<!--<div class="container-fluid container-cards-pf container-pf-nav-pf-vertical container-pf-nav-pf-vertical-with-secondary ">-->

<accordion [closeOthers]="oneAtATime">
  <accordion-group heading="Registro de factura" [isOpen]="status.isFirstOpen" [isDisabled]="status.isFirstDisabled">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-2 control-label" for="exampleInput">Serie</label>
        <div class="col-sm-2">
          <input type="text" *ngIf="selectFactura" [(ngModel)]="selectFactura.serie" [ngModelOptions]="{standalone: true}" id="exampleInput"
            class="form-control" placeholder="Serie">
        </div>
        <label class="col-sm-2 control-label" for="exampleInput">Numero</label>
        <div class="col-sm-2">
          <input type="text" *ngIf="selectFactura" [(ngModel)]="selectFactura.numero" [ngModelOptions]="{standalone: true}" id="exampleInput"
            class="form-control" placeholder="Numero">
        </div>
        <label class="col-sm-2 control-label" for="exampleInput">Fecha Emision</label>
        <div class="col-sm-2">
          <input type="text" *ngIf="selectFactura" [(ngModel)]="selectFactura.fechaEmision" [ngModelOptions]="{standalone: true}" id="exampleInput"
            class="form-control" placeholder="Fecha Emision">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="exampleInput">Ruc</label>
        <div class="col-sm-2">
          <input type="text" *ngIf="selectFactura" [(ngModel)]="selectFactura.ruc" [ngModelOptions]="{standalone: true}" id="exampleInput"
            class="form-control" placeholder="RUC">
        </div>
        <label class="col-sm-2 control-label" for="exampleInput">Razon Social</label>
        <div class="col-sm-6">
          <input type="text" *ngIf="selectFactura" [(ngModel)]="selectFactura.razonSocial" [ngModelOptions]="{standalone: true}" id="exampleInput"
            class="form-control" placeholder="Razon Social">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="exampleInput">Moneda</label>
        <div class="col-sm-2">
          <select class="combobox form-control" *ngIf="selectFactura" [(ngModel)]="selectFactura.moneda" [ngModelOptions]="{standalone: true}">
          <option *ngFor="let moneda of listMoneda" value="moneda.codigo" >{{moneda.denominacion}}</option>
          <!--<option>Dolares</option>            
          <option disabled>Euros</option>-->
        </select>
        </div>
        <label class="col-sm-2 control-label" for="exampleInput">Afecto</label>
        <div class="col-sm-1">

          <input type="checkbox" *ngIf="selectFactura" [(ngModel)]="selectFactura.afecto" [ngModelOptions]="{standalone: true}" />

          <!--<div class="btn-group btn-toggle">
            <button [ngClass]="'btn btn-xs btn-default':isON">ON</button>
            <button [ngClass]="'btn btn-xs btn-primary active',isOFF" >OFF</button>
          </div>-->
        </div>
        <label class="col-sm-2 control-label" for="exampleInput">Email</label>
        <div class="col-sm-3">
          <div class="input-group">
            <span class="input-group-addon">@</span>
            <input type="email" *ngIf="selectFactura" [(ngModel)]="selectFactura.email" [ngModelOptions]="{standalone: true}" id="exampleInput"
              class="form-control" placeholder="jane.doe@example.com">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-6">
          <!--<button type="button" class="btn btn-primary btn-xs">Nuevo</button>-->
          <button class="btn btn-primary" (click)="showChildModal()">Nuevo</button>
          <button type="button" class="btn btn-default btn-xs">Editar</button>
          <button type="button" class="btn btn-default btn-xs">Eliminar</button>
        </div>
        <div class="col-sm-6"></div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Cantidad</th>
                <th>U.Medida</th>
                <th>Producto</th>
                <th>P.Unitario</th>
                <th>P. Parcial</th>
                <th>Operaciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let detalleFactura of selectFactura.facturaDetalle">
                <th scope="row">1</th>
                <td>{{ detalleFactura.cantidad }}</td>
                <td>{{ detalleFactura.unidadMedida }}</td>
                <td>{{ detalleFactura.producto }}</td>
                <td>{{ detalleFactura.precioUnitario }}</td>
                <td>{{ detalleFactura.precioParcial }}</td>
                <td>
                  <!--<a href="javascript:void(0)" (click)="Editar(detalleFactura)">
                    Editar
                  </a>-->

                  <!--<a href="javascript:void(0)" class="destroy" (click)="deleteModel(detalleFactura)">
                    Eliminar
                  </a>-->
                  <button type="button" (click)="deleteModel(detalleFactura)" class="close" aria-label="Close"><span aria-hidden="true">&#x02717;</span></button>
                  <button type="button" (click)="Editar(detalleFactura)" class="close" aria-label="Close"><span aria-hidden="true">&#x021D9;</span></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-primary">Grabar y Enviar</button>
          <button type="submit" class="btn btn-primary">Grabar</button>
          <button type="submit" class="btn btn-default">Cancelar</button>
        </div>
      </div>
    </form>
  </accordion-group>
</accordion>

<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="hideChildModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">NUEVO DETALLE DE FACTURA</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="cantidad">Cantidad</label>
            <!--<div *ngIf="selectedFactura">-->
            <input type="number" *ngIf="selectFacturaDetalle" [(ngModel)]="selectFacturaDetalle.cantidad" ngControl="someValue" name="cantidad"
              class="form-control" id="cantidad" placeholder="Cantidad">
            <!--</div>-->
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Unidad Medida</label>
            <select class="combobox form-control" *ngIf="selectFacturaDetalle" [(ngModel)]="selectFacturaDetalle.unidadMedida" [ngModelOptions]="{standalone: true}">
                  <option value="Unidades">Unidades</option>
                  <option value="Galones">Galones</option>            
                  <option value="Pares">Pares</option>
                </select>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Producto/Servicio</label>
            <input type="text" ngControl="producto" *ngIf="selectFacturaDetalle" [(ngModel)]="selectFacturaDetalle.producto" [ngModelOptions]="{standalone: true}"
              class="form-control" id="exampleInputPassword1" placeholder="Producto o Servicio">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Precio Unitario</label>
            <div class="input-group">
              <div class="input-group-addon">$</div>
              <input type="number" ngControl="precioUnitario" *ngIf="selectFacturaDetalle" [(ngModel)]="selectFacturaDetalle.precioUnitario"
                [ngModelOptions]="{standalone: true}" class="form-control" id="exampleInputPassword1" placeholder="Precio Unitario">
              <div class="input-group-addon">.00</div>
            </div>
          </div>
          <div class="form-group">
            <label for="">Afecto</label>
            <label class="switch"> 
                <input type="checkbox"/> 
                <div class="slider"></div>
             </label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" (click)="agregar(selectFacturaDetalle)" data-dismiss="modal" class="btn btn-primary">Agregar</button>
      </div>
    </div>
  </div>
</div>



<!--<div>
  <pre class="card card-block card-header">Selected date is: <em *ngIf="dt">{{ getDate() | date:'fullDate'}}</em></pre>
  <h4>Inline</h4>
  <div style="display:inline-block; min-height:290px;">
    <datepicker [(ngModel)]="dt" [minDate]="minDate" [showWeeks]="true"></datepicker>
  </div>

  <hr />
  <button type="button" class="btn btn-sm btn-info" (click)="today()">Today</button>
  <button type="button" class="btn btn-sm btn-default btn-secondary" (click)="d20090824();">2009-08-24</button>
  <button type="button" class="btn btn-sm btn-danger" (click)="clear()">Clear</button>
  <button type="button" class="btn btn-sm btn-default btn-secondary" (click)="toggleMin()" tooltip="After today restriction">Min date</button>
</div>-->