<div>
  <h1>
    {{organization.name}}
    <button-delete [model]="organization" [type]="'Organization'" [resourceName]="organization.name" [buttonOnly]="true" [redirectUrl]="'/organizations'">
    </button-delete>
  </h1>
  <ul class="nav nav-tabs">
    <li routerLinkActive="active"><a [routerLink]="['./general-information']">{{ 'HOME.GENERAL_INFORMATION' | translate }}</a></li>
    <li routerLinkActive="active"><a [routerLink]="['./address']">{{ 'HOME.ADDRESS' | translate }}</a></li>
    <li routerLinkActive="active"><a [routerLink]="['./certificate']">{{ 'HOME.CERTIFICATE' | translate }}</a></li>
    <li routerLinkActive="active"><a [routerLink]="['./tasks-schedule']">{{ 'HOME.TASKS_SCHEDULE' | translate }}</a></li>
  </ul>
</div>

<router-outlet></router-outlet>