<project-header></project-header>
<project-page>

  <div class="pull-right">
    <button class="btn btn-danger">Eliminar</button>
  </div>

  <h1>
    <strong>Edit organization</strong>
  </h1>

  <div class="panel panel-default">
    <div class="panel-body">
      <div>

        <div class="tab-container">
          <ul class="nav nav-tabs">
            <li routerLinkActive="active">
              <a [routerLink]="['./general-information']">General information</a>
            </li>
            <li routerLinkActive="active">
              <a [routerLink]="['./address']">Address</a>
            </li>
          </ul>
          <div class="tab-pane">
            <router-outlet></router-outlet>
          </div>
        </div>

      </div>
    </div>
  </div>

</project-page>