<default-header></default-header>

<div class="visible-xs-block">
  <navbar-utility-mobile></navbar-utility-mobile>
</div>

<div class="container-fluid container-cards-pf">
  <div class="row row-cards-pf">
    <div class="col-md-10 col-md-offset-1">

      <h1>Create Organization</h1>
      <alerts [alerts]="alerts"></alerts>

      <form [formGroup]="form" (ngSubmit)="save(form.value)" class="form-horizontal" novalidate>
        <fieldset>
          <div class="form-group" [ngClass]="{ 'has-error' : !form.controls.name.valid && submitted }">
            <label class="col-sm-2 control-label"><span class="required">*</span> Name
              <i class="fa fa-question-circle text-muted" tooltip="Name of the organization" tooltipPlacement="right" tooltipTrigger="mouseover mouseout"></i>
            </label>            
            <div class="col-sm-3">
              <input formControlName="name" type="text" class="form-control" autofocus/>
              <div *ngIf="!form.controls.name.valid && submitted">
                <span class="help-block">Type a correct name</span>
              </div>
            </div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error' : !form.controls.description.valid && submitted }">
            <label class="col-sm-2 control-label">Description              
              <i class="fa fa-question-circle text-muted" tooltip="Description of the organization" tooltipPlacement="right" tooltipTrigger="mouseover mouseout"></i>
            </label>            
            <div class="col-sm-3">
              <textarea formControlName="description" type="text" class="form-control"></textarea>
              <div *ngIf="!form.controls.description.valid && submitted">
                <span class="help-block">Type a correct description</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button-save [form]="form" [working]="working" (onClick)="setSubmitted($event)"></button-save>
              <button-cancel [working]="working" (onClick)="cancel($event)"></button-cancel>
            </div>
          </div>
        </fieldset>
      </form>

    </div>
  </div>
</div>