<project-header></project-header>
<project-page>

  <a [routerLink]="['../create-invoice']" class="btn btn-default">Nuevo</a>
  
  <table class="table table-condensed table-bordered">
    <thead>
      <tr>
        <td>#</td>
        <td>Quantity</td>
        <td>Description</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let invoice of invoices">
        <td>1</td>
        <td>{{invoice.quantity}}</td>
        <td>{{invoice.itemDescription}}</td>
      </tr>
    </tbody>
  </table>

</project-page>