<!--<h1>Invoices</h1>

  <div class="dataTables_wrapper no-footer">
    <div class="dataTables_header">
      <div class="dataTables_filter">
        <label><input type="search"></label>
      </div>
      <div class="dataTables_info">&nbsp;</div>
      <div class="ColVis">
        <div class="form-group">
          <button class="btn btn-default" [routerLink]="['../create-invoice']" type="button">Create</button>
        </div>
      </div>
    </div>
    <div class="dataTables_header">
      <div class="dataTables_info">Showing <b>1</b> to <b>20</b> of <b>57</b> Items</div>
    </div>
    <div class="table-responsive">
      <table class="datatable table table-striped table-bordered dataTable no-footer">
        <thead>
          <tr>
            <th class="sorting">#</th>
            <th class="sorting">Issue date</th>
            <th class="sorting">Series-number</th>            
            <th class="sorting">Customer</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let invoice of invoices; let i = index" class="odd">
            <td>{{i}}</td>
            <td>{{invoice.issueDate}}</td>
            <td>{{invoice.invoiceSeries}}-{{invoice.invoiceNumber}}</td>
            <td>{{invoice.customer.registrationName}}</td>            
          </tr>
        </tbody>
      </table>
    </div>
    <div class="dataTables_footer">
      <div class="dataTables_paginate paging_bootstrap_input" id="DataTables_Table_0_paginate">
        <ul class="pagination">
          <li class="first disabled"><span class="i fa fa-angle-double-left"></span></li>
          <li class="prev disabled"><span class="i fa fa-angle-left"></span></li>
        </ul>
        <div class="pagination-input"> <input type="text" class="paginate_input"> <span class="paginate_of">of <b>3</b></span></div>
        <ul class="pagination">
          <li class="next"><span class="i fa fa-angle-right"></span></li>
          <li class="last"><span class="i fa fa-angle-double-right"></span></li>
        </ul>
      </div>
    </div>
  </div>-->