<br>
<div class="row">
  <div class="col-lg-6">
    <fieldset>
      <legend>
        <h3>General Information</h3>
      </legend>
    </fieldset>
    <dl class="dl-horizontal left">
      <dt>
        Document ID:
        <span title="The currency of the perceptionJson." class="pficon pficon-help text-muted small"></span>
      </dt>
      <dd *ngIf="perceptionJson.ID">{{perceptionJson.ID }}</dd>
      <dd *ngIf="!perceptionJson.ID"><em>Not registered</em></dd>
      <dt>
        Currency Code:
        <span title="The currency of the perceptionJson." class="pficon pficon-help text-muted small"></span>
      </dt>
      <dd *ngIf="perceptionJson.DocumentCurrencyCode">{{perceptionJson.DocumentCurrencyCode }}</dd>
      <dd *ngIf="!perceptionJson.DocumentCurrencyCode"><em>Not registered</em></dd>
      <dt>
        Issue Date:
        <span title="Issue Date of the perceptionJson." class="pficon pficon-help text-muted small"></span>
      </dt>
      <dd *ngIf="perceptionJson.IssueDate">{{perceptionJson.IssueDate.value}}</dd>
      <dd *ngIf="!perceptionJson.IssueDate"><em>Not registered</em></dd>
      <dt>
        Perception Percent:
        <span title="Issue Date of the perceptionJson." class="pficon pficon-help text-muted small"></span>
      </dt>
      <dd *ngIf="perceptionJson.SUNATPerceptionPercent">{{perceptionJson.SUNATPerceptionPercent| number:'1.2-3' }}</dd>
      <dd *ngIf="!perceptionJson.SUNATPerceptionPercent"><em>Not registered</em></dd>
      <dt>
        Total Perception:
        <span title="Issue Date of the perceptionJson." class="pficon pficon-help text-muted small"></span>
      </dt>
      <dd *ngIf="perceptionJson.TotalInvoiceAmount">{{perceptionJson.TotalInvoiceAmount.content | number:'1.2-3' }}</dd>
      <dd *ngIf="!perceptionJson.TotalInvoiceAmount"><em>Not registered</em></dd>
      <dt>
        Total Paid:
        <span title="Issue Date of the perceptionJson." class="pficon pficon-help text-muted small"></span>
      </dt>
      <dd *ngIf="perceptionJson.SUNATTotalCashed">{{perceptionJson.SUNATTotalCashed.content | number:'1.2-3' }}</dd>
      <dd *ngIf="!perceptionJson.SUNATTotalCashed"><em>Not registered</em></dd>      
    </dl>
  </div>
  <div class="col-lg-6">
    <fieldset>
      <legend>
        <h3>Receiver Party</h3>
      </legend>
    </fieldset>
    <dl class="dl-horizontal left">
      <dt>
        Party Identification:
        <span title="The currency of the perceptionJson." class="pficon pficon-help text-muted small"></span>
      </dt>
      <dd *ngIf="perceptionJson.ReceiverParty.PartyIdentification">        
        <span *ngFor="let PartyIdentification of perceptionJson.ReceiverParty.PartyIdentification | ofArray">
          {{PartyIdentification.ID.content}}
        </span>
      </dd>
      <dd *ngIf="!perceptionJson.ReceiverParty.PartyIdentification"><em>Not registered</em></dd>
      <dt>
        Party Name:
        <span title="The currency of the perceptionJson." class="pficon pficon-help text-muted small"></span>
      </dt>
      <dd *ngIf="perceptionJson.ReceiverParty.PartyName">
        <span *ngFor="let PartyName of perceptionJson.ReceiverParty.PartyName | ofArray">
          {{PartyName.name}}
        </span>
      </dd>
      <dd *ngIf="!perceptionJson.ReceiverParty.partyName"><em>Not registered</em></dd>
      <dt>
        Street Name:
        <span title="Issue Date of the perceptionJson." class="pficon pficon-help text-muted small"></span>
      </dt>
      <dd *ngIf="perceptionJson.ReceiverParty.PostalAddress.streetName">{{perceptionJson.ReceiverParty.PostalAddress.StreetName}}</dd>
      <dd *ngIf="!perceptionJson.ReceiverParty.PostalAddress"><em>Not registered</em></dd>
    </dl>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div>
      <h3>Perception Document Reference</h3>
    </div>
    <div>
      <div class="table-responsive">
        <table class="datatable table table-striped table-bordered dataTable no-footer table-mobile">
          <thead>
            <tr>
              <th class="text-right">#</th>
              <th class="text-right">Document Reference</th>
              <th>Reference Date</th>
              <th class="text-right">Reference Currency</th>
              <th class="text-right">Reference Amount</th>

              <th class="text-right">Payment Amount</th>
              <th class="text-right">Payment Currency</th>
              <th class="text-right">Payment Date</th>

              <th class="text-right">Perception Date</th>
              <th class="text-right">Perception Currency</th>
              <th class="text-right">Total Perception</th>

              <th class="text-right">Total Paid</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of (perceptionJson.SUNATPerceptionDocumentReference | ofArray); let i = index;">
              <td class="text-right">{{i+1}}</td>
              <td class="text-right">{{item.ID.content }}</td>
              <td class="text-right">{{item.IssueDate}}</td>
              <td class="text-right">{{item.TotalInvoiceAmount.currencyID }}</td>
              <td class="text-right">{{item.TotalInvoiceAmount.content | number:'1.2-3'}}</td>

              <td class="text-right">{{item.Payment.PaidAmount.content | number:'1.2-3'}}</td>
              <td class="text-right">{{item.Payment.PaidAmount.currencyID }}</td>
              <td class="text-right">{{item.Payment.PaidAmount.content | date: 'shortDate'}}</td>

              <td class="text-right">{{item.SUNATPerceptionInformation.SUNATPerceptionDate | date: 'shortDate'}}</td>
              <td class="text-right">{{item.SUNATPerceptionInformation.SUNATPerceptionAmount.currencyID }}</td>
              <td class="text-right">{{item.SUNATPerceptionInformation.SUNATPerceptionDate.value | number:'1.2-3'}}</td>
              <td class="text-right">{{item.SUNATPerceptionInformation.SUNATPerceptionDate.value | number:'1.2-3'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>