<nav class="navbar navbar-default navbar-pf">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
    	</button>
		<a class="navbar-brand" routerLink="/">
			<img src="/assets/img/brand.svg" alt="PatternFly Enterprise Application" />
		</a>
	</div>
	<div class="collapse navbar-collapse navbar-collapse-11">
		<ul class="nav navbar-nav navbar-utility">
			<li class="dropdown" ngbDropdown>
				<a class="dropdown-toggle nav-item-iconic" href="javascript:void(0);" ngbDropdownToggle>
					<span title="Help" class="fa pficon-help"></span>
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a routerLink="/about">About</a></li>
				</ul>
			</li>
			<li class="dropdown" ngbDropdown>
				<a class="dropdown-toggle nav-item-iconic" href="javascript:void(0);" ngbDropdownToggle>
					<span class="pficon pficon-user"></span> {{username}} <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="javascript:void(0);" (click)="accountManagement()">Manage account</a></li>
					<li class="divider"></li>
					<li><a href="javascript:void(0);" (click)="logout()">Sign Out</a></li>
				</ul>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-primary persistent-secondary">
			<li routerLinkActive="active">
				<a routerLink="/organizations">Organizations</a>
				<ul class="nav navbar-nav navbar-persistent">
					<li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
						<a routerLink="/organizations">Search</a>
					</li>
					<li routerLinkActive="active" [routerLinkActiveOptions]="{exact:false}">
						<a routerLink="/organizations/create">Create Organization</a>
					</li>
				</ul>
			</li>
			<li routerLinkActive="active">
				<a routerLink="/server-info">Server Info</a>
				<ul class="nav navbar-nav navbar-persistent">
					<li routerLinkActive="active">
						<a routerLink="../general">General</a>
					</li>
					<li routerLinkActive="active">
						<a routerLink="../providers">Providers</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</nav>
<!--/.navbar-->