<div class="container-fluid">
	<div>
		<h3>Events</h3>
	</div>
</div>

<br>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="tab-container">
				<ul class="nav nav-tabs">
					<li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="./">Admin</a></li>
					<li routerLinkActive="active"><a routerLink="./events-settings">Config</a></li>
				</ul>
				<div class="tab-pane">
					<div>
						<router-outlet></router-outlet>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>