<nav class="navbar navbar-default navbar-pf">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
    	</button>
		<a class="navbar-brand" routerLink="/">
			<img src="/assets/img/brand.svg" alt="Openfact Enterprise Application" />
		</a>
	</div>
	<div class="collapse navbar-collapse navbar-collapse-11">
		<ul class="nav navbar-nav navbar-utility">
			<li class="dropdown" ngbDropdown>
				<a class="dropdown-toggle nav-item-iconic" href="javascript:void(0);" ngbDropdownToggle>					
					<span class="fa fa-flag"></span> {{selectedLanguage}} <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li *ngFor="let language of supportedLanguages" [ngClass]="{'active': language == selectedLanguage}" >
						<a href="javascript:void(0);" (click)="changeLanguage(language)">{{language}}</a>
					</li>
				</ul>
			</li>
			<li class="dropdown" ngbDropdown>
				<a class="dropdown-toggle nav-item-iconic" href="javascript:void(0);" ngbDropdownToggle>
					<span class="pficon pficon-user"></span> {{username}} <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="javascript:void(0);" (click)="accountManagement()">{{'manage-account' | translate}}</a></li>
					<li class="divider"></li>
					<li><a href="javascript:void(0);" (click)="logout()">{{'sign-out' | translate}}}</a></li>
				</ul>
			</li>			
		</ul>
		<ul class="nav navbar-nav navbar-primary persistent-secondary">
			<li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
				<a routerLink="./organizations">{{'organizations' | translate}}</a>
				<ul class="nav navbar-nav navbar-persistent">
					<li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
						<a routerLink="./organizations">{{'all' | translate}}</a>
					</li>
					<li routerLinkActive="active">
						<a routerLink="./organizations/create">{{'create-organization' | translate}}</a>
					</li>
				</ul>
			</li>
			<li routerLinkActive="active">
				<a routerLink="./server-info">{{'server-info' | translate}}</a>
				<ul class="nav navbar-nav navbar-persistent">
					<li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
						<a routerLink="./server-info">{{'general' | translate}}</a>
					</li>
					<li routerLinkActive="active">
						<a routerLink="./server-info/providers">{{'providers' | translate}}</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</nav>
<!--/.navbar-->