<of-settings-tabset [organization]="organization"></of-settings-tabset>

<ul class="nav nav-tabs nav-tabs-pf">
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
    <a routerLink="../" router>{{'active' | translate}}</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="../list">{{'all' | translate}}</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="../providers">{{'providers' | translate}}</a>
  </li>
</ul>

<br>

<table class="table table-striped table-bordered table-hover dataTable no-footer">
  <thead>
    <tr [hidden]="providers.length == 0">
      <th colspan="6" class="kc-table-actions">
        <div class="pull-right">
          <div>
            <select class="form-control" (change)="addProvider($event.target.value)">
              <option value="" disabled selected>Add keystore...</option>
              <option *ngFor="let item of providers" [value]="item.id" >{{item.id}}</option>
            </select>
          </div>
        </div>
      </th>
    </tr>
    <tr>
      <th>Name</th>
      <th>Id</th>
      <th>Provider</th>
      <th>Priority</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let instance of instances">
      <td>{{instance.name}}</td>
      <td><a [routerLink]="['./', instance.providerId, instance.id]">{{instance.id}}</a></td>
      <td>{{instance.providerId}}</td>
      <td>{{instance.config['priority'][0]}}</td>
      <td class="table-view-pf-actions">
        <div class="table-view-pf-btn">
          <button (click)="editInstance(instance)" class="btn btn-default" type="button">{{'edit' | translate}}</button>
        </div>
      </td>
      <td class="table-view-pf-actions">
        <div class="table-view-pf-btn">
          <button (click)="removeInstance(instance)" class="btn btn-default" type="button">{{'delete' | translate}}</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>