<div class="page-header page-header-bleed-right page-header-bleed-left" style="border-bottom: 1px solid #d1d1d1; margin-top: 0; margin-bottom: 0; padding-left: 20px">
  <h1>Perceptions</h1>
</div>

<div class="row toolbar-pf">
  <div class="col-sm-12">
    <form #searchForm="ngForm" (ngSubmit)="search()" class="toolbar-pf-actions">
      <div class="form-group toolbar-pf-filter">
        <label class="sr-only">Name</label>
        <div class="input-group">
          <div class="input-group-btn" ngbDropdown>
            <button type="button" class="btn btn-default" ngbDropdownToggle>Filters<span class="caret"></span></button>
            <ul class="dropdown-menu">
              <template ngFor let-item [ngForOf]="combo.issueDate" let-i="index">
                <li *ngIf="item.divider" class="divider"></li>
                <li><a (click)="changeIssueDateFilter(item)" href="javascript:void(0);">{{item.name}}</a></li>
              </template>
            </ul>
          </div>
          <input type="text" id="filterText" [(ngModel)]="filters.filterText" name="filterText" #filterText="ngModel" class="form-control"
                 placeholder="Filter By Name..." autofocus>
        </div>
      </div>
      <!-- /filter -->

      <div class="form-group">
        <div class="btn-group" ngbDropdown>
          <button type="button" class="btn btn-default dropdown-toggle" ngbDropdownToggle>{{sorter.selected.name}} <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <template ngFor let-item [ngForOf]="combo.orderBy" let-i="index">
              <li *ngIf="item.divider" class="divider"></li>
              <li><a (click)="changeSorter(item)" href="javascript:void(0);">{{item.name}}</a></li>
            </template>
          </ul>
        </div>
        <button class="btn btn-link" type="button" (click)="changeAscending()">
          <span class="fa fa-sort-alpha-{{sorter.ascending ? 'asc' : 'desc'}}"></span>
        </button>
      </div>
      <!-- /sorter -->

      <div class="toolbar-pf-action-right">
        <div class="form-group toolbar-pf-find">
          <button (click)="search()" class="btn btn-link btn-find" type="button">
            <span class="fa fa-search"></span>
          </button>
          <div class="find-pf-dropdown-container">
            <input type="text" class="form-control" id="find" placeholder="Find By Keyword...">
            <div class="find-pf-buttons">
              <span class="find-pf-nums">1 of 3</span>
              <button class="btn btn-link" type="button">
                <span class="fa fa-angle-up"></span>
              </button>
              <button class="btn btn-link" type="button">
                <span class="fa fa-angle-down"></span>
              </button>
              <button class="btn btn-link btn-find-close" type="button">
                <span class="pficon pficon-close"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="row toolbar-pf-results">
      <div class="col-sm-12">
        <h5>{{searchResult.totalSize}} Results</h5>
        <p *ngIf="filters.selected.keys().length > 0">Active filters:</p>
        <p *ngIf="filters.selected.keys().length == 0" class="text-muted">No Active filters</p>
        <ul *ngIf="filters.selected.keys().length > 0" class="list-inline">
          <li *ngFor="let item of filters.selected.keys()">
            <span class="label label-info">{{filters.selected.getValue(item).filter.name}}
							<a href="#"><span class="pficon pficon-close"></span></a>
            </span>
          </li>
        </ul>
        <p *ngIf="filters.selected.keys().length > 0">
          <a (click)="clearFilters()" href="javascript:void(0);">Clear All Filters</a>
        </p>
      </div>
      <!-- /col -->
    </div>
    <!-- /row -->
  </div>
  <!-- /col -->
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header-bleed-right page-header-bleed-left">
        <div class="hidden-xs pull-right">
          <a routerLink="../create" class="btn btn-default">New Perception</a>
        </div>
        <h2>Search Results</h2>
        <div class="visible-xs-block">
          <a class="btn btn-default" routerLink="../create">New Perception</a>
        </div>
      </div>
      <div class="page-header-bleed-right page-header-bleed-left">
        <div class="table-responsive">
          <table class="datatable table table-striped table-bordered dataTable no-footer table-mobile">
            <thead>
            <tr>
              <th rowspan="2" class="text-right">#</th>
              <th colspan="6">Datos Percepcion</th>
              <th colspan="4">Datos Documento Relacionado</th>
              <th colspan="3">Datos Cliente</th>
              <th rowspan="2" colspan="2">Actions</th>
            </tr>
            <tr>
              <th>Serie</th>
              <th>Numero</th>
              <th>Fecha</th>
              <th class="text-right">Tasa</th>
              <th class="text-right">Pago sin Percepcion</th>
              <th class="text-right">Importe Percibo</th>

              <th>Serie</th>
              <th>Numero</th>
              <th>Fecha Pago</th>
              <th class="text-right">Total</th>

              <th># Documento</th>
              <th>Razon Social</th>
              <th>E-mail</th>
            </tr>

            </thead>
            <tbody>
            <tr *ngIf="!searchResult || searchResult.items == 0">
              <td colspan="15" class="text-center text-muted">
                <span>No results found.</span>
              </td>
            </tr>
            <tr *ngFor="let item of searchResult.items; let i = index;">
              <td class="text-right">{{i+1}}</td>
              <td>{{item.documentId}}</td>
              <td>{{item.documentId}}</td>
              <td>{{item.documentId}}</td>
              <td>{{item.documentId}}</td>
              <td>{{item.documentId}}</td>
              <td>{{item.documentId}}</td>
              <td>{{item.documentId}}</td>
              <td>{{item.documentId}}</td>
              <td>{{item.documentId}}</td>
              <td>{{item.issueDateTime | date}}</td>
              <td>{{item.perceptionTypeCode}}</td>
              <td class="text-right">{{item.documentCurrencyCode}}</td>
              <td class="text-right">{{item.legalMonetaryTotal.payableAmount | number:'1.2-3'}}</td>
              <td class="text-right">
                <span *ngFor="let partyLegalEntity of item.accountingCustomerParty.party.partyLegalEntity">&nbsp;{{partyLegalEntity.registrationName}}.</span>
              </td>
              <td class="kc-action-cell" [routerLink]="[item.id]">Overview</td>
            </tr>
            </tbody>
            <tfoot *ngIf="searchResult && searchResult.totalSize > 0">
            <tr>
              <td class="text-right" colspan="8">
                <ngb-pagination (pageChange)="search($event)" [collectionSize]="searchResult.totalSize" [(page)]="paging.page" [maxSize]="paging.size" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
