
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Registro de Factura</div>
  <div class="panel-body">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-2 control-label" for="exampleInput">Serie</label>
        <div class="col-sm-2">
          <!--<input type="text" *ngIf="selectFactura" [(ngModel)]="selectFactura.serie" [ngModelOptions]="{standalone: true}" id="exampleInput"-->
            <!--class="form-control" placeholder="Serie">-->
        </div>
        <label class="col-sm-2 control-label" for="exampleInput">Numero</label>
      
      </div>
    </form>
  </div>

  <div class="panel-fotter">
   
  </div>
</div>