<br>

<p class="fields-status-pf">The fields marked with <span class="required-pf">*</span> are required.</p>

<form [formGroup]="form" (ngSubmit)="save(form.value)" class="form-horizontal">
  <fieldset>
    <legend>Event Config</legend>
    <div class="form-group">
      <label class="col-md-2 control-label required-pf">Event Listeners
			<i class="fa fa-question-circle text-muted" ngbTooltip="organization of the organization" placement="right"></i>
    </label>
      <div class="col-md-9">
        <ng-select 
          (data)="eventsConfig.eventsListeners"   
          [active]="eventsConfig.eventsListeners"        
          [multiple]="true" 
          [items]="eventListeners"
          placeholder="No listener selected"></ng-select>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Admin Events Settings</legend>
    <div class="form-group" [ngClass]="{ 'has-error' : !form.get('adminEventsEnabled').valid && form.get('adminEventsEnabled').dirty }">
      <label class="col-md-2 control-label required-pf">Save Events
					<i class="fa fa-question-circle text-muted" ngbTooltip="adminEventsEnabled of the organization" placement="right"></i>
      </label>
      <div class="col-md-4">
        <of-button-switch formControlName="adminEventsEnabled"></of-button-switch>
        <div *ngIf="!form.get('adminEventsEnabled').valid && form.get('adminEventsEnabled').dirty">
          <span *ngIf="form.get('adminEventsEnabled').errors.required" class="help-block">This field is required</span>
        </div>
      </div>
    </div>
    <div *ngIf="form.get('adminEventsEnabled').value" class="form-group" [ngClass]="{ 'has-error' : !form.get('adminEventsDetailsEnabled').valid && form.get('adminEventsDetailsEnabled').dirty }">
      <label class="col-md-2 control-label required-pf">Include Representation
					<i class="fa fa-question-circle text-muted" ngbTooltip="adminEventsDetailsEnabled of the organization" placement="right"></i>
      </label>
      <div class="col-md-4">
        <of-button-switch formControlName="adminEventsDetailsEnabled"></of-button-switch>
        <div *ngIf="!form.get('adminEventsDetailsEnabled').valid && form.get('adminEventsDetailsEnabled').dirty">
          <span *ngIf="form.get('adminEventsDetailsEnabled').errors.required" class="help-block">This field is required</span>
        </div>
      </div>
    </div>
    <div *ngIf="form.get('adminEventsEnabled').value" class="form-group" [ngClass]="{ 'has-error' : !form.get('adminEventsDetailsEnabled').valid && form.get('adminEventsDetailsEnabled').dirty }">
      <label class="col-md-2 control-label required-pf">Clear admin events
					<i class="fa fa-question-circle text-muted" ngbTooltip="adminEventsDetailsEnabled of the organization" placement="right"></i>
      </label>
      <div class="col-md-4">
        <button type="button" (click)="clearAdminEvents(content)" class="btn btn-danger">Clear admin events</button>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-2 col-lg-offset-2">
        <of-button-save [form]="form" [working]="working"></of-button-save>
        <button type="button" (click)="cancel()" class="btn btn-default">{{'cancel' | translate}}</button>
      </div>
    </div>
  </fieldset>
</form>

<template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" (click)="d('Cancel')">
        <span class="pficon pficon-close"></span>
    </button>
    <h4 class="modal-title ng-binding">Delete Admin-events</h4>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to permanently delete the admin-events openfact?</p>
  </div>
  <div class="modal-footer">
    <button [disabled]="typeNameToConfirm && confirmName !== resourceName && confirmName !== displayName" type="button" class="btn btn-lg btn-danger"
      (click)="c('Delete')">Delete</button>
    <button type="button" class="btn btn-lg btn-default" (click)="d('Cancel')">{{'cancel' | translate}}</button>
  </div>
</template>