<div class="modal-header">
  <button type="button" class="close" (click)="dismiss('close')">
      <span class="pficon pficon-close"></span>
  </button>
  <h4 class="modal-title">{{title}}</h4>
</div>
<div *ngIf="action == 'confirm'" class="modal-body">
  {{message}}
</div>
<div *ngIf="action == 'delete'" class="modal-body">
  {{'are-you-sure-to-delete' | translate}} {{objectType}} {{objectName}}?
</div>
<div class="modal-footer">
  <button *ngIf="action == 'confirm'" type="button" class="btn btn-primary" (click)="activeModal.close('save')">{{'save' | translate}}</button>
  <button *ngIf="action == 'delete'" type="button" class="btn btn-danger" (click)="activeModal.close('delete')">{{'delete' | translate}}</button>
  <button type="button" class="btn btn-default" (click)="dismiss('cancel')">{{'cancel' | translate}}</button>
</div>