<div class="page-header page-header-bleed-right page-header-bleed-left" style="border-bottom: 1px solid #d1d1d1; margin-top: 0; margin-bottom: 0; padding-left: 20px">
<h1>Dashboard</h1>
</div>

<br>

<div class="row row-cards-pf">

  <div class="col-xs-12 col-sm-4 col-md-4">
    <div class="card-pf">
      <div class="card-pf-heading">
        <h2 class="card-pf-title">
          Scheduled tasks
        </h2>
      </div>
      <div class="card-pf-body">
        <table class="table">
          <tbody>
            <tr *ngFor="let provider of providers">
              <td>{{provider}}</td>
              <td width="5%"><span class="pficon pficon-ok"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-8 col-md-8">
    <div class="card-pf">
      <div class="card-pf-heading">
        <h2 class="card-pf-title">
          Recent tasks
        </h2>
      </div>
      <div class="card-pf-body">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <td>Job Name</td>
              <td>Start Time</td>
              <td>End Time</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let jobReport of jobReports">
              <td>{{jobReport.jobName}}</td>
              <td>{{jobReport.startTime | toDate | date: 'y/MM/dd HH:mm:ss'}}</td>
              <td>{{jobReport.endTime | toDate | date: 'y/MM/dd HH:mm:ss'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

<div class="row row-cards-pf">
  <div *ngFor="let jobReport of jobReports; let i = index;" class="col-xs-6 col-sm-4 col-md-4">
    <div class="card-pf">
      <div class="card-pf-heading">
        <h2 class="card-pf-title">
          Job Metrics {{jobReport.jobName}}
        </h2>
      </div>
      <div class="card-pf-body">
        <div [id]="jobReport.id"></div>
        <table class="table">
          <tbody>
            <tr>
              <td>Start time</td>
              <td>{{jobReport.startTime | toDate | date: 'y/MM/dd HH:mm:ss' }}</td>
            </tr>
            <tr>
              <td>End time</td>
              <td>{{jobReport.endTime | toDate | date: 'y/MM/dd HH:mm:ss' }}</td>
            </tr>
            <tr>
              <td>Duration</td>
              <td>{{jobReport.duration}}ms</td>
            </tr>
            <tr>
              <td>Read Count</td>
              <td>
                <span class="label label-info">{{jobReport.readCount}}</span>
              </td>
            </tr>
            <tr>
              <td>Write Count</td>
              <td>
                <span class="label label-success">{{jobReport.writeCount}}</span>
              </td>
            </tr>
            <tr>
              <td>Error Count</td>
              <td>
                <span class="label label-danger">{{jobReport.errorCount}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>