<div class="row">
	<div class="col-lg-9">

		<of-document-edit-header [organization]="organization" [document]="document" [breadcrumb]="'voided-documents'" [documentType]="'voided-document'"
			[enableAssignCreditNote]="false" [enableAssignDebitNote]="false" [enableVoid]="false"></of-document-edit-header>

			cuerpo

	</div>

	<div class="col-lg-3 sidebar-right sidebar-pf sidebar-pf-right">
		<of-document-edit-right-sidebar [document]="document"></of-document-edit-right-sidebar>
	</div>
</div>

<br>