<div class="row">
  <div class="col-md-12">

    <ol class="breadcrumb">
      <li><a routerLink="../">{{'invoices' | translate}}</a></li>
      <li>{{'create-invoice' | translate}}</li>
    </ol>

    <h1>{{'create-invoice' | translate}}</h1>
    <!--<ul class="nav nav-tabs">
      <li routerLinkActive="active">
        <a href="javascript:void(0);">{{'form' | translate}}</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="../upload">{{'upload' | translate}}</a>
      </li>
    </ul>-->

    <form [formGroup]="form" (ngSubmit)="save(form)">
      <of-form-fields-status [ofForm]="form"></of-form-fields-status>

      <div class="row">
        <div class="col-md-2">
          <div class="form-group" [ofFormFieldValidationState]="form.get('tipo')">
            <label class="control-label" [ofFormRequiredLabel]="form.get('tipo')">Boleta/Factura
              <i class="fa fa-question-circle text-muted" ngbTooltip="Boleta/Factura" placement="right"></i>
            </label>
            <select formControlName="tipo" class="form-control" autofocus>
              <option *ngFor="let comprobantePago of tiposComprobantePago" [value]="comprobantePago.codigo">{{comprobantePago.denominacion}}</option>
            </select>
            <of-form-field-validation-messages [ofFormControl]="form.get('tipo')">
            </of-form-field-validation-messages>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group" [ofFormFieldValidationState]="form.get('serie')">
            <label class="control-label" [ofFormRequiredLabel]="form.get('serie')">Serie
              <i class="fa fa-question-circle text-muted" ngbTooltip="Serie del documento" placement="right"></i>
            </label>
            <input formControlName="serie" type="text" class="form-control text-left">
            <of-form-field-validation-messages [ofFormControl]="form.get('serie')">
            </of-form-field-validation-messages>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group" [ofFormFieldValidationState]="form.get('numero')">
            <label class="control-label" [ofFormRequiredLabel]="form.get('numero')">Numero
              <i class="fa fa-question-circle text-muted" ngbTooltip="Numero de documento" placement="right"></i>
            </label>
            <input formControlName="numero" type="text" [ofNumberMask]="documentSerieNumeroMask" class="form-control text-left">
            <of-form-field-validation-messages [ofFormControl]="form.get('numero')">
            </of-form-field-validation-messages>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group" [ofFormFieldValidationState]="form.get('moneda')">
            <label class="control-label" [ofFormRequiredLabel]="form.get('moneda')">Moneda
              <i class="fa fa-question-circle text-muted" ngbTooltip="Moneda de emision" placement="right"></i>
            </label>
            <div formControlName="moneda" ngbRadioGroup class="of-display-block">
              <label *ngFor="let moneda of monedasSoportadas" class="btn btn-default">
                <input type="radio" [value]="moneda">{{moneda}}
              </label>
            </div>
            <of-form-field-validation-messages [ofFormControl]="form.get('moneda')">
            </of-form-field-validation-messages>
          </div>
        </div>
        <div class="col-md-2" *ngIf="form.get('moneda').value !== 'PEN'">
          <div class="form-group" [ofFormFieldValidationState]="form.get('tipoDeCambio')">
            <label class="control-label" [ofFormRequiredLabel]="form.get('tipoDeCambio')">Tipo Cambio
              <i class="fa fa-question-circle text-muted" ngbTooltip="organization of the organization" placement="right"></i>
            </label>
            <input formControlName="tipoDeCambio" [ofNumberMask]="numberMask" type="text" class="form-control text-right" placeholder="0.00">
            <of-form-field-validation-messages [ofFormControl]="form.get('tipoDeCambio')">
            </of-form-field-validation-messages>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group" [ofFormFieldValidationState]="form.get('igv')">
            <label class="control-label" [ofFormRequiredLabel]="form.get('igv')">IGV (%)
              <i class="fa fa-question-circle text-muted" ngbTooltip="organization of the organization" placement="right"></i>
            </label>
            <input formControlName="igv" [ofNumberMask]="percentMask" type="text" class="form-control text-right" placeholder="0.00 %">
            <of-form-field-validation-messages [ofFormControl]="form.get('igv')">
            </of-form-field-validation-messages>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group" [ofFormFieldValidationState]="form.get('operacionGratuita')">
            <label class="control-label" [ofFormRequiredLabel]="form.get('operacionGratuita')">Op.Gratuita
              <i class="fa fa-question-circle text-muted" ngbTooltip="Enabled of the organization" placement="right"></i>
            </label>
            <of-button-switch formControlName="operacionGratuita" [onText]="'SI'" [offText]="'NO'"></of-button-switch>
            <of-form-field-validation-messages [ofFormControl]="form.get('operacionGratuita')">
            </of-form-field-validation-messages>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group" [ofFormFieldValidationState]="form.get('entidadTipoDeDocumento')">
            <label class="control-label" [ofFormRequiredLabel]="form.get('entidadTipoDeDocumento')">DNI/RUC
              <i class="fa fa-question-circle text-muted" ngbTooltip="Tipo documento del cliente" placement="right"></i>
            </label>
            <select formControlName="entidadTipoDeDocumento" class="form-control">
              <option *ngFor="let documentEntidad of tiposDocumentEntidad" [value]="documentEntidad.codigo">{{documentEntidad.denominacion}}</option>
            </select>
            <of-form-field-validation-messages [ofFormControl]="form.get('entidadTipoDeDocumento')">
            </of-form-field-validation-messages>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group" [ofFormFieldValidationState]="form.get('entidadNumeroDeDocumento')">
            <label class="control-label" [ofFormRequiredLabel]="form.get('entidadNumeroDeDocumento')">Nro.Documento
              <i class="fa fa-question-circle text-muted" ngbTooltip="Numero de documento del cliente" placement="right"></i>
            </label>
            <input formControlName="entidadNumeroDeDocumento" type="text" class="form-control">
            <of-form-field-validation-messages [ofFormControl]="form.get('entidadNumeroDeDocumento')">
            </of-form-field-validation-messages>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group" [ofFormFieldValidationState]="form.get('entidadDenominacion')">
            <label class="control-label" [ofFormRequiredLabel]="form.get('entidadDenominacion')">Nombre/R.Social
            <i class="fa fa-question-circle text-muted" ngbTooltip="Nombre o razon social del cliente" placement="right"></i>
          </label>
            <input formControlName="entidadDenominacion" type="text" class="form-control">
            <of-form-field-validation-messages [ofFormControl]="form.get('entidadDenominacion')">
            </of-form-field-validation-messages>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group" [ofFormFieldValidationState]="form.get('entidadEmail')">
            <label class="control-label" [ofFormRequiredLabel]="form.get('entidadEmail')">Email
              <i class="fa fa-question-circle text-muted" ngbTooltip="Email del cliente" placement="right"></i>
            </label>
            <input formControlName="entidadEmail" type="email" class="form-control" placeholder="email@domain.com" />
            <of-form-field-validation-messages [ofFormControl]="form.get('entidadEmail')">
            </of-form-field-validation-messages>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group" [ofFormFieldValidationState]="form.get('enviarAutomaticamenteASunat')">
            <label class="control-label" [ofFormRequiredLabel]="form.get('enviarAutomaticamenteASunat')">Enviar Sunat
						  <i class="fa fa-question-circle text-muted" ngbTooltip="Tru/false si quiere enviar inmediatamente a la SUNAT" placement="right"></i>
            </label>
            <of-button-switch formControlName="enviarAutomaticamenteASunat" [onText]="'SI'" [offText]="'NO'"></of-button-switch>
            <of-form-field-validation-messages [ofFormControl]="form.get('enviarAutomaticamenteASunat')">
            </of-form-field-validation-messages>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group" [ofFormFieldValidationState]="form.get('enviarAutomaticamenteAlCliente')">
            <label class="control-label" [ofFormRequiredLabel]="form.get('enviarAutomaticamenteAlCliente')">Enviar Cliente
					    <i class="fa fa-question-circle text-muted" ngbTooltip="True/false si quiere enviar inmediatamente al cliente" placement="right"></i>
            </label>
            <of-button-switch formControlName="enviarAutomaticamenteAlCliente" [onText]="'SI'" [offText]="'NO'"></of-button-switch>
            <of-form-field-validation-messages [ofFormControl]="form.get('enviarAutomaticamenteAlCliente')">
            </of-form-field-validation-messages>
          </div>
        </div>
      </div>
      <!--/Entidad-->

      <div class="row">
        <div class="col-md-12">
          <table class="table table-striped table-bordered table-hover dataTable no-footer">
            <thead>
              <tr>
                <td colspan="10">
                  <div class="checkbox pull-right">
                    <label><input type="checkbox" [(ngModel)]="advanceMode" [ngModelOptions]="{standalone: true}"> Advance mode</label>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="text-right">#</td>
                <td class="text-right">Producto/Servicio</td>
                <td class="text-right">Cantidad</td>
                <td class="text-right">Tipo IGV</td>
                <td class="text-right">Valor Unitario</td>
                <td class="text-right" *ngIf="advanceMode">Precio Unitario</td>
                <td class="text-right">Subtotal</td>
                <td class="text-right">Total</td>
                <td class="text-right" *ngIf="advanceMode">Igv</td>
                <td class="text-center">Acciones</td>
              </tr>
            </thead>
            <tbody formArrayName="detalle">
              <template ngFor let-item [ngForOf]="detalle.controls" let-i="index">
                <tr [formGroupName]="i" [ofUblLine]="getIgvFactor(item)">
                  <td class="text-right">{{i+1}}</td>
                  <td [ofFormFieldValidationState]="item.get('descripcion')">
                    <input formControlName="descripcion" type="text" class="form-control" placeholder="Descripcion" />
                    <of-form-field-validation-messages [ofFormControl]="item.get('descripcion')">
                    </of-form-field-validation-messages>
                  </td>
                  <td [ofFormFieldValidationState]="item.get('cantidad')">
                    <input formControlName="cantidad" [ofNumberMask]="quantityMask" ofUblLineQuantity type="text" class="form-control text-right">
                    <of-form-field-validation-messages [ofFormControl]="item.get('cantidad')">
                    </of-form-field-validation-messages>
                  </td>
                  <td [ofFormFieldValidationState]="item.get('tipoDeIgv')">
                    <select formControlName="tipoDeIgv" class="form-control">
                      <option *ngFor="let igv of tiposDeAfectacionIgv" [value]="igv.codigo">{{igv.denominacion}}</option>
                    </select>
                    <of-form-field-validation-messages [ofFormControl]="item.get('tipoDeIgv')">
                    </of-form-field-validation-messages>
                  </td>
                  <td [ofFormFieldValidationState]="item.get('valorUnitario')">
                    <input formControlName="valorUnitario" [ofNumberMask]="numberMask" ofUblLineUnitValue type="text" class="form-control text-right">
                    <of-form-field-validation-messages [ofFormControl]="item.get('valorUnitario')">
                    </of-form-field-validation-messages>
                  </td>
                  <td [ofFormFieldValidationState]="item.get('precioUnitario')" [hidden]="!advanceMode">
                    <input formControlName="precioUnitario" [ofNumberMask]="numberMask" ofUblLineUnitPrice type="text" class="form-control text-right"
                      readonly>
                      <of-form-field-validation-messages [ofFormControl]="item.get('precioUnitario')">
                      </of-form-field-validation-messages>
                  </td>
                  <td [ofFormFieldValidationState]="item.get('subtotal')">
                    <input formControlName="subtotal" [ofNumberMask]="numberMask" ofUblLineSubtotal type="text" class="form-control text-right"
                      readonly>
                      <of-form-field-validation-messages [ofFormControl]="item.get('subtotal')">
                      </of-form-field-validation-messages>
                  </td>
                  <td [ofFormFieldValidationState]="item.get('total')">
                    <input formControlName="total" [ofNumberMask]="numberMask" ofUblLineTotal type="text" class="form-control text-right">
                    <of-form-field-validation-messages [ofFormControl]="item.get('total')">
                    </of-form-field-validation-messages>
                  </td>
                  <td [ofFormFieldValidationState]="item.get('igv')" [hidden]="!advanceMode">
                    <input formControlName="igv" [ofNumberMask]="numberMask" ofUblLineTaxAmount type="text" class="form-control text-right" readonly>
                    <of-form-field-validation-messages [ofFormControl]="item.get('igv')">
                    </of-form-field-validation-messages>
                  </td>
                  <td class=" table-view-pf-actions">
                    <div class="table-view-pf-btn">
                      <button (click)="removeDetalleFormControl(i)" class="btn btn-default" type="button"><span class="fa fa-trash"></span></button>
                    </div>
                  </td>
                </tr>
              </template>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="10" class="text-right">
                  <button (click)="addDetalleFormControl()" type="button" class="btn btn-lg btn-default">Agregar Item
                  <span class="fa fa-plus"></span>
                </button>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <!--/Detalle-->

      <br>

      <div class="row">
        <div class="col-md-8">
          <div class="form-group" [ofFormFieldValidationState]="form.get('observaciones')">
            <label class="control-label" [ofFormRequiredLabel]="form.get('observaciones')">Observaciones
              <i class="fa fa-question-circle text-muted" ngbTooltip="Enabled of the organization" placement="right"></i>      
            </label>
            <textarea formControlName="observaciones" rows="5" class="form-control"></textarea>
            <of-form-field-validation-messages [ofFormControl]="form.get('observaciones')">
            </of-form-field-validation-messages>
          </div>
        </div>
        <div class="col-md-4">
          <table class="table table-bordered table-striped">
            <tbody>
              <tr>
                <td>% Porcentaje Descuento</td>
                <td [ofFormFieldValidationState]="form.get('porcentajeDescuento')">
                  <input formControlName="porcentajeDescuento" [ofNumberMask]="numberMask" *ngIf="!form.get('operacionGratuita').value" type="text"
                    class="form-control text-right">
                    <input *ngIf="form.get('operacionGratuita').value" type="text" class="form-control text-right" value="0.00" disabled>
                    <of-form-field-validation-messages [ofFormControl]="form.get('operacionGratuita')">
                    </of-form-field-validation-messages>
                </td>
              </tr>
              <tr>
                <td>Exonerada</td>
                <td>{{form.get('totalExonerada').value | number : '1.2-2'}} <span class="pull-right">{{form.get('moneda').value}}</span></td>
              </tr>
              <tr>
                <td>Inafecta</td>
                <td>{{form.get('totalInafecta').value | number : '1.2-2'}} <span class="pull-right">{{form.get('moneda').value}}</span></td>
              </tr>
              <tr>
                <td>Gravada</td>
                <td>{{form.get('totalGravada').value | number : '1.2-2'}} <span class="pull-right">{{form.get('moneda').value}}</span></td>
              </tr>
              <tr>
                <td>IGV</td>
                <td>{{form.get('totalIgv').value | number : '1.2-2'}} <span class="pull-right">{{form.get('moneda').value}}</span></td>
              </tr>
              <tr>
                <td>Gratuita</td>
                <td>{{form.get('totalGratuita').value | number : '1.2-2'}} <span class="pull-right">{{form.get('moneda').value}}</span></td>
              </tr>
              <tr>
                <td>Otros Cargos</td>
                <td [ofFormFieldValidationState]="form.get('totalOtrosCargos')">
                  <input formControlName="totalOtrosCargos" [ofNumberMask]="numberMask" *ngIf="!form.get('operacionGratuita').value" type="text"
                    class="form-control text-right">
                    <input *ngIf="form.get('operacionGratuita').value" type="text" class="form-control text-right" value="0.00" disabled>
                    <of-form-field-validation-messages [ofFormControl]="form.get('totalOtrosCargos')">
                    </of-form-field-validation-messages>
                </td>
              </tr>
              <tr>
                <td>Total Descuento Global</td>
                <td>{{form.get('descuentoGlobal').value | number : '1.2-2'}} <span class="pull-right">{{form.get('moneda').value}}</span></td>
              </tr>
              <tr>
                <td>Total</td>
                <td>{{form.get('total').value | number : '1.2-2'}} <span class="pull-right">{{form.get('moneda').value}}</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!--/ Totales-->

      <of-button-save [ofForm]="form" [working]="working"></of-button-save>
      <of-button-cancel (ofOnCancel)="cancel()"></of-button-cancel>

    </form>
  </div>
</div>