<div class="row">
  <div class="col-md-12">

    <ol class="breadcrumb">
      <li>
        <a routerLink="../">{{'perceptions' | translate}}</a>
      </li>
      <li>{{'create-perception' | translate}}</li>
    </ol>

    <h1>{{'create-perception' | translate}}</h1>
    <div class="checkbox pull-right">
      <label>
        <input type="checkbox" [(ngModel)]="advanceModeHeader" [ngModelOptions]="{standalone: true}">
        <span>{{'advance-mode' | translate}}</span>
      </label>
    </div>
    <form [formGroup]="form" (ngSubmit)="save(form)">
      <of-form-fields-status [ofForm]="form"></of-form-fields-status>
      <div [ngClass]="{'col-lg-10':advanceModeHeader,'col-lg-12':!advanceModeHeader }">
        <fieldset>
          <legend>
            <h3>{{'general-information' | translate}} </h3>
          </legend>
        </fieldset>
        <div class="row">
          <div class="col-md-2">
            <div class="form-group" [ofFormFieldValidationState]="form.get('codigoDocumento')">
              <label class="control-label" [ofFormRequiredLabel]="form.get('codigoDocumento')">{{'perception-type' | translate}}
                <i class="fa fa-question-circle text-muted" ngbTooltip="{{'perception-type' | translate}}" placement="right"></i>
              </label>
              <select formControlName="codigoDocumento" class="form-control" autofocus>
                <option *ngFor="let tipoRegimen of tiposRegimenPercepcion" [value]="tipoRegimen.codigo">{{tipoRegimen.denominacion}}</option>
              </select>
              <of-form-field-validation-messages [ofFormControl]="form.get('codigoDocumento')">
              </of-form-field-validation-messages>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group" [ofFormFieldValidationState]="form.get('fechaDeEmision')">
              <label class="control-label" [ofFormRequiredLabel]="form.get('fechaDeEmision')">{{'issue-date' | translate}}
                <i class="fa fa-question-circle text-muted" ngbTooltip="{{'issue-date' | translate}}" placement="right"></i>
              </label>
              <div class="input-group">
                <input formControlName="fechaDeEmision" class="form-control" placeholder="mm/dd/yyyy" bsDatepicker #dp="bsDatepicker">
                <div class="input-group-addon" (click)="dp.show()">
                  <span class="glyphicon glyphicon-calendar"></span>
                </div>
              </div>
              <of-form-field-validation-messages [ofFormControl]="form.get('fechaDeEmision')">
              </of-form-field-validation-messages>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group" [ofFormFieldValidationState]="form.get('monedaDocumento')">
              <label class="control-label" [ofFormRequiredLabel]="form.get('monedaDocumento')">{{'currency' | translate}}
                <i class="fa fa-question-circle text-muted" ngbTooltip="{{'currency' | translate}}" placement="right"></i>
              </label>
              <div formControlName="monedaDocumento" ngbRadioGroup class="of-display-block">
                <label *ngFor="let moneda of monedasDocumento" class="btn btn-default">
                  <input type="radio" [value]="moneda">{{moneda}}
                </label>
              </div>
              <of-form-field-validation-messages [ofFormControl]="form.get('monedaDocumento')">
              </of-form-field-validation-messages>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group" [ofFormFieldValidationState]="form.get('enviarAutomaticamenteASunat')">
              <label class="control-label" [ofFormRequiredLabel]="form.get('enviarAutomaticamenteASunat')">{{'send-to-third-party' | translate}}
                <i class="fa fa-question-circle text-muted" ngbTooltip="{{'send-to-third-party' | translate}}" placement="right"></i>
              </label>
              <of-button-switch formControlName="enviarAutomaticamenteASunat" [onText]="'SI'" [offText]="'NO'"></of-button-switch>
              <of-form-field-validation-messages [ofFormControl]="form.get('enviarAutomaticamenteASunat')">
              </of-form-field-validation-messages>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group" [ofFormFieldValidationState]="form.get('enviarAutomaticamenteAlCliente')">
              <label class="control-label" [ofFormRequiredLabel]="form.get('enviarAutomaticamenteAlCliente')">{{'send-to-customer' | translate}}
                <i class="fa fa-question-circle text-muted" ngbTooltip="{{'send-to-customer' | translate}}" placement="right"></i>
              </label>
              <of-button-switch formControlName="enviarAutomaticamenteAlCliente" [onText]="'SI'" [offText]="'NO'"></of-button-switch>
              <of-form-field-validation-messages [ofFormControl]="form.get('enviarAutomaticamenteAlCliente')">
              </of-form-field-validation-messages>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <div class="form-group" [ofFormFieldValidationState]="form.get('entidadTipoDeDocumento')">
              <label class="control-label" [ofFormRequiredLabel]="form.get('entidadTipoDeDocumento')">{{'type-id-third-party' | translate}}
                <i class="fa fa-question-circle text-muted" ngbTooltip="{{'type-id-third-party' | translate}}" placement="right"></i>
              </label>
              <select formControlName="entidadTipoDeDocumento" class="form-control">
                <option *ngFor="let documentEntidad of tiposDocumentEntidad" [value]="documentEntidad.codigo">{{documentEntidad.denominacion}}</option>
              </select>
              <of-form-field-validation-messages [ofFormControl]="form.get('entidadTipoDeDocumento')">
              </of-form-field-validation-messages>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group" [ofFormFieldValidationState]="form.get('entidadNumeroDeDocumento')">
              <label class="control-label" [ofFormRequiredLabel]="form.get('entidadNumeroDeDocumento')">{{'id-third-party' | translate}}
                <i class="fa fa-question-circle text-muted" ngbTooltip="{{'id-third-party' | translate}}" placement="right"></i>
              </label>
              <div class="input-group of-float-right">
                <input formControlName="entidadNumeroDeDocumento" type="text" class="form-control" [readonly]="finding">
                <span class="input-group-btn">
                  <button *ngIf="!finding" (click)="searchOnSunatAndReniec()" type="button" class="btn btn-default" ngbTooltip="Buscar en Sunat o Reniec">
                    <span class="glyphicon glyphicon-search"></span>
                  </button>
                  <button *ngIf="finding" disabled type="button" class="btn btn-default" ngbTooltip="Buscando...">
                    <span class="glyphicon glyphicon-refresh"></span>
                  </button>
                </span>
              </div>
              <of-form-field-validation-messages [ofFormControl]="form.get('entidadNumeroDeDocumento')">
              </of-form-field-validation-messages>
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group" [ofFormFieldValidationState]="form.get('entidadDenominacion')">
              <label class="control-label" [ofFormRequiredLabel]="form.get('entidadDenominacion')">{{'registration-name' | translate}}
                <i class="fa fa-question-circle text-muted" ngbTooltip="{{'registration-name' | translate}}" placement="right"></i>
              </label>
              <input formControlName="entidadDenominacion" type="text" class="form-control">
              <of-form-field-validation-messages [ofFormControl]="form.get('entidadDenominacion')">
              </of-form-field-validation-messages>
            </div>
          </div>
          <div class="col-md-3" *ngIf="form.get('enviarAutomaticamenteAlCliente').value">
            <div class="form-group" [ofFormFieldValidationState]="form.get('entidadEmail')">
              <label class="control-label" [ofFormRequiredLabel]="form.get('entidadEmail')">{{'email' | translate}}
                <i class="fa fa-question-circle text-muted" ngbTooltip="{{'email' | translate}}" placement="right"></i>
              </label>
              <input formControlName="entidadEmail" type="email" class="form-control" placeholder="email@domain.com" />
              <of-form-field-validation-messages [ofFormControl]="form.get('entidadEmail')">
              </of-form-field-validation-messages>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="advanceModeHeader" class="col-lg-2 sidebar-right sidebar-pf sidebar-pf-right">
        <fieldset>
          <legend>
            <h3>{{'advance-mode' | translate}}</h3>
          </legend>
        </fieldset>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group" [ofFormFieldValidationState]="form.get('serieDocumento')">
              <label class="control-label" [ofFormRequiredLabel]="form.get('serieDocumento')">{{'first-id' | translate}}
                <i class="fa fa-question-circle text-muted" ngbTooltip="{{'first-id' | translate}}" placement="right"></i>
              </label>
              <input formControlName="serieDocumento" type="text" class="form-control text-left" placeholder="[P]000">
              <of-form-field-validation-messages [ofFormControl]="form.get('serieDocumento')">
              </of-form-field-validation-messages>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group" [ofFormFieldValidationState]="form.get('numeroDocumento')">
              <label class="control-label" [ofFormRequiredLabel]="form.get('numeroDocumento')">{{'last-id' | translate}}
                <i class="fa fa-question-circle text-muted" ngbTooltip="{{'last-id' | translate}}" placement="right"></i>
              </label>
              <input formControlName="numeroDocumento" type="text" placeholder="0000000" class="form-control text-left">
              <of-form-field-validation-messages [ofFormControl]="form.get('numeroDocumento')">
              </of-form-field-validation-messages>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-12">
          <table class="table table-striped table-bordered dataTable no-footer">
            <thead>
              <tr>
                <td class="table-view-pf-actions">
                  <div class="table-view-pf-btn">
                    <button (click)="addDetalleFormControl()" class="btn btn-default" type="button" ngbTooltip="{{'add-item' | translate}}" placement="top">
                      <span class="fa fa-plus"></span>
                    </button>
                  </div>
                </td>
                <th colspan="5" class="text-center">{{'related-document' | translate}}</th>
                <th colspan="2" class="text-center">{{'cashed-information' | translate}}</th>
                <th colspan="2" class="text-center">{{'exchange-rate' | translate}}</th>
                <th colspan="2" class="text-center">{{'perception-data' | translate}}</th>
                <th rowspan="3" class="text-right">{{'actions' | translate}}</th>
              </tr>
              <tr>
                <td>#</td>
                <td class="col-md-2">{{'document-type' | translate}}</td>
                <td class="col-md-1">{{'ID' | translate}}</td>
                <td class="col-md-1">{{'document-date' | translate}}</td>
                <td class="col-md-1">{{'currency' | translate}}</td>
                <td class="col-md-1 text-right">{{'amount' | translate}}</td>

                <td class="col-md-1 text-right">{{'cashed' | translate}}</td>
                <td class="col-md-1 text-right">{{'amount-cashed' | translate}} </td>

                <td class="col-md-1 text-right">{{'change-type' | translate}}</td>
                <td class="col-md-1">{{'date-type-change' | translate}}</td>

                <td class="col-md-1 text-right">{{'perceived-amount' | translate}}</td>
                <td class="col-md-1 text-right">{{'amount-net-cashed' | translate}}</td>
              </tr>
            </thead>
            <tbody formArrayName="detalle">
              <template ngFor let-item [ngForOf]="detalle.controls" let-i="index">
                <tr [formGroupName]="i">
                  <td class="text-right">{{i+1}}</td>
                  <td [ofFormFieldValidationState]="item.get('tipoDocumentoRelacionado')">
                    <select formControlName="tipoDocumentoRelacionado" class="form-control">
                      <option *ngFor="let documentoRelacionado of documentosRelacionadosPercepcion" [value]="documentoRelacionado.codigo">{{documentoRelacionado.denominacion}}</option>
                    </select>
                    <of-form-field-validation-messages [ofFormControl]="item.get('tipoDocumentoRelacionado')">
                    </of-form-field-validation-messages>
                  </td>
                  <td [ofFormFieldValidationState]="item.get('numeroDocumentoRelacionado')">
                    <div class="input-group">
                      <input formControlName="numeroDocumentoRelacionado" type="text" class="form-control" placeholder="[B|F]000-0000000">
                    </div>
                    <of-form-field-validation-messages [ofFormControl]="item.get('numeroDocumentoRelacionado')">
                    </of-form-field-validation-messages>
                  </td>
                  <td [ofFormFieldValidationState]="item.get('fechaDocumentoRelacionado')">
                    <div class="input-group">
                      <input formControlName="fechaDocumentoRelacionado" class="form-control" placeholder="mm/dd/yyyy" bsDatepicker #dpd="bsDatepicker">
                      <div class="input-group-addon" (click)="dpd.show()">
                        <span class="glyphicon glyphicon-calendar"></span>
                      </div>
                    </div>
                    <of-form-field-validation-messages [ofFormControl]="item.get('fechaDocumentoRelacionado')" class="text-right">
                    </of-form-field-validation-messages>
                  </td>
                  <td [ofFormFieldValidationState]="item.get('monedaDocumentoRelacionado')">
                    <select formControlName="monedaDocumentoRelacionado" class="form-control">
                      <option *ngFor="let moneda of monedasSoportadas" [value]="moneda.codigo">{{moneda.codigo}}</option>
                    </select>
                    <of-form-field-validation-messages [ofFormControl]="item.get('monedaDocumentoRelacionado')">
                    </of-form-field-validation-messages>
                  </td>
                  <td [ofFormFieldValidationState]="item.get('totalDocumentoRelacionado')">
                    <input formControlName="totalDocumentoRelacionado" [ofNumberMask]="quantityMask" type="text" class="form-control text-right">
                    <of-form-field-validation-messages [ofFormControl]="item.get('totalDocumentoRelacionado')">
                    </of-form-field-validation-messages>
                  </td>
                  <td [ofFormFieldValidationState]="item.get('numeroPago')">
                    <input formControlName="numeroPago" [ofNumberMask]="integerMask" type="text" class="form-control text-right">
                    <of-form-field-validation-messages [ofFormControl]="item.get('numeroPago')">
                    </of-form-field-validation-messages>
                  </td>
                  <td [ofFormFieldValidationState]="item.get('pagoDocumentoSunat')">
                    <input formControlName="pagoDocumentoSunat" [ofNumberMask]="quantityMask" type="text" class="form-control text-right">
                    <of-form-field-validation-messages [ofFormControl]="item.get('pagoDocumentoSunat')">
                    </of-form-field-validation-messages>
                  </td>
                  <td [ofFormFieldValidationState]="item.get('tipoCambio')">
                    <input formControlName="tipoCambio" [ofNumberMask]="quantityMask" type="text" class="form-control text-right">
                    <of-form-field-validation-messages [ofFormControl]="item.get('tipoCambio')">
                    </of-form-field-validation-messages>
                  </td>
                  <td [ofFormFieldValidationState]="item.get('fechaCambio')">
                    <div class="input-group">
                      <input formControlName="fechaCambio" class="form-control" placeholder="mm/dd/yyyy" bsDatepicker #dpc="bsDatepicker" readonly>
                      <div class="input-group-addon" (click)="dpc.show()">
                        <span class="glyphicon glyphicon-calendar"></span>
                      </div>
                    </div>
                    <of-form-field-validation-messages [ofFormControl]="item.get('fechaCambio')" class="text-right">
                    </of-form-field-validation-messages>
                  </td>
                  <td [ofFormFieldValidationState]="item.get('importeDocumentoSunat')">
                    <input formControlName="importeDocumentoSunat" [ofNumberMask]="numberMask" type="text" class="form-control text-right" readonly>
                    <of-form-field-validation-messages [ofFormControl]="item.get('importeDocumentoSunat')">
                    </of-form-field-validation-messages>
                  </td>
                  <td [ofFormFieldValidationState]="item.get('importePago')">
                    <input formControlName="importePago" [ofNumberMask]="numberMask" type="text" class="form-control text-right" readonly>
                    <of-form-field-validation-messages [ofFormControl]="item.get('importePago')">
                    </of-form-field-validation-messages>
                  </td>
                  <td class="table-view-pf-actions">
                    <div class="table-view-pf-btn">
                      <button (click)="removeDetalleFormControl(i)" class="btn btn-default" type="button">
                        <span class="fa fa-trash"></span>
                      </button>
                    </div>
                  </td>
                </tr>
              </template>
            </tbody>
            <tfoot>
              <tr>
                <td class="table-view-pf-actions">
                  <div class="table-view-pf-btn">
                    <button (click)="addDetalleFormControl()" class="btn btn-default" type="button" ngbTooltip="{{'add-item' | translate}}" placement="top">
                      <span class="fa fa-plus"></span>
                    </button>
                  </div>
                </td>
                <td colspan="11">
                </td>
                <td class="table-view-pf-actions">
                  <div class="table-view-pf-btn">
                    <button (click)="addDetalleFormControl()" class="btn btn-default" type="button">
                      <span class="fa fa-plus"></span>
                    </button>
                  </div>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-md-8">
          <div class="form-group" [ofFormFieldValidationState]="form.get('observaciones')">
            <label class="control-label" [ofFormRequiredLabel]="form.get('observaciones')">{{'description' |translate}}
              <i class="fa fa-question-circle text-muted" ngbTooltip="{{'description' |translate}}" placement="right"></i>
            </label>
            <textarea formControlName="observaciones" rows="5" class="form-control"></textarea>
            <of-form-field-validation-messages [ofFormControl]="form.get('observaciones')">
            </of-form-field-validation-messages>
          </div>
        </div>
        <div class="col-md-4">
          <table class="table table-bordered table-striped">
            <tbody>
              <tr>
                <td>{{'total-perception-amount' | translate}}</td>
                <td>{{form.get('totalDocumentoSunat').value | number : '1.2-2'}}</td>
              </tr>
              <tr>
                <td>{{'total-cashed' | translate}}</td>
                <td>{{form.get('totalPago').value | number : '1.2-2'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!--/ Totales-->
      <of-button-save-new [ofForm]="form" [working]="working" (pressed)="changeEvent($event)"></of-button-save-new>
      <of-button-save [ofForm]="form" [working]="working"></of-button-save>
      <of-button-cancel (ofOnCancel)="cancel()"></of-button-cancel>

    </form>
    <br>
    <br>
  </div>
</div>