<ol class="breadcrumb">
  <li>
    <a href="javascript:void(0);">Configuración</a>
  </li>
  <li class="active">Servidor de correos SMTP</li>
</ol>


<div>
  <h3>Actualizar Organización</h3>
  <form [formGroup]="companyForm" (ngSubmit)="save()" class="form-horizontal">
    <p class="fields-status-pf">Los campos marcados con
      <span class="required-pf">*</span> son requeridos.
    </p>

    <div class="form-group" ngxFormControlError="useCustomSmtpConfig">
      <label class="col-md-2 control-label required-pf">Custom SMTP Configuration</label>
      <div class="col-md-3">
          <bSwitch formControlName="useCustomSmtpConfig"></bSwitch>
        <ngx-form-help-block formControlHelp="useCustomSmtpConfig"></ngx-form-help-block>
      </div>
    </div>

    <div *ngIf="companyForm.get('useCustomSmtpConfig').value">

      <div class="form-group" ngxFormControlError="host">
        <label class="col-md-2 control-label required-pf">Host</label>
        <div class="col-md-3">
          <input formControlName="host" type="text" class="form-control" autofocus/>
          <ngx-form-help-block formControlHelp="host"></ngx-form-help-block>
        </div>
      </div>
      <div class="form-group" ngxFormControlError="port">
        <label class="col-md-2 control-label">Port</label>
        <div class="col-md-3">
          <input formControlName="port" type="text" class="form-control" autofocus/>
          <ngx-form-help-block formControlHelp="port"></ngx-form-help-block>
        </div>
      </div>
      <div class="form-group" ngxFormControlError="from">
        <label class="col-md-2 control-label required-pf">From</label>
        <div class="col-md-3">
          <input formControlName="from" type="text" class="form-control" autofocus/>
          <ngx-form-help-block formControlHelp="from"></ngx-form-help-block>
        </div>
      </div>
      <div class="form-group" ngxFormControlError="ssl">
        <label class="col-md-2 control-label required-pf">Enable SSL</label>
        <div class="col-md-3">
          <bSwitch formControlName="ssl"></bSwitch>
          <ngx-form-help-block formControlHelp="ssl"></ngx-form-help-block>
        </div>
      </div>
      <div class="form-group" ngxFormControlError="starttls">
        <label class="col-md-2 control-label required-pf">Enable StartTLS</label>
        <div class="col-md-3">
          <bSwitch formControlName="starttls"></bSwitch>
          <ngx-form-help-block formControlHelp="starttls"></ngx-form-help-block>
        </div>
      </div>
      <div class="form-group" ngxFormControlError="auth">
        <label class="col-md-2 control-label">Enable Authentication</label>
        <div class="col-md-3">
          <div class="checkbox">
            <label>
              <input formControlName="auth" type="checkbox"> Check for enable Authentication
            </label>
          </div>
          <ngx-form-help-block formControlHelp="auth"></ngx-form-help-block>
        </div>
      </div>

      <div *ngIf="companyForm.get('auth').value">
        <div class="form-group" ngxFormControlError="user">
          <label class="col-md-2 control-label required-pf">User</label>
          <div class="col-md-3">
            <input formControlName="user" type="text" class="form-control" autofocus/>
            <ngx-form-help-block formControlHelp="user"></ngx-form-help-block>
          </div>
        </div>
        <div class="form-group" ngxFormControlError="password">
          <label class="col-md-2 control-label required-pf">Password</label>
          <div class="col-md-3">
            <input formControlName="password" type="text" class="form-control" autofocus/>
            <ngx-form-help-block formControlHelp="password"></ngx-form-help-block>
          </div>
        </div>
      </div>

    </div>

    <div class="form-group">
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-2 col-lg-offset-2">
        <of-working-button [type]="'submit'" [active]="companyForm.valid" [working]="working"></of-working-button>
      </div>
    </div>

  </form>
</div>
