<alerts [alerts]="alerts"></alerts>
{{organization | json}}
<!--<form [formGroup]="form" (ngSubmit)="save(form.value)" class="form-horizontal" novalidate>
  <fieldset>
    <div class="form-group" [ngClass]="{ 'has-error' : !form.controls.name.valid && submitted }">
      <label class="col-sm-2 control-label">Name
        <a tooltip="Name of the organization" tooltipPlacement="right"><span class="fa fa-info-circle"></span></a>
      </label>
      <div class="col-sm-3">
        <input formControlName="name" type="text" class="form-control" autofocus/>
        <div *ngIf="!form.controls.name.valid && submitted">
          <span class="help-block">Type a correct name</span>
        </div>
      </div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error' : !form.controls.supplierName.valid && submitted }">
      <label class="col-sm-2 control-label">Supplier name
        <a tooltip="Name of the organization" tooltipPlacement="right"><span class="fa fa-info-circle"></span></a>
      </label>
      <div class="col-sm-3">
        <input formControlName="supplierName" type="text" class="form-control" />
        <div *ngIf="!form.controls.supplierName.valid && submitted">
          <span class="help-block">Type a correct supplierName</span>
        </div>
      </div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error' : !form.controls.registrationName.valid && submitted }">
      <label class="col-sm-2 control-label">Registration name
        <a tooltip="Name of the organization" tooltipPlacement="right"><span class="fa fa-info-circle"></span></a>
      </label>
      <div class="col-sm-3">
        <input formControlName="registrationName" type="text" class="form-control" />
        <div *ngIf="!form.controls.registrationName.valid && submitted">
          <span class="help-block">Type a correct registrationName</span>
        </div>
      </div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error' : !form.controls.additionalAccountId.valid && submitted }">
      <label class="col-sm-2 control-label">AdditionalAccount id
        <a tooltip="Name of the organization" tooltipPlacement="right"><span class="fa fa-info-circle"></span></a>
      </label>
      <div class="col-sm-3">
        <input formControlName="additionalAccountId" type="text" class="form-control" />
        <div *ngIf="!form.controls.additionalAccountId.valid && submitted">
          <span class="help-block">Type a correct additionalAccountId</span>
        </div>
      </div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error' : !form.controls.assignedIdentificationId.valid && submitted }">
      <label class="col-sm-2 control-label">assigned Identification id
        <a tooltip="Name of the organization" tooltipPlacement="right"><span class="fa fa-info-circle"></span></a>
      </label>
      <div class="col-sm-3">
        <input formControlName="assignedIdentificationId" type="text" class="form-control" />
        <div *ngIf="!form.controls.assignedIdentificationId.valid && submitted">
          <span class="help-block">Type a correct assignedIdentificationId</span>
        </div>
      </div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error' : !form.controls.enabled.valid && submitted }">
      <label class="col-sm-2 control-label">enabled
        <a tooltip="Name of the organization" tooltipPlacement="right"><span class="fa fa-info-circle"></span></a>
      </label>
      <div class="col-sm-3">
        <input formControlName="enabled" type="text" class="form-control" />
        <div *ngIf="!form.controls.enabled.valid && submitted">
          <span class="help-block">Type a correct enabled</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button-save [form]="form" [working]="working" [alerts]="alerts" (onClick)="setSubmitted($event)"></button-save>
        <button-cancel [working]="working" (onClick)="cancel($event)"></button-cancel>
      </div>
    </div>
  </fieldset>
</form>-->
