<div class="nav-pf-vertical nav-pf-vertical-with-sub-menus nav-pf-persistent-secondary">
	<ul class="list-group">
		<li class="list-group-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
			<a routerLink="./">
				<span class="fa fa-dashboard" title="Overview"></span>
				<span class="list-group-item-value">Overview</span>
			</a>
		</li>
		<li class="list-group-item" routerLinkActive="active">
			<a routerLink="invoices">
				<span class="fa fa-wpforms" title="Invoices"></span>
				<span class="list-group-item-value">Invoices</span>
			</a>
		</li>
		<li class="list-group-item" routerLinkActive="active">
			<a routerLink="credit-notes">
				<span class="fa fa-credit-card" title="Credit Notes"></span>
				<span class="list-group-item-value">Credit Notes</span>
			</a>
		</li>
		<li class="list-group-item" routerLinkActive="active">
			<a routerLink="debit-notes">
				<span class="fa fa-eraser" title="Debit Notes"></span>
				<span class="list-group-item-value">Debit Notes</span>
			</a>
		</li>
    <li class="list-group-item" routerLinkActive="active">
      <a routerLink="perceptions">
        <span class="fa fa-graduation-cap" title="Perceptions"></span>
        <span class="list-group-item-value">Perceptions</span>
      </a>
    </li>
    <li class="list-group-item" routerLinkActive="active">
      <a routerLink="retentions">
        <span class="fa fa-shield" title="Retentions"></span>
        <span class="list-group-item-value">Retentions</span>
      </a>
    </li>
    <li class="list-group-item" routerLinkActive="active">
      <a routerLink="retentions">
        <span class="fa fa-shield" title="Voideds"></span>
        <span class="list-group-item-value">Voided Documents</span>
      </a>
    </li>
		<li class="list-group-item" routerLinkActive="active">
			<a routerLink="events">
				<span class="fa fa-calendar" title="Events"></span>
				<span class="list-group-item-value">Events</span>
			</a>
		</li>
		<li class="list-group-item" routerLinkActive="active">
			<a routerLink="settings">
				<span class="fa fa-gear" title="Settings"></span>
				<span class="list-group-item-value">Settings</span>
			</a>
		</li>
	</ul>
</div>
