/* You can add global styles to this file, and also import other style files */

/**Override patternfly*/
label.required-pf:after {
    content: none !important;
}

label.required-pf:before {
    color: #cc0000;
    content: "* ";
    margin-left: 3px;
}

/* Action cell */
.kc-action-cell {
    background-color: #eeeeee;
    background-image: linear-gradient(to bottom, #fafafa 0%, #ededed 100%);
    background-repeat: repeat-x;

    text-align: center;
    vertical-align: middle;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    cursor:pointer;
}

.kc-action-cell:hover {
    background-color: #eeeeee;
    background-image: none;
}

.kc-sorter span {
    margin-left: 10px;
}