<div class="dropdown dropdown-kebab-pf" ngbDropdown>
  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
    ngbDropdownToggle>
    <span class="fa fa-ellipsis-v"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight">
      <li *ngIf="enableDownloadPdf">
        <a href="javascript:void(0);" (click)="downloadPdf()"><span class="fa fa-file-pdf-o"></span> Pdf</a>
      </li>
      <li *ngIf="enableDownloadXml">
        <a href="javascript:void(0);" (click)="downloadXml()"><span class="fa fa-file-code-o"></span> Xml</a>
      </li>
      <li *ngIf="enableDownloadCdr">
        <a href="javascript:void(0);" (click)="downloadCdr()"><span class="fa fa-file-code-o"></span> Cdr</a>
      </li>
      <li role="separator" class="divider"></li>
      <li *ngIf="enableAssignCreditNote">
        <a href="javascript:void(0);" (click)="attachCreditNote()"><span class="fa fa-credit-card"></span> {{'attach-credit-note' | translate}}</a>
      </li>
      <li *ngIf="enableAssignDebitNote">
        <a href="javascript:void(0);" (click)="attachDebitNote()"><span class="fa fa-credit-card-alt"></span> {{'attach-debit-note' | translate}}</a>
      </li>
      <li role="separator" class="divider"></li>
      <li *ngIf="enableSendToCustomer">
        <a href="javascript:void(0);" (click)="sendToCustomer()"><span class="fa fa-child"></span> {{'send-to-customer' | translate}}</a>
      </li>
      <li *ngIf="enableSendToThirdParty">
        <a href="javascript:void(0);" (click)="sendToThirdParty()"><span class="fa fa-server"></span> {{'send-to-third-party' | translate}}</a>
      </li>
      <li *ngIf="enableSendToCustomThirdParty">
        <a href="javascript:void(0);" (click)="sendToCustomThridPartyByEmail(sendToThirdPartyTemplateContent)"><span class="fa fa-share"></span> {{'send-to-custom-third-party-by-email' | translate}}</a>
      </li>
      <li role="separator" class="divider"></li>
      <li *ngIf="enableVoid">
        <a href="javascript:void(0);" (click)="markAsVoided()"><span class="fa fa-thumbs-down"></span> {{'voided' | translate}}</a>
      </li>
    </ul>
</div>

<template #sendToThirdPartyTemplateContent let-c="close" let-d="dismiss">
  <form #f="ngForm" (ngSubmit)="c(f)" novalidate>
    <div class="modal-body" ngModelGroup="thirdPartyByEmail">
      <h3>Email</h3>
      <input id="email" name="email" type="email" #email="ngModel" [(ngModel)]="thirdPartyByEmail.email" class="form-control" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
        required>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" [disabled]="!f.valid">{{'send' | translate}}</button>
      <button type="button" class="btn btn-default" (click)="d('Cancel')">{{'cancel' | translate}}</button>
    </div>
  </form>
</template>