<of-settings-tabset [organization]="organization"></of-settings-tabset>

<form [formGroup]="form" (ngSubmit)="save(form)" class="form-horizontal">
  <of-form-fields-status [ofForm]="form"></of-form-fields-status>

  <div class="form-group" [ofFormFieldValidationState]="form.get('tasksEnabled')">
    <label class="col-md-2 control-label" [ofFormRequiredLabel]="form.get('tasksEnabled')">{{'enabled' | translate}}
				<i class="fa fa-question-circle text-muted" ngbTooltip="True/false if the tasks is enable or disabled for the current organization." placement="right"></i>
    </label>
    <div class="col-md-4">
      <of-button-switch formControlName="tasksEnabled"></of-button-switch>
      <of-form-field-validation-messages [ofFormControl]="form.get('tasksEnabled')">
      </of-form-field-validation-messages>
    </div>
  </div>
  <div *ngIf="form.get('tasksEnabled').value" class="form-group" [ofFormFieldValidationState]="form.get('taskDelay')">
    <label class="col-md-2 control-label" [ofFormRequiredLabel]="form.get('taskDelay')">Delay
				<i class="fa fa-question-circle text-muted" ngbTooltip="Time beetween one and another tasks in miliseconds." placement="right"></i>
    </label>
    <div class="col-md-3">
      <input formControlName="taskDelay" type="number" class="form-control" placeholder="Milliseconds" />
      <of-form-field-validation-messages [ofFormControl]="form.get('tasksEnabled')">
      </of-form-field-validation-messages>
    </div>
  </div>
  <div *ngIf="form.get('tasksEnabled').value" class="form-group" [ofFormFieldValidationState]="form.get('taskFirstDate')">
    <label class="col-md-2 control-label" [ofFormRequiredLabel]="form.get('taskFirstDate')">First Time Date
				<i class="fa fa-question-circle text-muted" ngbTooltip="Date when the tasks will be executed the first time." placement="right"></i>
    </label>
    <div class="col-md-3">
      <div class="input-group">
        <input formControlName="taskFirstDate" class="form-control" placeholder="yyyy-mm-dd" ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-addon" (click)="d.toggle()">
          <span class="glyphicon glyphicon-calendar"></span>
        </div>
      </div>
      <of-form-field-validation-messages [ofFormControl]="form.get('taskFirstDate')">
      </of-form-field-validation-messages>
    </div>
  </div>
  <div *ngIf="form.get('tasksEnabled').value" class="form-group" [ofFormFieldValidationState]="form.get('taskFirstTime')">
    <label class="col-md-2 control-label" [ofFormRequiredLabel]="form.get('taskFirstTime')">First Time
				<i class="fa fa-question-circle text-muted" ngbTooltip="Time when the tasks will be executed the first time." placement="right"></i>
    </label>
    <div class="col-md-3">
      <ngb-timepicker formControlName="taskFirstTime"></ngb-timepicker>
      <of-form-field-validation-messages [ofFormControl]="form.get('taskFirstTime')">
      </of-form-field-validation-messages>
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-2 col-lg-offset-2">
      <of-button-save [ofForm]="form" [working]="working"></of-button-save>
      <of-button-reset [ofForm]="form" (ofOnReset)="loadData()"></of-button-reset>
    </div>
  </div>
</form>