<default-header></default-header>

<br><br>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">

			<div class="row">
				<div class="col-md-12">
					<div class="about">
						<div class="row">
							<div class="col-md-2 hidden-sm hidden-xs" style="padding-top: 20px; padding-left: 20px; padding-right: 20px;">
								<img src="/assets/img/logo-alt.svg">
							</div>
							<div class="col-md-9">
								<h1>Openfact by Ahren®</h1>
								<h2>About</h2>
								<p><a target="_blank" href="">Openfact</a> is Red Hat's Platform-as-a-Service (PaaS) that allows
									developers to quickly develop, host, and scale applications in a cloud environment.</p>
								<h2 id="version">Version</h2>
								<dl class="dl-horizontal left">
									<dt>OpenShift Master:</dt>
									<dd class="ng-binding">v3.3.1.3</dd>
									<dt>Kubernetes Master:</dt>
									<dd class="ng-binding">v1.3.0+52492b4</dd>
								</dl>
								<p>The <a target="_blank" href="">documentation</a> contains information
									and guides to help you learn about OpenShift and start exploring its features. From getting started with creating
									your first application, to trying out more advanced build and deployment techniques, it provides what you need to
									set up and manage your OpenShift environment as an application developer.</p>
								<p>With the OpenShift command line interface (CLI), you can create applications and manage OpenShift projects from a
									terminal. To get started using the CLI, visit <a href="command-line">Command Line Tools</a>.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>