<ol class="breadcrumb">
  <li>
    <a href="javascript:void(0);">Configuración</a>
  </li>
  <li class="active">Información SUNAT</li>
</ol>


<div>
  <h3>Actualizar Organización</h3>
  <form [formGroup]="sunatForm" (ngSubmit)="save()" class="form-horizontal">
    <p class="fields-status-pf">Los campos marcados con
      <span class="required-pf">*</span> son requeridos.
    </p>

    <div class="form-group" ngxFormControlError="useCustomConfig">
      <label class="col-md-2 control-label required-pf">Custom SUNAT Configuration</label>
      <div class="col-md-3">
          <bSwitch formControlName="useCustomConfig"></bSwitch>
        <ngx-form-help-block formControlHelp="useCustomConfig"></ngx-form-help-block>
      </div>
    </div>

    <div *ngIf="sunatForm.get('useCustomConfig').value">

      <div class="form-group" ngxFormControlError="usuario">
        <label class="col-md-2 control-label required-pf">Usuario SOL</label>
        <div class="col-md-3">
          <input formControlName="usuario" type="text" class="form-control" autofocus/>
          <ngx-form-help-block formControlHelp="usuario"></ngx-form-help-block>
        </div>
      </div>
      <div class="form-group" ngxFormControlError="password">
        <label class="col-md-2 control-label">password</label>
        <div class="col-md-3">
          <input formControlName="password" type="password" class="form-control" autofocus/>
          <ngx-form-help-block formControlHelp="password"></ngx-form-help-block>
        </div>
      </div>
      <div class="form-group" ngxFormControlError="boletaFacturaEndpoint">
        <label class="col-md-2 control-label required-pf">Boleta/Factura endpoint</label>
        <div class="col-md-3">
          <input formControlName="boletaFacturaEndpoint" type="text" class="form-control" autofocus/>
          <ngx-form-help-block formControlHelp="boletaFacturaEndpoint"></ngx-form-help-block>
        </div>
      </div>
      <div class="form-group" ngxFormControlError="guiaRemisionEndpoint">
        <label class="col-md-2 control-label required-pf">Guia Remisión endpoint</label>
        <div class="col-md-3">
          <input formControlName="guiaRemisionEndpoint" type="text" class="form-control" autofocus/>
          <ngx-form-help-block formControlHelp="guiaRemisionEndpoint"></ngx-form-help-block>
        </div>
      </div>
      <div class="form-group" ngxFormControlError="retencionPercepcionEndpoint">
        <label class="col-md-2 control-label required-pf">Retención/Percepción endpoint</label>
        <div class="col-md-3">
          <input formControlName="retencionPercepcionEndpoint" type="text" class="form-control" autofocus/>
          <ngx-form-help-block formControlHelp="retencionPercepcionEndpoint"></ngx-form-help-block>
        </div>
      </div>
      <div class="form-group" ngxFormControlError="consultaFacturaEndpoint">
        <label class="col-md-2 control-label required-pf">Consulta Factura endpoint</label>
        <div class="col-md-3">
          <input formControlName="consultaFacturaEndpoint" type="text" class="form-control" autofocus/>
          <ngx-form-help-block formControlHelp="consultaFacturaEndpoint"></ngx-form-help-block>
        </div>
      </div>
      <div class="form-group" ngxFormControlError="consultaCdrEndpoint">
        <label class="col-md-2 control-label required-pf">Consulta Cdr endpoint</label>
        <div class="col-md-3">
          <input formControlName="consultaCdrEndpoint" type="text" class="form-control" autofocus/>
          <ngx-form-help-block formControlHelp="consultaCdrEndpoint"></ngx-form-help-block>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-2 col-lg-offset-2">
        <of-working-button [type]="'submit'" [active]="sunatForm.valid" [working]="working"></of-working-button>
      </div>
    </div>

  </form>
</div>
