<h3><strong>Busqueda</strong></h3>

<form name="form" novalidate>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <div class="input-group">
          <input type="text" name="filterText" class="form-control" placeholder="Filter text" pf-focused="true" autofocus>
          <span class="input-group-btn"><button class="btn btn-default" type="submit"><i class="fa fa-search text"></i></button></span>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group pull-right">
        <div class="btn-group">
          <label class="btn btn-default">Activo</label>
          <label class="btn btn-default">Inactivo</label>
        </div>
        <a (click)="nuevo()" class="btn btn-primary">Nuevo</a>
        <a (click)="editar()" class="btn btn-primary">Editar</a>
        <a (click)="enviar()" class="btn btn-primary">Enviar</a>
        <a (click)="importar()" class="btn btn-primary">Importar</a>

      </div>
    </div>
  </div>
</form>
<div class="list-group list-view-pf">
  <div class="list-group-item">
    <div class="list-view-pf-checkbox">
      <input type="checkbox">
    </div>
    <div class="list-view-pf-actions">
      <div class="btn-group" dropdown>
        <button id="split-button" type="button" class="btn btn-default">Historial</button>
      </div>
      <div class="btn-group" dropdown>
        <button id="split-button" type="button" class="btn btn-default">Operaciones</button>
        <button type="button" class="btn btn-link dropdown-toggle" dropdownToggle>
      <span class="caret"></span>
      <span class="sr-only">Split button!</span>
    </button>
        <ul class="dropdown-menu" dropdownMenu role="menu" aria-labelledby="split-button">
          <li role="menuitem"><a class="dropdown-item" href="#">Editar</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Eliminar</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Ver Detalle</a></li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Enviar a receptor</a></li>
        </ul>
      </div>


    </div>
    <div class="list-view-pf-main-info">
      <div class="list-view-pf-left">
        <span class="fa fa-plane list-view-pf-icon-sm"></span>
      </div>
      <div class="list-view-pf-body">
        <div class="list-view-pf-description">
          <div class="list-group-item-heading">
            <strong>FACTURA</strong>
          </div>
          <div class="list-group-item-text">
            <strong>RAZON SOCIAL.(Receptor)</strong>
          </div>
        </div>
        <div class="list-view-pf-additional-info">
          <div class="list-view-pf-additional-info-item">
            <span class="pficon pficon-screen"></span>
            <strong>--- Ruc ---</strong>
          </div>
          <div class="list-view-pf-additional-info-item">
            <span class="pficon pficon-screen"></span>
            <strong>Monto</strong>
          </div>


          <div class="list-view-pf-additional-info-item">
            <span class="pficon pficon-cluster"></span>
            <strong>Fecha Registro</strong>
          </div>
          <div class="list-view-pf-additional-info-item">
            <span class="pficon pficon-container-node"></span>
            <strong>Fecha emision</strong>
          </div>
          <div class="list-view-pf-additional-info-item">
            <span class="pficon pficon-image"></span>
            <strong>Estado</strong>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="list-group list-view-pf">
  <div class="list-group-item">
    <div class="list-view-pf-checkbox">
      <input type="checkbox">
    </div>
    <div class="list-view-pf-actions">
      <div class="btn-group" dropdown>
        <button id="split-button" type="button" class="btn btn-default">Historial</button>
      </div>
      <div class="btn-group" dropdown>
        <button id="split-button" type="button" class="btn btn-default">Operaciones</button>
        <button type="button" class="btn btn-link dropdown-toggle" dropdownToggle>
      <span class="caret"></span>
      <span class="sr-only">Split button!</span>
    </button>
        <ul class="dropdown-menu" dropdownMenu role="menu" aria-labelledby="split-button">
          <li role="menuitem"><a class="dropdown-item" href="#">Editar</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Eliminar</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Ver Detalle</a></li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Enviar a receptor</a></li>
        </ul>
      </div>


    </div>
    <div class="list-view-pf-main-info">
      <div class="list-view-pf-left">
        <span class="fa fa-plane list-view-pf-icon-sm"></span>
      </div>
      <div class="list-view-pf-body">

        <div class="list-view-pf-description">
          <div class="list-group-item-heading">
            F001-001251
          </div>
          <div class="list-group-item-text">
            Ahren Contratistas Generales SAC. Por compras de agregados <a href="#">mas...</a>.
          </div>
        </div>
        <div class="list-view-pf-additional-info">

          <div class="list-view-pf-additional-info-item">
            <span class="pficon pficon-screen"></span>
            <strong></strong> 10440952611
          </div>
          <div class="list-view-pf-additional-info-item">
            <span class="pficon pficon-screen"></span>
            <strong></strong> 3,2100.00
          </div>
          <div class="list-view-pf-additional-info-item">
            <span class="pficon pficon-cluster"></span>
            <strong></strong> 12/01/2016 11:55 am.
          </div>
          <div class="list-view-pf-additional-info-item">
            <span class="pficon pficon-container-node"></span>
            <strong></strong> 12/01/2016 11:55 am.
          </div>
          <div class="list-view-pf-additional-info-item">
            <span class="pficon pficon-image"></span>
            <strong></strong> <span class="label label-success">Aceptado</span>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="list-group-item">
    <div class="list-view-pf-checkbox">
      <input type="checkbox">
    </div>
    <div class="list-view-pf-actions">
      <div class="btn-group" dropdown>
        <button id="split-button" type="button" class="btn btn-default">Historial</button>
      </div>
      <div class="btn-group" dropdown>
        <button id="split-button" type="button" class="btn btn-default">Operaciones</button>
        <button type="button" class="btn btn-link dropdown-toggle" dropdownToggle>
      <span class="caret"></span>
      <span class="sr-only">Split button!</span>
    </button>
        <ul class="dropdown-menu" dropdownMenu role="menu" aria-labelledby="split-button">
          <li role="menuitem"><a class="dropdown-item" href="#">Editar</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Eliminar</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Ver Detalle</a></li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Enviar a receptor</a></li>
        </ul>
      </div>


    </div>
    <div class="list-view-pf-main-info">
      <div class="list-view-pf-left">
        <span class="fa fa-plane list-view-pf-icon-sm"></span>
      </div>
      <div class="list-view-pf-body">

        <div class="list-view-pf-description">
          <div class="list-group-item-heading">
            F001-001251
          </div>
          <div class="list-group-item-text">
            Ahren Contratistas Generales SAC. Por compras de agregados <a href="#">mas...</a>.
          </div>
        </div>
        <div class="list-view-pf-additional-info">

          <div class="list-view-pf-additional-info-item">
            <span class="pficon pficon-screen"></span>
            <strong></strong> 10440952611
          </div>
          <div class="list-view-pf-additional-info-item">
            <span class="pficon pficon-screen"></span>
            <strong></strong> 3,2100.00
          </div>
          <div class="list-view-pf-additional-info-item">
            <span class="pficon pficon-cluster"></span>
            <strong></strong> 12/01/2016 11:55 am.
          </div>
          <div class="list-view-pf-additional-info-item">
            <span class="pficon pficon-container-node"></span>
            <strong></strong> 12/01/2016 11:55 am.
          </div>
          <div class="list-view-pf-additional-info-item">
            <span class="pficon pficon-image"></span>
            <strong></strong> <span class="label label-success">Aceptado</span>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="list-group-item">
    <div class="list-view-pf-checkbox">
      <input type="checkbox">
    </div>
    <div class="list-view-pf-actions">
      <div class="btn-group" dropdown>
        <button id="split-button" type="button" class="btn btn-default">Historial</button>
      </div>
      <div class="btn-group" dropdown>
        <button id="split-button" type="button" class="btn btn-default">Operaciones</button>
        <button type="button" class="btn btn-link dropdown-toggle" dropdownToggle>
      <span class="caret"></span>
      <span class="sr-only">Split button!</span>
    </button>
        <ul class="dropdown-menu" dropdownMenu role="menu" aria-labelledby="split-button">
          <li role="menuitem"><a class="dropdown-item" href="#">Editar</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Eliminar</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Ver Detalle</a></li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Enviar a receptor</a></li>
        </ul>
      </div>


    </div>
    <div class="list-view-pf-main-info">
      <div class="list-view-pf-left">
        <span class="fa fa-plane list-view-pf-icon-sm"></span>
      </div>
      <div class="list-view-pf-body">

        <div class="list-view-pf-description">
          <div class="list-group-item-heading">
            F001-001251
          </div>
          <div class="list-group-item-text">
            Ahren Contratistas Generales SAC. Por compras de agregados <a href="#">mas...</a>.
          </div>
        </div>
        <div class="list-view-pf-additional-info">

          <div class="list-view-pf-additional-info-item">
            <span class="pficon pficon-screen"></span>
            <strong></strong> 10440952611
          </div>
          <div class="list-view-pf-additional-info-item">
            <span class="pficon pficon-screen"></span>
            <strong></strong> 3,2100.00
          </div>
          <div class="list-view-pf-additional-info-item">
            <span class="pficon pficon-cluster"></span>
            <strong></strong> 12/01/2016 11:55 am.
          </div>
          <div class="list-view-pf-additional-info-item">
            <span class="pficon pficon-container-node"></span>
            <strong></strong> 12/01/2016 11:55 am.
          </div>
          <div class="list-view-pf-additional-info-item">
            <span class="pficon pficon-image"></span>
            <strong></strong> <span class="label label-success">Aceptado</span>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>