<div class="alert alert-dismissable" [ngClass]="{
      'alert-danger': alert.type === 'error',
      'alert-warning': alert.type === 'warning',
      'alert-success': alert.type === 'success',
      'alert-info': !alert.type || alert.type === 'info',
      'toast-pf toast-pf-max-width toast-pf-top-right': alert.toast == true
    }">
  <button *ngIf="alert.showCloseButton" (click)="close($event, alert)" type="button" class="close">
    <span class="pficon pficon-close"></span><span class="sr-only">Close</span>
  </button>
  <span class="pficon" [ngClass]="{
        'pficon-error-circle-o': alert.type === 'error',
        'pficon-warning-triangle-o': alert.type === 'warning',
        'pficon-ok': alert.type === 'success',
        'pficon-info': !alert.type || alert.type === 'info'
      }"></span>
  <span class="sr-only">{{alert.type}}</span>

  <strong *ngIf="alert.message">{{alert.message}}</strong>
  <span *ngIf="alert.details">{{alert.details}}</span>
  <span *ngFor="let link of alert.links; let $last=last;">
        <a *ngIf="!link.href" href="" (click)="onLinkClick(alert, link)">{{link.label}}</a>
        <a *ngIf="link.href" href="{{link.href}}" (click)="onLinkClick(alert, link)">{{link.label}}</a>
        <span *ngIf="!$last" class="action-divider">|</span>
  </span>
</div>