<ol class="breadcrumb">
  <li>
    <a href="javascript:void(0);">Configuración</a>
  </li>
  <li class="active">Servidor de correos SMTP</li>
</ol>

<tabset>
  <tab heading="Facturas" (select)="loadFacturas()">
    <pfng-table [columns]="facturasColumns" [rows]="facturas"></pfng-table>
  </tab>
  <tab heading="Boletas" (select)="loadBoletas()">
    <pfng-table [columns]="boletasColumns" [rows]="boletas"></pfng-table>
  </tab>
  <tab heading="Notas de Credito">Basic content 2</tab>
  <tab heading="Notas de Debito">Basic content 2</tab>
</tabset>
