<div class="container-fluid">
	<ol class="breadcrumb">
		<li><a href="javascript:void(0);" routerLink="../overview">{{'settings' | translate}}</a></li>
		<li class="active"> {{organization.organization}}</li>
	</ol>
	<div>
		<h3>{{organization.organization}}
			<small>{{'created' | translate}} 
			<of-relative-timestamp [timestamp]="organization.createdTimestamp">			
			</of-relative-timestamp>
		</small>
		</h3>
	</div>
</div>

<br>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="tab-container">
				<ul class="nav nav-tabs">
					<li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="./">{{'general' | translate}}</a></li>
					<li routerLinkActive="active"><a routerLink="./additional-information">{{'additional-info' | translate}}</a></li>
					<li routerLinkActive="active"><a routerLink="./keys">{{'keys' | translate}}</a></li>
					<li routerLinkActive="active"><a routerLink="./smtp-settings">{{'email' | translate}}</a></li>
					<li routerLinkActive="active"><a routerLink="./theme-settings">{{'themes' | translate}}</a></li>
					<li routerLinkActive="active"><a routerLink="./tasks-settings">{{'tasks' | translate}}</a></li>
				</ul>
				<div class="tab-pane">
					<div>
						<router-outlet></router-outlet>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>