<div class="container-fluid">
	<ol class="breadcrumb">
		<li><a href="javascript:void(0);" routerLink="../overview">Settings</a></li>
		<li class="active"> {{organization.organization}}</li>
	</ol>
	<div>
		<h3>{{organization.organization}}
			<small>created 
			<of-relative-timestamp [timestamp]="organization.createdTimestamp">			
			</of-relative-timestamp>
		</small>
		</h3>
	</div>
</div>

<br>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="tab-container">
				<ul class="nav nav-tabs">
					<li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="./">General</a></li>
					<li routerLinkActive="active"><a routerLink="./additional-information">Additional</a></li>
					<li routerLinkActive="active"><a routerLink="./key-settings">Keys</a></li>
					<li routerLinkActive="active"><a routerLink="./smtp-settings">Email</a></li>
				</ul>
				<div class="tab-pane">
					<div>
						<router-outlet></router-outlet>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>