// $screen-sm: 767px !default;

.navbar-pf-alt {
    background: #292e34;
    border-bottom: 0;
    border-radius: 0;
    border-top: 0;
    min-height: inherit;
}

.logo-openfact {
    padding-top: 20px;
    width: 350px;
    font-size:80%;
 @media(max-width: 768px){
       padding-top: 10px;
    }





    
}
