<nav class="navbar navbar-pf-vertical navbar-pf-alt">

  <div class="navbar-header">
    <!-- mobile nav menu -->
    <button type="button" (click)="changeCollapsed()" class="navbar-toggle visible-xs-block">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
    </button>

    <!-- Js click handler for #openshift-logo -->   
    <a class="navbar-brand" id="logo" routerLink="/organizations" title="Openfact Enterprise"><strong>OPENFACT</strong> ENTERPRISE</a>
  </div>

  <navbar-utility></navbar-utility>

</nav>