<div class="page-header page-header-bleed-right page-header-bleed-left" style="border-bottom: 1px solid #d1d1d1; margin-top: 0; margin-bottom: 0; padding-left: 20px">
  <div class="row">
    <div class="col-md-12">
      <h1>Invoices</h1>
    </div>
  </div>
</div>

<div class="row toolbar-pf">
  <div class="col-sm-12">
    <form #searchForm="ngForm" (ngSubmit)="search()" class="toolbar-pf-actions">
      <div class="form-group toolbar-pf-filter">
        <label class="sr-only">Name</label>
        <div class="input-group">
          <div class="input-group-btn" ngbDropdown>
            <button type="button" class="btn btn-default" ngbDropdownToggle>Filters<span class="caret"></span></button>
            <ul class="dropdown-menu">
              <template ngFor let-item [ngForOf]="combo.issueDate" let-i="index">
                <li *ngIf="item.divider" class="divider"></li>
                <li><a (click)="changeIssueDateFilter(item)" href="javascript:void(0);">{{item.name}}</a></li>
              </template>
            </ul>
          </div>
          <input type="text" id="filterText" [(ngModel)]="filters.filterText" name="filterText" #filterText="ngModel" class="form-control"
            placeholder="Filter By Name..." autofocus>
        </div>
      </div>
      <!-- /filter -->

      <div class="form-group">
        <div class="btn-group" ngbDropdown>
          <button type="button" class="btn btn-default dropdown-toggle" ngbDropdownToggle>{{sorter.selected.name}} <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <template ngFor let-item [ngForOf]="combo.orderBy" let-i="index">
              <li *ngIf="item.divider" class="divider"></li>
              <li><a (click)="changeSorter(item)" href="javascript:void(0);">{{item.name}}</a></li>
            </template>
          </ul>
        </div>
        <button class="btn btn-link" type="button" (click)="changeAscending()">
              		<span class="fa fa-sort-alpha-{{sorter.ascending ? 'asc' : 'desc'}}"></span>
          		</button>
      </div>
      <!-- /sorter -->

      <div class="toolbar-pf-action-right">
        <div class="form-group toolbar-pf-find">
          <button class="btn btn-link btn-find" type="button">
						<span class="fa fa-search"></span>
					</button>
          <div class="find-pf-dropdown-container">
            <input type="text" class="form-control" id="find" placeholder="Find By Keyword...">
            <div class="find-pf-buttons">
              <span class="find-pf-nums">1 of 3</span>
              <button class="btn btn-link" type="button">
								<span class="fa fa-angle-up"></span>
							</button>
              <button class="btn btn-link" type="button">
								<span class="fa fa-angle-down"></span>
							</button>
              <button class="btn btn-link btn-find-close" type="button">
								<span class="pficon pficon-close"></span>
							</button>
            </div>
          </div>
        </div>
        <div class="form-group toolbar-pf-view-selector">
          <button class="btn btn-link"><i class="fa fa-th"></i></button>
          <button class="btn btn-link active"><i class="fa fa-th-large"></i></button>
          <button class="btn btn-link"><i class="fa fa-th-list"></i></button>
        </div>
      </div>
    </form>
    <div class="row toolbar-pf-results">
      <div class="col-sm-12">
        <h5>{{searchResult.totalSize}} Results</h5>
        <p *ngIf="filters.selected.keys().length > 0">Active filters:</p>
        <p *ngIf="filters.selected.keys().length == 0" class="text-muted">No Active filters</p>
        <ul *ngIf="filters.selected.keys().length > 0" class="list-inline">
          <li *ngFor="let item of filters.selected.keys()">
            <span class="label label-info">{{filters.selected.getValue(item).filter.name}}
							<a href="#"><span class="pficon pficon-close"></span></a>
            </span>
          </li>
        </ul>
        <p *ngIf="filters.selected.keys().length > 0">
          <a (click)="clearFilters()" href="javascript:void(0);">Clear All Filters</a>
        </p>
      </div>
      <!-- /col -->
    </div>
    <!-- /row -->
  </div>
  <!-- /col -->
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header-bleed-right page-header-bleed-left">
        <div class="hidden-xs pull-right">
          <a routerLink="../create" class="btn btn-default">New Invoice</a>
        </div>
        <h2>Search Results</h2>
        <div class="visible-xs-block">
          <a class="btn btn-default" routerLink="../create">New Invoice</a>
        </div>
      </div>
      <div class="page-header-bleed-right page-header-bleed-left">
        <div class="table-responsive">
          <table class="datatable table table-striped table-bordered dataTable no-footer table-mobile">
            <thead>
              <tr>
                <th>#</th>
                <th>ID</th>
                <th>Issue Date</th>
                <th>Type Code</th>
                <th class="text-right">Currency Code</th>
                <th class="text-right">Payable Ammount</th>
                <th class="text-right">Customer ID</th>
                <th colspan="2">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of searchResult.items; let i = index;">
                <td>{{i+1}}</td>
                <td>{{item.idUbl}}</td>
                <td>{{item.issueDateTime | date}}</td>
                <td>{{item.invoiceTypeCode}}</td>
                <td class="text-right">{{item.documentCurrencyCode}}</td>
                <td class="text-right">{{item.legalMonetaryTotal.payableAmount | number:'1.2-3'}}</td>
                <td class="text-right">{{item.accountingCustomerParty.customerAssignedAccountID}}</td>
                <td class="kc-action-cell" [routerLink]="[item.id]">Overview</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="dataTables_footer" *ngIf="searchResult.totalSize > paging.size">
          <ngb-pagination (pageChange)="changePagination($event)" [collectionSize]="searchResult.totalSize" [(page)]="paging.page"
            [(pageSize)]="paging.size"></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>